<div class="popup-page">
    <button
        mat-icon-button
        [disabled]="currentPage === 1"
        (click)="page(1)">
        <mat-icon>first_page</mat-icon>
    </button>
    <button
        mat-icon-button
        [disabled]="currentPage === 1"
        (click)="page(currentPage - 1)">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-button>
        {{ currentPage | currentPage:8 }}
    </button>
    <button
        mat-icon-button
        [disabled]="currentPage === totalPageCount || totalItemCount === 0"
        (click)="page(currentPage + 1)">
        <mat-icon>navigate_next</mat-icon>
    </button>
    <button
        mat-icon-button
        [disabled]="currentPage === totalPageCount || totalItemCount === 0"
        (click)="page(totalPageCount)">
        <mat-icon>last_page</mat-icon>
    </button>
</div>