@import 'src/styles/theme-default';

.popup-page {
    background-color: RGBA(81, 91, 227, 0.95);
    height: 40px;
    width: 375px;
    text-align: center;
    color: map-get($neo-line-default, 50);
}