@import 'src/styles/popup-default';

.popup-asset {
    overflow: hidden;
    height: 95px;
    font-weight: bold;

    &:hover {
        background-color: map-get($colors, f4f7fc);
        .popup-asset-top .right {
            visibility: visible;
        }
    }

    .popup-asset-item {
        margin: 15px;
    }

    .popup-asset-top {
        height: 39px;
        width: 100%;
        margin-left: 10px;
        display: flex;
        z-index: 99999;
        align-items: center;
        position: relative;

        &:hover {
            button {
                visibility: visible;
            }
        }

        .avatar {
            display: inline-block;
            width: 39px;
            height: 39px;
            margin-right: 12px;
            // background-color: rebeccapurple;
            border-radius: 5px;
        }

        .name {
            font-size: 13px;
        }

        .operator {
            position: absolute;
            right: 10px;
            cursor: pointer;
            height: 30px;
            width: 60px;
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;

            &:hover {
                button {
                    visibility: visible;
                }
            }

            span {
                width: 15px;
                height: 3px;
                display: inline-block;
                visibility: visible;
                @include bg($img-omi);
            }

            button {
                width: 86px;
                height: 30px;
                line-height: 30px;
                font-size: 13px;
                border-radius: 2px;
                text-align: left;
                position: absolute;
                top: 25px;
                right: 0;
                padding: 0 22px;
                visibility: hidden;
                color: map-get($colors, 484e6d);
                background: rgba(255, 255, 255, 1);
                box-shadow: 0px 1px 12px 0px rgba(0, 11, 131, 0.3);
            }
        }
    }

    .popup-asset-bottom {
        height: 40px;
        width: 100%;
        display: flex;
        justify-content: space-between;

        .left {
            display: inline-flex;
            align-items: center;
            margin-right: 5px;
            padding-left: 10px;
            overflow: hidden;

            .amount {
                font-size: 17px;
                color: map-get($colors, 333333);
            }

            .type {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .right {
            display: inline-flex;
            align-items: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        .type,
        .right {
            font-size: 12px;
            color: map-get($colors, 9fa8bd);
        }
    }
}

hr {
    border-width: 1px;
    width: 345px;
    margin: auto;
    border-color: map-get($colors, f2f2f2);
}
