<div class="popup-asset">
    <div class="popup-asset-item">
        <div class="popup-asset-top">
            <img class="avatar" [src]="asset?.avatar || ''" alt="">
            <span class="name">{{ asset?.name }}</span>
            <div class="operator" *ngIf="!asset?.balance && !fixed(asset.asset_id)">
                <span class="icon"></span>
                <button mat-raised-button (click)="delAsset(index)">{{ 'hidden' | translate | async}}</button>
            </div>
        </div>
        <div class="popup-asset-bottom">
            <div class="left">
                <span class="amount">{{ asset?.balance || '0'}}</span>&nbsp;
                <span class="type">{{ asset?.symbol }}</span>
            </div>
            <div class="right" *ngIf="asset?.rateBalance || asset?.rateBalance === 0">
                <span>{{asset?.rateBalance | number: '1.0-2'}}</span>&nbsp;{{rateCurrency}}
            </div>
        </div>
    </div>
</div>
<hr />
