<div class="nav">
    <div class="content">
        <img src="/assets/images/nav-back.png" routerLink="/popup/home" alt="">
        {{ 'addAsset' | translate | async}}
    </div>
    <div class="divide"></div>
</div>

<div class="search">
    <button>
        <span class="search-icon" (click)="searchCurrency()"></span>
        <input autofocus (keyup.enter)="searchCurrency()" [(ngModel)]="searchValue" type="text"
            [placeholder]="'searchAssetsInput' | translate | async">
        <img (click)="searchValue=''" *ngIf="searchValue" src="/assets/images/clear-search.png" class="clear" alt="">
    </button>
</div>

<p *ngIf="searchAssets" class="search-title">{{ 'searchResult' | translate | async}}</p>
<p *ngIf="!searchAssets" class="search-title">{{ 'searchAllResult' | translate | async}}</p>

<div class="popup-assets-list">
    <div class="loading" *ngIf="isLoading">{{ 'loading' | translate | async}}...</div>
    <ng-container *ngIf="!isLoading">
        <app-asset-search *ngFor="let asset of searchAssets || allAssets?.items;let index = index" [asset]="asset"
            [index]="index" [isSearchAssets]="searchAssets ? true : false" (onAddAsset)="addAsset($event)">
        </app-asset-search>
    </ng-container>
    <p *ngIf="searchAssets && searchAssets?.length===0" class="no-data">
        没有更多数据了
    </p>
</div>

<div class="popup-asset-page">
    <app-popup-pager *ngIf="!searchAssets" [currentPage]="allAssets?.page || 1" [totalPageCount]="allAssets?.pages || 0"
        [totalItemCount]="allAssets?.total || 0" (onPage)="page($event)"></app-popup-pager>
    <app-popup-pager *ngIf="searchAssets" [currentPage]="1" [totalPageCount]="0" [totalItemCount]="0"
        (onPage)="page($event)"></app-popup-pager>
</div>
