@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.popup-assets-top {
    background-color: map-get($neo-line-default, 500);

    div {
        @include bg($img-back);
    }

    button.add-currenycy {
        color: map-get($neo-line-default, 500);

        span {
            @include bg($img-manage-asset);
        }
    }

    button.search {
        background: map-get($neo-line-default, 50);
        span {
            @include bg($img-search);
        }
        ::-webkit-input-placeholder {
            color: map-get($colors, 9fa8bd);
        }
    }
}

.popup-assets-list {
    div:first-child {
        color: map-get($colors, f2f2f2);
    }

    .search-title {
        color: map-get($colors, 999999);
    }
}
