<div class="asset-item">
  <div class="asset-logo">
    <img [assetId]="asset?.asset_id" appErrorSrc alt="" />
  </div>
  <div class="item-middle">
    <div class="asset-name">
      <span>{{ asset.name }}</span>
      (<span>{{ asset.symbol }}</span
      >)
    </div>
    <p class="asset-id">{{ asset?.asset_id }}</p>
  </div>
  <button class="added" *ngIf="asset.watching || fixed()" disabled>
    <img src="assets/images/common/selected.svg" alt="" />
  </button>
  <button
    class="unadd"
    *ngIf="!asset.watching && !fixed()"
    (click)="addAsset()"
  >
    <img src="assets/images/asset/plus.svg" alt="" />
  </button>
</div>
