<section class="container">
  <p class="title">{{ "welcomeCreate" | translate | async }}</p>
  <form #walletForm="ngForm">
    <mat-form-field class="form-field" appearance="fill">
      <img matPrefix src="/assets/images/login/wallet.svg" alt="" />
      <mat-label>{{ "enterWalletName" | translate | async }}</mat-label>
      <input
        matInput
        [(ngModel)]="wallet.walletName"
        [minlength]="limit?.nameLimitation[0]"
        [maxlength]="limit?.nameLimitation[1]"
        name="walletName"
        #walletName="ngModel"
        required
      />
      <mat-error *ngIf="walletName.errors?.required"
        >{{ "walletNameIsRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="walletName.errors?.minlength"
        >{{ "lengthLimit" | translate | async }}:
        {{ limit?.nameLimitation[0] }}-{{ limit?.nameLimitation[1] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill" focused="true">
      <img matPrefix src="/assets/images/login/lock.svg" alt="" />
      <mat-label>{{ "enterPassword" | translate | async }}</mat-label>
      <input
        matInput
        [(ngModel)]="wallet.password"
        name="password"
        #password="ngModel"
        required
        [minlength]="limit?.passwordLimitation[0]"
        [maxlength]="limit?.passwordLimitation[1]"
        [pattern]="limit?.pattern"
        [type]="hidePwd ? 'password' : 'text'"
      />
      <img
        class="suffix"
        (click)="hidePwd = !hidePwd"
        matSuffix
        [src]="
          hidePwd
            ? 'assets/images/login/eye-hide.svg'
            : 'assets/images/login/eye-view.svg'
        "
      />
      <mat-error *ngIf="password.errors?.required"
        >{{ "passwordRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="password.errors?.minlength"
        >{{ "lengthLimit" | translate | async }}:
        {{ limit?.passwordLimitation[0] }}-{{ limit?.passwordLimitation[1] }}
      </mat-error>
      <!-- <mat-error *ngIf="password.errors?.pattern">
                {{ 'onlySupport' | translate | async}}: 0-9 A-Z a-z _-+=,.:!
            </mat-error> -->
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill" focused="true">
      <img matPrefix src="/assets/images/login/lock.svg" />
      <mat-label>{{ "enterConfirmPassword" | translate | async }}</mat-label>
      <input
        matInput
        [(ngModel)]="wallet.confirmPassword"
        name="confirmPassword"
        #confirmPassword="ngModel"
        required
        [minlength]="limit?.passwordLimitation[0]"
        [maxlength]="limit?.passwordLimitation[1]"
        [pattern]="limit?.pattern"
        [type]="hideConfirmPwd ? 'password' : 'text'"
        (keyup.enter)="
          !isInit &&
          !walletForm.invalid &&
          !loading &&
          confirmPassword.value == password.value
            ? submitCreate()
            : null
        "
      />
      <img
        class="suffix"
        (click)="hideConfirmPwd = !hideConfirmPwd"
        matSuffix
        [src]="
          hideConfirmPwd
            ? 'assets/images/login/eye-hide.svg'
            : 'assets/images/login/eye-view.svg'
        "
      />
      <mat-error
        *ngIf="
          confirmPassword.value != password.value && confirmPassword.value != ''
        "
      >
        {{ "confirmError" | translate | async }}</mat-error
      >
    </mat-form-field>
  </form>
  <div class="btn-group">
    <button
      class="confirm"
      (click)="submitCreate()"
      [ngClass]="{
        disabled:
          isInit ||
          walletForm.invalid ||
          loading ||
          confirmPassword.value != password.value
      }"
    >
      {{ (loading ? "creating" : "create") | translate | async }}
    </button>
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
  </div>
</section>
