<section class="container">
  <p class="title">{{ "welcomeCreate" | translate | async }}</p>
  <form [formGroup]="createForm">
    <mat-form-field class="form-field" appearance="fill">
      <img matPrefix theme src="/assets/images/login/wallet.svg" alt="" />
      <mat-label>{{ "enterWalletName" | translate | async }}</mat-label>
      <input matInput required formControlName="name" type="text" />
      <mat-error *ngIf="createForm.get('name').errors?.required"
        >{{ "walletNameIsRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="createForm.get('name').errors?.pattern"
        >{{ "lengthLimit" | translate | async }}:
        {{ limit?.nameLimitation[0] }}-{{ limit?.nameLimitation[1] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="!isOnePassword"
      class="form-field"
      appearance="fill"
      focused="true"
    >
      <img matPrefix theme src="/assets/images/login/lock.svg" alt="" />
      <mat-label>{{ "enterPassword" | translate | async }}</mat-label>
      <input
        matInput
        required
        formControlName="password"
        [type]="hidePwd ? 'password' : 'text'"
      />
      <img
        class="suffix"
        (click)="hidePwd = !hidePwd"
        matSuffix
        theme
        *ngIf="hidePwd"
        src="assets/images/login/eye-hide.svg"
      />
      <img
        class="suffix"
        (click)="hidePwd = !hidePwd"
        matSuffix
        theme
        *ngIf="!hidePwd"
        src="assets/images/login/eye-view.svg"
      />
      <mat-error *ngIf="createForm.get('password').errors?.required"
        >{{ "passwordRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="createForm.get('password').errors?.pattern"
        >{{ "lengthLimit" | translate | async }}:
        {{ limit?.passwordLimitation[0] }}-{{ limit?.passwordLimitation[1] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="!isOnePassword"
      class="form-field"
      appearance="fill"
      focused="true"
    >
      <img matPrefix theme src="/assets/images/login/lock.svg" />
      <mat-label>{{ "enterConfirmPassword" | translate | async }}</mat-label>
      <input
        matInput
        required
        [errorStateMatcher]="matcher"
        formControlName="confirmPassword"
        [type]="hideConfirmPwd ? 'password' : 'text'"
        (keyup.enter)="
          !isInit && !createForm.invalid && !loading ? submitCreate() : null
        "
      />
      <img
        class="suffix"
        (click)="hideConfirmPwd = !hideConfirmPwd"
        matSuffix
        theme
        *ngIf="hideConfirmPwd"
        src="assets/images/login/eye-hide.svg"
      />
      <img
        class="suffix"
        (click)="hideConfirmPwd = !hideConfirmPwd"
        matSuffix
        theme
        *ngIf="!hideConfirmPwd"
        src="assets/images/login/eye-view.svg"
      />
      <mat-error *ngIf="createForm.hasError('notSame')">
        {{ "confirmError" | translate | async }}
      </mat-error>
    </mat-form-field>
  </form>
  <div class="btn-group">
    <button
      class="confirm"
      (click)="submitCreate()"
      [ngClass]="{
        disabled: isInit || createForm.invalid || loading
      }"
    >
      {{ (loading ? "creating" : "create") | translate | async }}
    </button>
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
  </div>
</section>
