<section class="balance-changes">
  <div class="header">
    <div class="title-group">
      <p class="title">{{ "estimatedBalanceChanges" | translate | async }}</p>
      <tooltip
        placement="topLeft"
        [tip]="'estimatedBalanceChangesTip' | translate | async"
      >
        <img src="assets/images/common/tooltip.svg" alt="" />
      </tooltip>
    </div>
    <span class="no-changes-tag" *ngIf="noChanges">
      {{ "estimatedBalanceChangesNoChanges" | translate | async }}
    </span>
  </div>

  <p class="description loading" *ngIf="loading">
    <span class="spinner"></span>
    {{ "estimatedBalanceChangesLoading" | translate | async }}
  </p>

  <ng-container *ngIf="!loading">
    <ng-container *ngIf="reverted">
      <p class="failed">
        <img src="assets/images/common/warning.svg" alt="" />
        {{ "estimatedBalanceChangesFailed" | translate | async }}
      </p>
      <p class="revert-reason" *ngIf="result.revertReason">
        {{ result.revertReason }}
      </p>
    </ng-container>

    <p class="description" *ngIf="unavailable">
      {{ "estimatedBalanceChangesUnavailable" | translate | async }}
    </p>

    <ng-container *ngIf="!reverted && !unavailable">
      <div class="change" *ngFor="let change of changes">
        <span class="direction-label">
          {{
            (change.direction === "in"
              ? "estimatedBalanceChangesReceive"
              : "estimatedBalanceChangesSend"
            ) | translate | async
          }}
        </span>
        <span class="change-values">
          <span
            class="amount"
            [class.incoming]="change.direction === 'in'"
            [class.outgoing]="change.direction === 'out'"
          >
            {{ change.direction === "in" ? "+" : "-" }}{{ change.amount }}
            {{ change.symbol || (change.contractAddress | longStr : 6) }}
            <ng-container *ngIf="change.tokenId">#{{ change.tokenId }}</ng-container>
          </span>
          <span class="fiat" *ngIf="change.fiat">
            ≈ {{ change.fiat }} {{ rateCurrency }}
          </span>
        </span>
      </div>
    </ng-container>
  </ng-container>
</section>
