

.pop-ups-title {
  color: var(--title-color);
}

.content {
  padding: 16px 24px 24px;
  .tip {
    line-height: 20px;
  }
  input {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    border-radius: 4px;
    background: var(--box-color);
    margin-top: 12px;
  }
  .choose-group {
    margin-top: 32px;
    button {
      width: calc(50% - 12px);
      &.cancel {
        margin-right: 24px;
      }
    }
  }
}
