@import "src/styles/pop-ups-menu.scss";

header {
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  border-bottom: 1px solid var(--border-color);
  position: relative;
  &.notification-bg {
    border-bottom: none;
    background: var(--background-color);
  }
  &.theme-bg {
    border-bottom: none;
    img.logo {
      filter: drop-shadow(10000px 0 0 var(--network-color));
      transform: translate(-10000px);
    }
    button.network {
      border-color: var(--network-color);
      color: var(--network-color);
      img {
        filter: drop-shadow(10000px 0 0 var(--network-color));
        transform: translate(-10000px);
      }
    }
  }
  img.logo {
    height: 20px;
    margin-right: 25px;
    &.active {
      cursor: pointer;
    }
  }
  .right {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }
  button.network {
    min-width: 140px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    border-radius: 19px;
    border: 1px solid var(--sub-title-color);
    color: var(--title-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    cursor: pointer;
    span {
      display: inline-block;
      max-width: 130px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    &:hover {
      border: 1px solid var(--theme-color);
      box-shadow: 0px 8px 15px -8px rgba(6, 204, 171, 0.5);
      img {
        filter: drop-shadow(10000px 0 0 var(--theme-color));
        transform: translate(-10000px);
      }
    }
    &.disabled {
      pointer-events: none;
    }
    img {
      margin-left: 10px;
    }
  }
  img.menu {
    cursor: pointer;
  }
  .pop-ups-menu {
    width: 234px;
    position: absolute;
    right: 16px;
    top: 64px;
    .border-bottom {
      border-bottom: 1px solid var(--line-color);
    }
  }
}
