@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.logo .version {
    color: #666666;
}
.blocks > div.home {
    background-image: url('/assets/images/about_home.png');
}
.blocks > div.contact {
    background-image: url('/assets/images/about_contact.png');
}
.blocks > div.terms {
    background-image: url('/assets/images/about_terms.png');
}
.blocks > div.policy {
    background-image: url('/assets/images/about_policy.png');
}

.blocks > div.home:hover {
    background-image: url('/assets/images/about_home_active.png');
}
.blocks > div.contact:hover {
    background-image: url('/assets/images/about_contact_active.png');
}
.blocks > div.terms:hover {
    background-image: url('/assets/images/about_terms_active.png');
}
.blocks > div.policy:hover {
    background-image: url('/assets/images/about_policy_active.png');
}

.blocks div {
    p {
        color: map-get($colors, 282828);
    }
}
