<div class="logo">
    <img src="/assets/images/logo.png" alt="" class="icon">
    <br />
    <img src="/assets/images/about_name.png" alt="" class="name">
    <p class="version" *ngIf="version !== ''">{{ 'version' | translate | async }}: {{ version }}</p>
</div>
<div class="blocks">
    <div class="home">
        <p>{{ 'companyWebsite' | translate | async }}</p>
    </div>
    <div class="contact">
        <p>{{ 'contactUs' | translate | async }}</p>
    </div>
    <br />
    <div class="terms">
        <p>{{ 'termsOfUse' | translate | async }}</p>
    </div>
    <div class="policy">
        <p>{{ 'privacyPolicy' | translate | async }}</p>
    </div>
</div>
