<div class="nav">
    <div class="content">
        <img src="/assets/images/nav-back.png" routerLink="/popup/home" alt="">
        {{ 'addAsset' | translate | async}}
    </div>
    <div class="divide"></div>
</div>

<div class="search">
    <button>
        <span class="search-icon" (click)="searchCurrency()"></span>
        <input autofocus (keyup.enter)="searchCurrency()" [(ngModel)]="searchValue" type="text"
            [placeholder]="'searchAssetsInput' | translate | async">
        <img (click)="searchValue=''" *ngIf="searchValue" src="/assets/images/clear-search.png" class="clear" alt="">
    </button>
</div>

<div class="my-assets" routerLink="/popup/my-assets">{{ 'myAssets' | translate | async }}<img src="/assets/images/arrow-right.png" alt=""></div>

<p *ngIf="searchAssets" class="search-title">{{ 'searchResult' | translate | async}}</p>
<p *ngIf="!searchAssets" class="search-title">{{ 'recommendedAssets' | translate | async }}</p>

<div class="popup-assets-list" appScroll (scrollChange)="onScrolltaChange($event)">
    <app-asset-item *ngFor="let asset of searchAssets || allAssets?.items;let index = index" [asset]="asset"
        [index]="index" [isSearchAssets]="searchAssets ? true : false" (onAddAsset)="addAsset($event)">
    </app-asset-item>
    <div class="loading" *ngIf="isLoading">{{ 'loading' | translate | async}}</div>
    <p *ngIf="searchAssets && searchAssets?.length===0" class="no-data">
        {{ 'noMoreData' | translate | async }}
    </p>
</div>
