@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.nav {
    height: 65px;
    background-color: #06ccab;
    position: relative;
    .content {
        height: 30px;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        align-items: center;

        img {
            height: 30px;
            margin-right: 11px;
            cursor: pointer;
        }
    }
    .divide {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        background: #ffffff;
        border-radius: 15px 15px 0px 0px;
    }
}

.search {
    margin: 10px 15px 0 10px;
    ::-webkit-input-placeholder {
        color: #ced2da;
    }
    button {
        width: 100%;
        height: 45px;
        line-height: 45px;
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 23px;
        border: none;
        background: #fafafa;
        padding: 0 20px;
    }

    span.search-icon {
        display: inline-block;
        width: 12px;
        height: 12px;
        margin-right: 8px;
        cursor: pointer;
        @include bg($img-search);
    }
    img.clear {
        width: 15px;
        margin-left: 8px;
        cursor: pointer;
    }

    input {
        border: none;
        font-size: 16px;
        flex: 1;
        color: #444644;
        background: none;
    }
}

.my-assets {
    padding: 0 20px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        bottom: -6px;
        left: 0;
        right: 0;
        height: 6px;
        background: #F5F5F5;
    }
    img {
        height: 11px;
    }
    .red-circle {
        display: inline-block;
        height: 8px;
        width: 8px;
        border-radius: 8px;
        background: #FA5656;
    }
}

.search-title {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 15px;
    color: #07ccab;
}

.popup-assets-list {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: scroll;
    margin-top: 5px;
    height: 300px;
    font-size: 15px;
    &::-webkit-scrollbar {
        display: none;
    }
    .no-data, .loading {
        margin-top: 40px;
        text-align: center;
        font-size: 15px;
        color: #b0b6be;
    }
}
