@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.get-claim-box {
    .info-box {
        .info-status {
            color: rgba(0, 0, 0, 0.3);
        }
    }

    button {
        box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 500);
    }
}

.popup-home-filter {
    .popup-home-filter-tip {
        div:first-child {
            @include bg($img-filter);
        }
    }

    .popup-home-filter-option {
        button {
            border: 1px solid map-get($colors, e5e5e5);

            span {
                @include bg($img-dropdown);
            }
        }
    }
}
