@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.get-claim-box {
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 12px;
    align-items: center;
    img {
        width: 40px;
        height: 40px;
        margin-right: 12px;
    }
    .info-box {
        flex-grow: 1;
        font-size: 12px;
        .info-status {
            color: rgba(0, 0, 0, 0.3);
        }
    }
    button {
        height: 35px;
        border-radius: 17px;
        border-radius: 17px;
        font-weight: 500;
        cursor: pointer;
        font-size: 12px;
        box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 500);

        mat-spinner {
            margin: auto;
        }
        img {
            width: 15px;
            height: 15px;
            margin: auto;
        }
    }
}

.popup-home-filter {
    overflow: hidden;
    height: 25px;

    .popup-home-filter-title {
        height: 25px;
        line-height: 25px;
        font-size: 13px;
        font-weight: bold;
        float: left;
        margin-left: 15px;
    }

    .popup-home-filter-tip {
        margin-right: 9px;
        overflow: hidden;
        float: right;

        div {
            float: left;
        }

        div:first-child {
            width: 10px;
            height: 10px;
            margin-top: 8px;
            margin-right: 5px;
            @include bg($img-filter);
        }

        div:last-child {
            height: 25px;
            line-height: 25px;
            font-size: 12px;
        }
    }

    .popup-home-filter-option {
        width: 97px;
        height: 25px;
        float: right;
        margin-right: 15px;

        button {
            width: 97px;
            height: 25px;
            line-height: 25px;
            border-radius: 12px;
            padding: 0;
            border: 1px solid map-get($colors, e5e5e5);

            span {
                display: inline-block;
                width: 6px;
                height: 3px;
                @include bg($img-dropdown);
            }
        }
    }
 }
