@import 'src/styles/theme-default';
@import './light';
@import './dark';

:host {
    z-index: 21;
    position: fixed;
    width: 424px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 4px;
    padding: $space;
    overflow: hidden;
}

.close {
    height: 80px;
    width: 80px;
    position: absolute;
    right: -40px;
    top: -40px;
}

.close mat-icon {
    float: left;
    width: 15px;
    height: 15px;
    margin-left: 12px;
    margin-top: 24px;
}

@media screen and (max-width: 1200px) {
    :host {
        width: 300px;
    }
}

mat-spinner {
    display: inline-block;
}

input.pwd {
    height: 38px;
    line-height: 38px;
    border-radius: 4px;
    padding-left: 10px;
    margin-top: $space;
    display: block;
    width: 100%;
}

p {
    word-break: break-all;
}

p.name {
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    margin: $space 0;
}

p.address {
    height: 38px;
    line-height: 38px;
    text-align: center;
    border-radius: 4px;
    font-size: 12px;
}

p.wif {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 8px;
}

p.title {
    text-align: center;
    font-size: 15px;
    margin: $space 0;
    font-weight: bold;
}

p.title-pwd {
    margin-left: 10px;
    font-size: 13px;
}

.btns {
    margin: $space 0;
}

.btns button:not(.confirm) {
    display: inline-block;
    width: 45%;
}

.btns button.confirm {
    display: block;
    width: 100%;
}

.tip {
    padding: 10px 25px 10px 12px;
    font-size: 12px;
    margin-top: $space;
    line-height: 18px;
}
