@import 'src/styles/theme-default';

.popup-home-option {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;

    button {
        width: 80px;
        height: 35px;
    }

    button:first-child {
        border-radius: 17px;
        font-weight: 500;
        margin-right: 25px;
        background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
        box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 50);
    }

    button:last-child {
        border-radius: 17px;
        font-weight: 500;
        box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 500);
    }
}
