.bridge-content {
  margin: 0 8px;
  padding: 24px 16px 28px 16px;
  border-radius: 4px;
  background: var(--btn-title-color);
  box-shadow: var(--popups-box-shadow);
  position: relative;
  .bridge-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    .asset {
      display: inline-block;
      border-radius: 24px;
      background: #f5f9f9;
      border: 0.5px solid #0ac7b7;
      padding: 6px 16px;
      color: var(--second-color);
      font-size: 16px;
      :host-context([data-theme-style="dark-theme"]) & {
        background: #363940;
        border-color: #11baac;
      }
    }
  }
  .item {
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    background: #f5f9f9;
    :host-context([data-theme-style="dark-theme"]) & {
      background: #303135;
    }
    &.from .input-amount .rate {
      height: 18px;
    }
    &.to {
      position: relative;
      margin-top: 4px;
      img.exchange {
        width: 32px;
        height: 32px;
        position: absolute;
        left: 50%;
        margin-left: -16px;
        top: -18px;
      }
      .select {
        flex: 1;
        border-radius: 8px;
        padding: 12px;
        background: #e9f0f0;
        font-size: 13px;
        font-weight: normal;
        text-align: center;
        color: var(--bridge-label-color);
        cursor: pointer;
        &:hover {
          border: 0.5px solid var(--bridge-select-border);
        }
        &.hasAddress {
          color: var(--title-color);
        }
        :host-context([data-theme-style="dark-theme"]) & {
          background: #363940;
        }
      }
    }
    .label {
      font-size: 12px;
      line-height: 16px;
      color: var(--bridge-label-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .balance {
        font-size: 13px;
        color: var(--sub-title-color);
        display: inline-flex;
        align-items: center;
        gap: 8px;
        .max {
          color: #0ac7b7;
          cursor: pointer;
          &:hover {
            color: #4bccc1;
          }
        }
      }
    }
    .input-amount {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      .chain {
        width: 96px;
        border-radius: 8px;
        padding: 12px;
        background: #ffffff;
        border: 0.5px solid #cfdfe5;
        color: var(--title-color);
        text-align: center;
        :host-context([data-theme-style="dark-theme"]) & {
          background: #43464d;
          border-color: #9fa2a9;
        }
      }
      .amount {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 2px;
        align-items: flex-end;
        line-height: 18px;
        color: var(--sub-title-color);
        input {
          width: 100%;
          padding-left: 12px;
          font-size: 20px;
          line-height: 24px;
          color: var(--title-color);
          text-align: right;
          font-family: NeverMind-DemiBold;
          &::placeholder {
            font-size: 14px;
          }
        }
      }
    }
  }
  ul.fee {
    margin-top: 12px;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 8px;
      .label {
        display: inline-flex;
        align-items: center;
        gap: 4px;
        line-height: 18px;
        color: var(--sub-title-color);
      }
    }
  }
  button {
    width: 100%;
    margin-top: 16px;
  }
}

.tx-history {
  margin-left: 40px;
  margin-top: 12px;
  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 12px;
    font-weight: 500;
    color: var(--title-color);
  }
  .name {
    width: 70px;
  }
  .tx {
    text-decoration: underline;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    &:hover {
      color: var(--theme-color);
      img {
        filter: drop-shadow(1000px 0 0 var(--theme-color));
        transform: translate(-1000px);
      }
    }
  }
}
