<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
  </div>
</div>

<nav title="Bridge" *ngIf="!showConfirmPage"></nav>
<nav
  title="Bridge"
  [backUrl]="'/popup/bridge'"
  (backEvent)="showConfirmPage = false"
  *ngIf="showConfirmPage"
></nav>

<div class="bridge-content" *ngIf="!showConfirmPage">
  <div class="bridge-header">
    <div
      class="asset"
      (mouseenter)="showAssetList()"
      (mouseleave)="hideAssetList()"
    >
      <token-logo
        [assetId]="bridgeAsset?.asset_id"
        [chainType]="chainType"
        [symbol]="bridgeAsset?.symbol"
        [neoXChainId]="neoXNetwork.chainId"
        customClass="bridge"
      ></token-logo>
      {{ bridgeAsset.symbol }}
      <img class="arrow" theme src="assets/images/common/arrow.svg" alt="" />
    </div>
    <ul
      *ngIf="isShowAssetList"
      (mouseenter)="showAssetList()"
      (mouseleave)="hideAssetList()"
      class="asset-list"
    >
      <li
        *ngFor="let item of bridgeAssetList"
        (click)="selectBridgeAsset(item)"
      >
        <token-logo
          [assetId]="item?.asset_id"
          [chainType]="chainType"
          [symbol]="item?.symbol"
          [neoXChainId]="neoXNetwork.chainId"
          customClass="bridge"
        ></token-logo>
        {{ item.symbol }}
      </li>
    </ul>
    <bridge-footnote
      *ngIf="currentBridgeNetwork === 'MainNet'"
      [currentBridgeNetwork]="currentBridgeNetwork"
    ></bridge-footnote>
  </div>
  <div class="item from">
    <div class="label">
      <span>{{ "From" | translate | async }}</span>
      <p class="balance">
        <img theme src="assets/images/login/wallet.svg" alt="" />
        {{ bridgeAsset.balance || 0 | numberFixed : 8 }}
        {{ bridgeAsset.symbol }}
        <span class="max" (click)="bridgeAll()">{{
          "Max" | translate | async
        }}</span>
      </p>
    </div>
    <div class="input-amount">
      <span class="chain">{{ chainType === "NeoX" ? "NeoX" : "Neo N3" }}</span>
      <div class="amount">
        <input
          type="text"
          min="0"
          [(ngModel)]="bridgeAmount"
          (input)="checkBridgeAmount($event)"
          placeholder="Enter amount"
        />
        <p class="rate">
          {{
            bridgeAmount && bridgeAsset.rateBalance
              ? bridgeAsset.rateBalance + " " + rateCurrency
              : ""
          }}
        </p>
      </div>
    </div>
  </div>
  <div class="item to">
    <img
      theme
      class="exchange"
      src="assets/images/bridge/exchange.svg"
      alt=""
    />
    <div class="label">{{ "ToAddress" | translate | async }}</div>
    <div class="input-amount">
      <span class="chain">{{ chainType === "NeoX" ? "Neo N3" : "NeoX" }}</span>
      <div
        class="select"
        [ngClass]="{ hasAddress: toAddress }"
        (click)="selectToAddress()"
      >
        {{
          toAddress
            ? (toAddress | longStr : 8)
            : ("selectAddress" | translate | async)
        }}
      </div>
    </div>
  </div>
  <ul class="fee">
    <li>
      <span class="label">
        {{ "bridgeFee" | translate | async }}
        <tooltip [tip]="'bridgeFeeDesc' | translate | async" placement="right">
          <img src="assets/images/common/tooltip.svg" alt="" />
        </tooltip>
      </span>
      <p>{{ bridgeFee }} GAS</p>
    </li>
    <li>
      <span class="label">{{ "ActualReceive" | translate | async }}</span>
      <p>{{ getActualReceive() }} {{ bridgeAsset.symbol }}</p>
    </li>
  </ul>
  <button
    *ngIf="!isApproveBtn"
    class="confirm pop-ups"
    [ngClass]="{ disabled: !bridgeAmount || !toAddress }"
    (click)="confirm()"
  >
    {{ (chainType === "Neo3" ? "Deposit" : "Withdraw") | translate | async }}
  </button>
  <button
    *ngIf="isApproveBtn"
    class="confirm pop-ups"
    [ngClass]="{ disabled: !bridgeAmount || !toAddress }"
    (click)="showApprove()"
  >
    <loading-dot *ngIf="isApproving"></loading-dot>
    {{ (isApproving ? "approving" : "Approve") | translate | async }}
    {{ isApproving ? "" : bridgeAsset.symbol }}
  </button>
</div>

<div class="tx-history" *ngIf="!showConfirmPage && sessionFirstTx?.txId">
  <ng-container *ngIf="sessionFirstTx.type === 'bridge'">
    <div class="item">
      <div class="left">
        <mat-spinner
          *ngIf="!sessionTx.sourceTxID"
          strokeWidth="2"
          diameter="17"
          (click)="openTxModal()"
        ></mat-spinner>
        <span
          *ngIf="sessionTx.sourceTxID"
          class="checked-icon"
          (click)="openTxModal()"
        ></span>
        <span class="name">
          {{
            (sessionTx.sourceChainType === "Neo3"
              ? !sessionTx.sourceTxID
                ? "Depositing"
                : "Deposited"
              : !sessionTx.sourceTxID
              ? "Withdrawing"
              : "Withdrawn"
            )
              | translate
              | async
          }}
        </span>
      </div>
      <span *ngIf="sessionTx.sourceTxID" (click)="toViewTx()" class="tx">
        {{ "ViewTransaction" | translate | async }}
        <img theme src="/assets/images/bridge/tx-link.svg" alt="" />
      </span>
    </div>
    <div class="item" *ngIf="sessionTx.sourceTxID">
      <div class="left">
        <mat-spinner
          *ngIf="!sessionTx.targetTxID"
          strokeWidth="2"
          diameter="17"
          (click)="openTxModal()"
        ></mat-spinner>
        <span
          *ngIf="sessionTx.targetTxID"
          class="checked-icon"
          (click)="openTxModal()"
        ></span>
        <span class="name">
          {{
            (!sessionTx.targetTxID ? "Transferring" : "Transferred")
              | translate
              | async
          }}
        </span>
      </div>
      <span *ngIf="sessionTx.targetTxID" (click)="toViewTx(false)" class="tx">
        {{ "ViewTransaction" | translate | async }}
        <img theme src="/assets/images/bridge/tx-link.svg" alt="" />
      </span>
    </div>
  </ng-container>
  <ng-container *ngIf="sessionFirstTx.type === 'approval'">
    <div class="item">
      <div class="left">
        <span class="checked-icon"></span>
        <span class="name">
          {{
            "TokenApproved"
              | translate : { symbol: sessionFirstTx.asset.symbol }
              | async
          }}
        </span>
      </div>
      <span
        (click)="
          toViewApproveTx(sessionFirstTx.neoXExplorer, sessionFirstTx.txId)
        "
        class="tx"
      >
        {{ "ViewTransaction" | translate | async }}
        <img theme src="/assets/images/bridge/tx-link.svg" alt="" />
      </span>
    </div>
  </ng-container>
</div>

<neo3-bridge-confirm
  *ngIf="showConfirmPage && chainType === 'Neo3'"
  [bridgeAsset]="bridgeAsset"
  [bridgeAmount]="bridgeAmount"
  [toAddress]="toAddress"
  [n3Network]="n3Network"
  [unSignedTx]="unSignedTx"
  [networkFee]="networkFee"
  [networkFeeWithoutPriorityFee]="networkFeeWithoutPriorityFee"
  [systemFee]="systemFee"
  [priorityFee]="priorityFee"
  [currentWallet]="currentWallet"
  [invokeArgs]="invokeArgs"
  [signers]="signers"
  [rateCurrency]="rateCurrency"
  (backAmount)="handleTxhash($event)"
></neo3-bridge-confirm>

<neox-bridge-confirm
  *ngIf="showConfirmPage && chainType === 'NeoX'"
  [bridgeAsset]="bridgeAsset"
  [bridgeAmount]="bridgeAmount"
  [toAddress]="toAddress"
  [currentWallet]="currentWallet"
  [neoXFeeInfo]="neoXFeeInfo"
  [neoXNetwork]="neoXNetwork"
  [txParams]="neoXTxParams"
  [rateCurrency]="rateCurrency"
  (backAmount)="handleTxhash($event)"
></neox-bridge-confirm>
