.nav {
  height: 65px;
  background-color: #06ccab;
  position: relative;
  .content {
    height: 30px;
    padding-top: 5px;
    font-size: 20px;
    font-weight: 500;
    color: #ffffff;
    display: flex;
    align-items: center;

    img {
      height: 30px;
      margin-right: 11px;
      cursor: pointer;
    }
  }
  .divide {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15px;
    background: #ffffff;
    border-radius: 15px 15px 0px 0px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 15px 40px;
  img.qrcode {
    position: absolute;
    top: 20px;
    right: 25px;
    height: 20px;
  }
  img.avatar {
    width: 80px;
  }
  .name {
    font-size: 20px;
    font-weight: bold;
    color: #303433;
    margin-top: 20px;
    position: relative;
    &::after {
      content: "";
      width: 13px;
      height: 13px;
      // background: url(assets/images/edit.png);
      background-size: 100% 100%;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      right: -33px;
      top: 8px;
    }
  }
  .address-title {
    font-size: 13px;
    font-weight: 500;
    color: #7f8993;
    margin-top: 15px;
    &:first-child {
      margin-top: 30px;
    }
  }
  .address {
    margin-top: 15px;
    width: 100%;
    background: #fafafa;
    border-radius: 10px;
    padding: 16px 19px;
    font-weight: 500;
    color: #7f8993;
    line-height: 18px;
    font-size: 14px;
    word-break: break-all;
  }
  button {
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: 400;
  }
  .key {
    background: #06ccab;
    color: #ffffff;
    margin-top: 40px;
  }
  .link {
    background: #ecfbf1;
    color: #06ccab;
    margin-top: 15px;
  }
}
