<nav title="accountDetails"></nav>

<div class="container">
  <img
    class="qrcode"
    (click)="qrcode()"
    src="/assets/images/account/detail-qr-code.svg"
    alt=""
  />
  <img class="avatar" [avatar]="address" />
  <div class="name-content">
    <div class="name" *ngIf="showEditName === false">
      <span>{{ currentWallet.name }}</span
      ><img (click)="editName()" src="assets/images/account/detail-edit.svg" />
    </div>
    <div class="edit" *ngIf="showEditName">
      <input
        #inputDom
        type="text"
        [(ngModel)]="inputName"
        [ngClass]="{ warn: inputName.trim() === '' }"
        (keyup.enter)="updateName()"
      />
      <img (click)="updateName()" src="assets/images/common/selected.svg" />
    </div>
  </div>

  <p class="label">{{ "address" | translate | async }}</p>
  <div class="value">
    <span>{{ address }}</span
    ><img (click)="copy(address)" src="assets/images/common/copy.svg" />
  </div>

  <p class="label">{{ "PublicKey" | translate | async }}</p>
  <div class="value">
    <span>{{ publicKey }}</span
    ><img (click)="copy(publicKey)" src="assets/images/common/copy.svg" />
  </div>

  <button *ngIf="!isLedger" class="confirm key" (click)="wif()">
    {{ "displayWIF" | translate | async }}
  </button>
  <button class="cancel link" (click)="toWeb()">
    {{ "viewOnNeoTube" | translate | async }}
  </button>
</div>
