copy {
  width: 100%;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 16px 24px;
  img.qrcode {
    position: absolute;
    top: 16px;
    right: 24px;
    cursor: pointer;
  }
  img.avatar {
    width: 56px;
  }
  .name-content {
    height: 63px;
    .name {
      font-family: NeverMind-Medium;
      font-size: 18px;
      color: var(--title-color);
      padding-top: 16px;
      display: flex;
      align-items: center;
      span {
        display: inline-block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img {
        margin-left: 12px;
        cursor: pointer;
      }
    }
    .edit {
      width: 279px;
      padding-top: 8px;
      position: relative;
      input {
        width: 100%;
        height: 32px;
        border-radius: 2px;
        border: 1px solid var(--tip-color);
        font-family: NeverMind-Medium;
        color: var(--title-color);
        text-align: center;
        &.warn {
          border-color: var(--warn-color);
        }
      }
      img {
        width: 14px;
        position: absolute;
        top: 19px;
        right: -24px;
      }
    }
  }
  .label {
    width: 100%;
    font-family: NeverMind-Regular;
    font-size: 14px;
    color: var(--sub-title-color);
    margin-left: 7px;
    text-align: left;
    &:not(:first-of-type) {
      margin-top: 24px;
    }
  }
  .value {
    width: 100%;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    background: var(--hover-color);
    margin-top: 10px;
    padding: 10px 24px 10px 16px;
    cursor: pointer;
    span {
      width: 260px;
      display: inline-block;
      line-height: 18px;
      font-family: NeverMind-Regular;
      color: var(--title-color);
      font-size: 12px;
      word-break: break-all;
    }
  }
  button {
    width: 100%;
    border-radius: 8px;
    background: #F5F9F9;
    color: #0AC7B7;
    text-align: left;
    padding: 0 16px;
    cursor: pointer;
    &:hover {
      background: #0AC7B7;
      color: #fff;
    }
    &.key {
      margin-top: 16px;
    }
    &.mnemonic {
      margin-top: 8px;
    }
  }
}

button.remove {
  width: calc(100% - 48px);
  position: absolute;
  left: 24px;
  right: 24px;
  bottom: 24px;
  border-radius: 24px;
  border: 0.5px solid #CFDFE5;
  color: var(--error-color);
  cursor: pointer;
  &:hover {
    border-color: rgba(250, 85, 85, 0.16);
    background: rgba(250, 85, 85, 0.16);
  }
}
