.content {
  cursor: pointer;
  img.logo {
    width: 20px;
    height: 20px;
    border-radius: 50%;
  }
  .has-auth {
    height: 20px;
    padding: 2px 12px 2px 2px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 4px;
    background: #e9f0f0;
    position: relative;
    &:hover {
      background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
        #e9f0f0;
    }
    :host-context([data-theme-style="dark-theme"]) & {
      background: rgba(255, 255, 255, 0.04);
      &:hover {
        background: #686868;
      }
    }
    .status-dot {
      position: absolute;
      left: 15px;
      top: 1px;
      width: 5.4px;
      height: 5.4px;
      border-radius: 50%;
      background: #0abf92;
    }
    img.logo {
      width: 16px;
      height: 16px;
    }
    .current-status {
      font-family: NeverMind;
      font-size: 10px;
      font-weight: normal;
      letter-spacing: 0.01em;
      color: #0ac7b7;
      &.connected {
        color: #7d9299;
      }
    }
  }
}

.connect-website {
  max-width: 600px;
  margin: 0 auto;
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background: #303334;
  opacity: 0.9;
  border-radius: 4px;
  padding: 16px;
  z-index: 9999999;
  font-family: NeverMind;
  font-weight: normal;
  line-height: 18px;
  color: #b9babe;
  display: flex;
  align-items: center;
  gap: 8px;
  img.avatar {
    width: 30px;
    height: 30px;
  }
  .connect {
    color: var(--theme-color);
    margin-left: 4px;
    cursor: pointer;
  }
}

@media screen and (min-width: 700px) {
  .content .has-auth .current-status {
    font-size: 12px;
  }
}
