.content {
  width: 24px;
  height: 24px;
  position: relative;
  cursor: pointer;
  img.logo {
    width: 24px;
    height: 24px;
    border-radius: 50%;
  }
  .status {
    position: absolute;
    right: 1px;
    top: 1px;
    width: 5.4px;
    height: 5.4px;
    border-radius: 50%;
    background: #ff843d;
    &.connected {
      background: #0abf92;
    }
  }
}
