<div class="content" (click)="viewAllAuth()">
  <div class="has-auth" *ngIf="authWalletList.length > 0">
    <img class="logo" [src]="favIconUrl" alt="" />
    <span
      class="current-status"
      [ngClass]="{ connected: currentWalletIsConnected }"
      >{{
        (currentWalletIsConnected ? "Connected" : "connect") | translate | async
      }}</span
    >
    <span *ngIf="currentWalletIsConnected" class="status-dot"></span>
  </div>
  <img
    class="logo"
    theme
    *ngIf="authWalletList.length <= 0"
    src="assets/images/common/dapp-auth.svg"
    alt=""
  />
</div>

<div
  class="connect-website"
  *ngIf="authWalletList.length > 0 && !currentWalletIsConnected"
>
  <img class="avatar" [avatar]="currentWallet.accounts[0].address" alt="" />
  <div>
    <span>
      {{
        "notConnectWebsiteDesc"
          | translate : { name: currentWallet.name, origin: locationOrigin }
          | async
      }}
    </span>
    <span class="connect" (click)="connectCurrentWallet()">
      {{ "connectWebsite" | translate | async }}
    </span>
  </div>
</div>
