<div class="content" (click)="viewAllAuth()">
  <div class="has-auth" *ngIf="authWalletList.length > 0">
    <img class="logo" [src]="favIconUrl" alt="" />
    <span
      class="current-status"
      [ngClass]="{ connected: currentWalletIsConnected }"
      >{{
        (currentWalletIsConnected ? "connected" : "notConnected")
          | translate
          | async
      }}</span
    >
  </div>
  <img
    class="logo"
    theme
    *ngIf="authWalletList.length <= 0"
    src="assets/images/common/dapp-auth.svg"
    alt=""
  />
</div>
