@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 47px;
}

section {
    padding: 47px 20px 0 40px;

    .title {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .title-small {
        font-size: 16px;
        font-weight: bold;
    }

    .tip {
        font-size: 14px;
        font-weight: 500;
    }

    .option-btn {
        display: inline-block;
        min-width: auto;
        height: 40px;
        line-height: 40px;
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
    }
}

section.lang {
    background-position: 33px 35px;
    background-size: 15px 36px;
}

section.cache {
    background-position: 26px 35px;
    background-size: 23px 36px;
}

section.rate {
    background-position: 25px 35px;
    background-size: 26px 36px;
}

section.privacy {
    background-position: 25px 35px;
    background-size: 25px 36px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;

    .setting-item-left {
        margin-right: 10px;
    }
}

.border-bottom {
    padding-bottom: 30px;
}

.lang {
    mat-radio-group {
        margin-top: 24px;
    }

    mat-radio-button {
        font-size: 16px;
    }
}

.rate {
    .setting-item {
        align-items: center;
    }

    .asset-item {
        margin-bottom: 30px;
    }

    .asset-btn {
        width: 120px;
        height: 36px;
        line-height: 36px;
        border-radius: 18px;
        font-size: 12px;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        padding-right: 30px;

        .asset-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -6px;
            width: 12px;
            height: 12px;
            display: inline-block;
        }
    }
}

.privacy {
    .view-all {
        font-weight: 500;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    .view-all-icon {
        width: 11px;
        height: 11px;
        margin-left: 6px;
        display: inline-block;
        transition: .4s;
    }

    .view-down {
        transform: rotate(180deg);
    }

    .view-up {
        transform: rotate(0deg);
    }

    .privacy-group {
        padding-left: 70px;
        padding-top: 15px;
        padding-right: 30px;

        .privacy-item {
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            .setting-item-left,
            .privacy-data-right {
                display: inline-flex;
            }

            .avatar {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 15px;
                border-radius: 50%;
            }

            .info {
                display: inline-block;
                align-items: center;

                .name {
                    margin-bottom: 8px;
                }

            }

            .status {
                font-size: 12px;
                display: inline-block;
                margin-right: 22px;
                width: 70px;
                height: 20px;
                border-radius: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                span {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 4px;
                }
            }

            .delete {
                cursor: pointer;
                display: inline-block;
                font-size: 16px;
                display: inline-flex;
                align-items: center;

                span {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: 6px;
                }
            }
        }


        .privacy-item:last-child {
            padding-bottom: 0;
        }

        .empty {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

.mat-menu-item {
    text-align: center;
}
