@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

:host {
    display: flex;
    flex-flow: column;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 47px;
}

section {
    padding: 47px 20px 0 40px;

    .title {
        font-size: 20px;
        color: #333333;
        font-weight: bold;
        margin-bottom: 16px;
    }

    .title-small {
        font-size: 16px;
        color: #333333;
        font-weight: bold;
    }

    .tip {
        font-size: 14px;
        font-weight: 500;
        color: map-get($colors, 999999);
    }

    .option-btn {
        display: inline-block;
        min-width: auto;
        height: 40px;
        line-height: 40px;
        background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
        box-shadow: 0px 4px 8px 0px rgba(87, 83, 245, 0.4);
        border-radius: 4px;
        font-size: 16px;
        font-weight: 500;
        color: map-get($neo-line-default, 50);
    }
}

section.lang {
    @include bg($img-setting-one);
    background-position: 33px 35px;
    background-size: 15px 36px;
}

section.cache {
    @include bg($img-setting-two);
    background-position: 26px 35px;
    background-size: 23px 36px;
}

section.rate {
    @include bg($img-setting-three);
    background-position: 25px 35px;
    background-size: 26px 36px;
}

section.privacy {
    @include bg($img-setting-four);
    background-position: 25px 35px;
    background-size: 25px 36px;
}

.setting-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-right: 30px;

    .setting-item-left {
        margin-right: 10px;
    }
}

.border-bottom {
    border-bottom: 1px solid #E4E7EC;
    padding-bottom: 30px;
}

.lang {
    mat-radio-group {
        margin-top: 24px;
    }

    mat-radio-button {
        color: #333333;
        font-size: 16px;
    }
}

.rate {
    .setting-item {
        align-items: center;
    }

    .asset-item {
        margin-bottom: 30px;
    }

    .asset-btn {
        width: 120px;
        height: 36px;
        line-height: 36px;
        border-radius: 18px;
        font-size: 12px;
        border: 1px solid #e5e5e5 !important;
        color: #484e6d !important;
        font-size: 14px;
        font-weight: 500;
        position: relative;
        padding-right: 30px;

        .asset-icon {
            position: absolute;
            right: 15px;
            top: 50%;
            margin-top: -6px;
            width: 12px;
            height: 12px;
            display: inline-block;
            @include bg($img-setting-rate-dropdown);
        }
    }
}

.privacy {
    .view-all {
        color: #7178dd;
        font-weight: 500;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
    }

    .view-all-icon {
        width: 11px;
        height: 11px;
        margin-left: 6px;
        display: inline-block;
        transition: .4s;
        @include bg($img-setting-dropdown);
    }

    .view-down {
        transform: rotate(180deg);
    }

    .view-up {
        transform: rotate(0deg);
    }

    .privacy-group {
        padding-left: 70px;
        padding-top: 15px;
        padding-right: 30px;

        .privacy-item {
            font-size: 14px;
            font-weight: 500;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;

            .setting-item-left,
            .privacy-data-right {
                display: inline-flex;
            }

            .avatar {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 15px;
                background: rgba(73, 73, 73, 1);
                border-radius: 50%;
            }

            .info {
                display: inline-block;
                align-items: center;

                .name {
                    color: #282828;
                    margin-bottom: 8px;
                }

                .address {
                    color: #999999;
                }
            }

            .status {
                font-size: 12px;
                display: inline-block;
                margin-right: 22px;
                width: 70px;
                height: 20px;
                border-radius: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                span {
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 4px;
                }
            }

            .approval {
                color: #7178dd;
                background: #F4F7FC;

                span {
                    @include bg($img-setting-authed);
                }
            }

            .refuse {
                color: #999999;
                background: #f2f2f2;

                span {
                    @include bg($img-setting-unauth);
                }
            }

            .delete {
                cursor: pointer;
                display: inline-block;
                color: #f96c6c;
                font-size: 16px;
                display: inline-flex;
                align-items: center;

                span {
                    @include bg($img-setting-delete);
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: 6px;
                }
            }
        }

        .privacy-item:not(:last-child) {
            border-bottom: 1px solid #E4E7EC;
        }

        .privacy-item:last-child {
            padding-bottom: 0;
        }

        .empty {
            font-size: 14px;
            font-weight: 500;
            color: map-get($colors, 999999);
        }
    }
}

.mat-menu-item {
    text-align: center;

    &:hover {
        background: #f0efff;
    }
}
