<section class="container">
  <nav title="addAsset"></nav>
  <img
    class="my-asset"
    routerLink="/popup/my-assets"
    theme
    src="assets/images/asset/my-asset.svg"
    alt=""
  />
  <div class="content">
    <button class="search">
      <img
        class="search"
        theme
        src="assets/images/common/search.svg"
        (click)="searchCurrency()"
      />
      <input
        autofocus
        (keyup.enter)="searchCurrency()"
        [(ngModel)]="searchValue"
        type="text"
        [placeholder]="'searchAssetsInput' | translate | async"
      />
      <img
        (click)="searchValue = ''"
        *ngIf="searchValue"
        theme
        src="/assets/images/common/close.svg"
        class="clear"
        alt=""
      />
    </button>
    <p class="search-title">{{ "searchResult" | translate | async }}</p>
    <div class="popup-assets-list">
      <app-asset-item
        *ngIf="searchAsset"
        [asset]="searchAsset"
        [networkId]="networkId"
        [chainType]="chainType"
        (onAddAsset)="addAsset()"
      ></app-asset-item>
      <div class="loading" *ngIf="isLoading">
        {{ "loading" | translate | async }}
      </div>
      <p *ngIf="!searchAsset && !isLoading" class="no-data">
        {{ "noMoreData" | translate | async }}
      </p>
    </div>
  </div>
</section>
