@import "src/styles/theme-default";

:host {
  z-index: 21;
  position: fixed;
  width: 424px;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: $space;
  background: #ffffff;
  box-shadow: 0 0 8px #969696;
}

@media screen and (max-width: 1200px) {
  :host {
    width: 300px;
  }
}

img {
  width: 45px;
  height: 45px;
  display: block;
  margin: $space auto;
}

p {
  font-size: 18px;
  text-align: center;
  margin-top: $space;
  color: #444644;
}

p.tip {
  font-size: 14px;
  font-weight: 400;
}

button {
  display: block;
  margin: $space auto;
}
