@import "src/styles/popup-default.scss";

.content {
  padding: 24px;
  text-align: center;
  .title {
    margin-top: 12px;
    color: var(--theme-color);
    font-size: 16px;
  }
  .tip {
    font-family: NeverMind-Regular;
    line-height: 20px;
    margin-top: 8px;
  }
  button {
    width: 100%;
    margin-top: 24px;
  }
}
