@import "src/styles/asset-item";

section.container {
  height: 100%;
}

.popup-assets-list {
  height: calc(100% - var(--nav-height));
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: block;
  }
  padding: 0 24px;
  .asset-item .operate {
    img {
      cursor: pointer;
      border-radius: 50%;
    }
    img.add {
      background: var(--theme-color);
      &:hover {
        box-shadow: var(--asset-add-box-shadow);
      }
    }
    img.delete {
      background: #ff8142;
      &:hover {
        box-shadow: 0px 5px 5px -1px rgba(255, 129, 66, 0.5);
      }
    }
  }
  .no-data,
  .loading {
    margin-top: 40px;
    text-align: center;
    font-size: 14px;
    color: var(--tip-color);
  }
}
