<div class="side-nav-body">
    <div class="side-nav-body-header">
        <div class="side-nav-body-header-top">
            <div>
                <img [avatar]="address" />
            </div>
            <div (click)="sidenav.toggle()"></div>
        </div>
        <div class="side-nav-body-header-bottom">
            <p>{{ wallet?.name }}</p>
            <p>{{ balance?.balance || '0'}} {{ balance?.symbol }}</p>
        </div>
    </div>

    <div class="side-nav-body-menu">
        <div
            class="side-nav-body-menu-item"
            (click)="onSidenavChange(SIDENAV.HOME)"
            [routerLink]="['/popup/home']">
            <div class="{{ currentMenu === SIDENAV.HOME ? 'side-nav-body-menu-status-active' : ''}}"></div>
            <div class="side-nav-body-menu-home-{{ currentMenu === SIDENAV.HOME ? 'active' : 'close'}}"></div>
            <div
                class="{{ currentMenu === SIDENAV.HOME ? 'side-nav-body-menu-text-active' : ''}}">
                {{ 'home' | translate | async }}
            </div>
        </div>

        <div
            class="side-nav-body-menu-item"
            (click)="onSidenavChange(SIDENAV.SETTING)"
            [routerLink]="['/popup/setting']">
            <div class="{{ currentMenu === SIDENAV.SETTING ? 'side-nav-body-menu-status-active' : ''}}"></div>
            <div class="side-nav-body-menu-setting-{{ currentMenu === SIDENAV.SETTING ? 'active' : 'close'}}"></div>
            <div
                class="{{ currentMenu === SIDENAV.SETTING ? 'side-nav-body-menu-text-active' : ''}}">
                {{ 'setting' | translate | async }}

            </div>
        </div>

        <div
            class="side-nav-body-menu-item"
            (click)="onSidenavChange(SIDENAV.ABOUT)"
            [routerLink]="['/popup/about']">
            <div class="{{ currentMenu === SIDENAV.ABOUT ? 'side-nav-body-menu-status-active' : ''}}"></div>
            <div class="side-nav-body-menu-about-{{ currentMenu === SIDENAV.ABOUT ? 'active' : 'close'}}"></div>
            <div
                class="{{ currentMenu === SIDENAV.ABOUT ? 'side-nav-body-menu-text-active' : ''}}">
                {{ 'about' | translate | async }}

            </div>
        </div>

        <div class="side-nav-body-menu-item" (click)="web()">
            <div class="{{ currentMenu === SIDENAV.WEB ? 'side-nav-body-menu-status-active' : ''}}"></div>
            <div class="side-nav-body-menu-web-{{ currentMenu === SIDENAV.WEB ? 'active' : 'close'}}"></div>
            <div
                class="{{ currentMenu === SIDENAV.WEB ? 'side-nav-body-menu-text-active' : ''}}">
                {{ 'expandView' | translate | async }}
            </div>
        </div>

        <div class="side-nav-body-menu-item" (click)="redirect('https://blolys.com')">
            <div class="{{ currentMenu === SIDENAV.BLOLYS ? 'side-nav-body-menu-status-active' : ''}}"></div>
            <div class="side-nav-body-menu-blolys-{{ currentMenu === SIDENAV.BLOLYS ? 'active' : 'close'}}"></div>
            <div
                class="{{ currentMenu === SIDENAV.BLOLYS ? 'side-nav-body-menu-text-active' : ''}}">
                Blolys<b style="color: transparent">￥</b>
            </div>
        </div>
    </div>

    <div class="side-nav-body-logout">
        <div>
            <div></div>
            <div (click)="closeWallet()">{{ 'closeWallet' | translate | async }}
                </div>
        </div>
    </div>
</div>
