@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.side-nav-body {
    width: 230px;

    .side-nav-body-header {
        width: 100%;
        height: 140px;
        background-color: map-get($neo-line-default, 500);

        .side-nav-body-header-top {
            width: 100%;
            height: 84px;
            overflow: hidden;

            div:first-child {
                width: 64px;
                height: 64px;
                border-radius: 50%;
                overflow: hidden;
                float: left;
                background-color: white;
                margin-top: 20px;
                margin-left: 15px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
            div:last-child {
                width: 19px;
                height: 15px;
                float: right;
                margin-top: 20px;
                margin-right: 17px;
                @include bg($img-close-side-nav);

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .side-nav-body-header-bottom {
            width: 100%;
            padding-top: 8px;
            padding-left: 14px;
            color: map-get($neo-line-default, 50);

            p:first-child {
                font-size: 15px;
                margin-bottom: 4px;
            }

            p:last-child {
                font-size: 13px;
            }
        }
    }

    .side-nav-body-menu {
        vertical-align: middle;
        margin-top: 15px;

        .side-nav-body-menu-item {
            margin-bottom: 20px;
            height: 21px;
            overflow: hidden;

            &:hover {
                cursor: pointer;
                color: map-get($neo-line-default, 500);
            }

            div {
                float: left;
                margin-right: 15px;
                height: 21px;
            }

            div:first-child {
                width: 4px;
            }

            div.side-nav-body-menu-status-active {
                background-color: map-get($neo-line-default, 500);
            }

            div:nth-child(2) {
                width: 21px;
                font-weight: 500;
            }

            div:last-child {
                font-size: 16px;
            }

            div.side-nav-body-menu-text-active {
                color: map-get($neo-line-default, 500);
                font-weight: 600;
            }

            .side-nav-body-menu-home-active {
                @include bg($img-home-active);
            }
            .side-nav-body-menu-home-close {
                @include bg($img-home-close);
            }

            .side-nav-body-menu-setting-active {
                @include bg($img-setting-active);
            }
            .side-nav-body-menu-setting-close {
                @include bg($img-setting-close);
            }

            .side-nav-body-menu-about-active {
                @include bg($img-about-active);
            }
            .side-nav-body-menu-about-close {
                @include bg($img-about-close);
            }

            .side-nav-body-menu-web-active {
                @include bg($img-web-active);
            }
            .side-nav-body-menu-web-close {
                @include bg($img-web-close);
            }

            .side-nav-body-menu-blolys-active {
                @include bg($img-blolys-active);
            }
            .side-nav-body-menu-blolys-close {
                @include bg($img-blolys-close);
            }
        }
    }

    .side-nav-body-logout {
        position: fixed;
        bottom: 18px;
        overflow: hidden;
        width: 230px;

        &:hover {
            cursor: pointer;
        }

        div {
            div {
                vertical-align: middle;
                float: left;
                height: 21px;
            }

            div:first-child {
                width: 21px;
                @include bg($img-logout);
                margin-right: 15px;
                margin-left: 65px;
            }

            div:last-child {
                font-size: 16px;
                height: 21px;
                line-height: 23px;
            }
        }
    }
}