section.container {
  width: 100%;
  height: 100%;
  margin-top: -74px;
  text-align: center;
  padding-top: 94px;
  .title {
    font-family: NeverMind-DemiBold;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: var(--guide-title);
  }
  img.bg {
    margin-top: 8px;
  }
  .button-box {
    margin-top: 54px;
    padding: 0 24px;
    button {
      width: 100%;
      &.import {
        background: #ecfbf1;
        margin-top: 16px;
        :host-context([data-theme-style="dark-theme"]) & {
          background: #363940;
          border: none;
        }
      }
    }
  }
}
