<section class="container">
  <div class="asset-detail">
    <div class="top">
      <img
        class="back"
        routerLink="/popup/home"
        theme
        src="/assets/images/common/nav-arrow.svg"
      />
      <div class="asset-logo-box big">
        <img
          class="asset-logo"
          [assetId]="balance?.asset_id"
          appErrorSrc
          alt=""
        />
      </div>
      <div class="more" (click)="showMenu = !showMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <section
        class="pop-ups-veil"
        *ngIf="showMenu"
        (click)="showMenu = false"
      ></section>
      <ul class="pop-ups-menu" *ngIf="showMenu">
        <li *ngIf="canHideBalance" (click)="hideBalance()">
          <img theme src="assets/images/asset/hide-asset.svg" alt="" />{{
            "hidden" | translate | async
          }}{{ " " + balance?.symbol }}
        </li>
        <li (click)="toWeb()">
          <img theme src="assets/images/account/home-explorer.svg" alt="" />{{
            "viewOnNeoTube" | translate | async
          }}
        </li>
      </ul>
    </div>
    <p class="asset-balance">
      {{ balance?.balance || 0 | numberFixed }} {{ balance?.symbol }}
    </p>
    <p class="asset-money">
      {{ balance?.rateBalance | numberFixed : 2 }} {{ rateCurrency }}
    </p>
    <div class="transaction-btn-container">
      <div class="item receive" [routerLink]="['/popup/transfer/receive']">
        <img theme src="assets/images/transfer/receive.svg" alt="" />
        {{ "receive" | translate | async }}
      </div>
      <div class="item transfer" [routerLink]="['/popup/transfer/create']">
        <img theme src="assets/images/transfer/transfer.svg" alt="" />
        {{ "transfer" | translate | async }}
      </div>
    </div>
  </div>
  <div class="txs">
    <p class="title">{{ "transaction" | translate | async }}</p>
    <app-asset-tx-page
      *ngIf="assetId"
      [assetId]="assetId"
      [rateCurrency]="rateCurrency"
      [symbol]="balance?.symbol"
    >
    </app-asset-tx-page>
  </div>
</section>
