:host ::ng-deep {
  app-header header {
    border-bottom: none !important;
  }
}
section.main {
  width: 100%;
  height: 100%;
  font-weight: 400;
  margin-top: -74px;
  position: relative;
  z-index: -1;
  .header {
    position: relative;
    overflow: hidden;
    height: 254px;
    background: linear-gradient(141deg, #06ccab 37%, #01bfbf 60%);
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    .title {
      position: absolute;
      left: 60px;
      bottom: 50px;
      font-size: 38px;
      color: var(--btn-title-color);
    }
    img.logo {
      position: absolute;
      top: 98px;
      right: 160px;
      width: 190px;
    }
    .bg {
      position: absolute;
      right: 60px;
      bottom: -74px;
      width: 100%;
      height: 100px;
      transform: rotate(-7deg);
      border-top-right-radius: 40px;
      opacity: 0.48;
      background: #ffffff;
    }
  }
  .content {
    height: calc(100% - 254px);
    .nav {
      padding-top: 10px;
      .nav-content {
        height: 52px;
        line-height: 52px;
        font-family: NeverMind-Medium;
        font-size: 16px;
        text-align: center;
        color: var(--title-color);
        border-bottom: 1px solid var(--line-color);
        position: relative;
        img.back {
          height: 16px;
          position: absolute;
          left: 24px;
          top: 50%;
          margin-top: -8px;
          cursor: pointer;
        }
      }
    }
  }
}
