<app-header></app-header>
<section class="main">
  <div class="header">
    <p class="title">{{ "ImportLedgerWallet" | translate | async }}</p>
    <img class="logo" src="/assets/images/ledger/neo-bg.svg" alt="" />
    <div class="bg"></div>
  </div>
  <div class="content">
    <app-ledger-chain
      *ngIf="status === STATUS_ENUM.CHAIN_PICK"
      (selectChain)="selectChain($event)"
    >
    </app-ledger-chain>

    <app-address-selector
      *ngIf="status === STATUS_ENUM.ADDRESS_SELECTOR"
      [chainType]="chainType"
      (selectThisAccount)="selectAccount($event)"
    ></app-address-selector>

    <app-account-name
      *ngIf="status === STATUS_ENUM.ACCOUNT_NAME"
      [accountData]="selectAccountData"
      [chainType]="chainType"
    >
    </app-account-name>
  </div>
</section>
