

section.main {
  width: 100vw;
  height: 100vh;
  background: #ebf2f1;
  font-weight: 400;
  :host-context([data-theme-style="dark-theme"]) & {
    background: #303135;
  }
  .header {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .right {
      display: inline-flex;
      align-items: center;
      button {
        min-width: 140px;
        height: 32px;
        line-height: 32px;
        padding: 0 10px;
        border-radius: 19px;
        border: 1px solid var(--sub-title-color);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: transparent;
        margin-right: 25px;
        color: var(--title-color);
      }
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
  .content {
    width: 375px;
    min-height: 600px;
    margin: 0 auto;
    background: linear-gradient(172deg, #06ccab 3%, #01bfbf 57%);
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  }
}
