<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip" *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</p>
  </div>
</div>
<confirm-send-ether
  *ngIf="getTxType() === 'sendEther'"
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-send-ether>

<confirm-send-token
  *ngIf="getTxType() === 'sendToken'"
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-send-token>

<confirm-contract-interaction
  *ngIf="getTxType() === 'contractInteraction'"
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-contract-interaction>

<confirm-approve
  *ngIf="getTxType() === 'approve'"
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [iconSrc]="iconSrc"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [encryptWallet]="encryptWallet"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (updateApproveAmountEvent)="updateApproveAmount($event)"
  (confirmEvent)="confirm()"
></confirm-approve>
