<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip" *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</p>
  </div>
</div>
<confirm-send-ether
  *ngIf="methodName === EvmTransactionType.simpleSend"
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-send-ether>

<confirm-send-token
  *ngIf="
    methodName === EvmTransactionType.tokenMethodTransfer ||
    methodName === EvmTransactionType.tokenMethodTransferFrom ||
    methodName === EvmTransactionType.tokenMethodSafeTransferFrom
  "
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-send-token>

<confirm-contract-interaction
  *ngIf="methodName === EvmTransactionType.contractInteraction"
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-contract-interaction>

<confirm-approve
  *ngIf="
    methodName === EvmTransactionType.swapApproval ||
    methodName === EvmTransactionType.tokenMethodApprove ||
    methodName === EvmTransactionType.tokenMethodSetApprovalForAll
  "
  [lang]="lang"
  [txParams]="txParams"
  [locationOrigin]="locationOrigin"
  [amount]="amount"
  [neoXFeeInfo]="neoXFeeInfo"
  [signAddressGasBalance]="signAddressGasBalance"
  [estimateGasError]="estimateGasError"
  [insufficientFunds]="insufficientFunds"
  [neoXNetwork]="neoXNetwork"
  (closeEvent)="exit()"
  (updateFeeEvent)="updateEvmFee($event)"
  (confirmEvent)="confirm()"
></confirm-approve>
