@import "src/styles/tab-container.scss";

.container {
  height: 100%;
  overflow: scroll;
  padding-bottom: 20px;
  .header.transfer {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    background: var(--background-color);
    padding: 3px 16px 16px;
    .type {
      display: inline-block;
      width: fit-content;
      min-height: 22px;
      line-height: 22px;
      padding: 0 8px;
      border-radius: 4px;
      border: 0.5px solid var(--title-color);
      font-family: NeverMind-Regular;
      color: var(--important-title-color);
      word-break: break-all;
      .address {
        font-size: 12px;
      }
    }
    .asset {
      display: flex;
      align-items: center;
      gap: 4px;
      .amount {
        margin-top: 0;
        font-family: NeverMind;
        font-size: 16px;
      }
    }
    .rate {
      font-size: 12px;
      color: var(--sub-title-color);
    }
    .address-group {
      margin-top: 12px;
      color: var(--important-title-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      .item {
        display: inline-flex;
        align-items: center;
      }
      img.avatar {
        margin-right: 12px;
        width: 30px;
      }
      .contract-avatar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: var(--body-background-color);
        border-radius: 50%;
        margin-right: 12px;
        color: var(--title-color);
      }
    }
  }
  .tabs-container {
    border-bottom: 1px solid var(--line-color);
    span {
      width: 50%;
      margin-left: 0;
      text-align: center;
    }
  }
  .content {
    padding: 16px 24px;
    &.data {
      .title {
        color: var(--sub-title-color);
        .value {
          color: var(--title-color);
          word-break: break-all;
          line-height: 22px;
        }
      }
      .hex-label {
        font-family: NeverMind-Regular;
        color: var(--sub-title-color);
        margin-top: 30px;
      }
      .json-box {
        border-radius: 4px;
        background: var(--line-color);
        font-family: NeverMind-Regular;
        font-size: 12px;
        line-height: 18px;
        color: var(--sub-title-color);
        padding: 12px 16px;
        margin-top: 8px;
        &.serialize {
          padding: 12px;
          word-break: break-all;
        }
        pre {
          white-space: pre-wrap;
          word-break: break-all;
        }
      }
    }
    &.details {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .label {
        font-size: 13px;
        font-weight: normal;
        line-height: 17px;
        color: var(--sub-title-color);
        img.edit {
          margin-left: 8px;
        }
      }
      .value {
        margin-top: 8px;
        font-family: NeverMind;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        color: var(--second-color);
        &.dropdown {
          color: var(--theme-color);
        }
        img.arrow {
          height: 12px;
          margin-left: 8px;
          transform: rotate(90deg);
          transition: transform 0.3s ease-in-out;
          &.expand {
            transform: rotate(270deg);
          }
        }
      }
      .value-rate {
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
        color: var(--sub-title-color);
        .underline {
          text-decoration: underline;
        }
      }
      .border-line {
        height: 1px;
        background: var(--line-color);
        margin: 12px -24px 0 -24px;
      }
    }
  }
  .btn-group {
    padding: 0 24px;
    padding-top: 16px;
    button {
      width: calc(50% - 12px);
      &.cancel {
        margin-right: 24px;
      }
    }
  }
}
