@import "src/styles/tab-container.scss";

.container {
  height: calc(100% - 74px);
  overflow: scroll;
  padding-bottom: 20px;
  .header.transfer {
    background: var(--background-color);
    padding: 3px 16px 16px;
    position: relative;
    text-align: center;
    padding: 3px 20px 16px 20px;
    .invoke-type {
      position: absolute;
      left: 16px;
      top: 3px;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      padding: 0 8px;
      border-radius: 4px;
      border: 0.5px solid var(--title-color);
      font-family: NeverMind-Regular;
      color: var(--important-title-color);
    }
    .amount {
      font-family: NeverMind-DemiBold;
      font-size: 24px;
      margin-top: 12px;
    }
    .rate {
      color: var(--sub-title-color);
      margin-top: 8px;
    }
    .address-group {
      margin-top: 12px;
      color: var(--important-title-color);
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.contract-interaction {
        padding-top: 24px;
      }
      .item {
        display: inline-flex;
        align-items: center;
        .name-group {
          display: flex;
          flex-direction: column;
          text-align: left;
          gap: 4px;
          .name {
            max-width: 100px;
            color: var(--sub-title-color);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
      img.avatar {
        margin-right: 8px;
        width: 30px;
      }
      .contract-avatar {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
        background: var(--body-background-color);
        border-radius: 50%;
        margin-right: 12px;
        color: var(--title-color);
      }
    }
  }
  .tabs-container {
    border-bottom: 1px solid var(--line-color);
    span {
      width: 50%;
      margin-left: 0;
      text-align: center;
    }
  }
  .content {
    padding: 16px 24px;
    &.data {
      .title {
        color: var(--sub-title-color);
        .value {
          color: var(--title-color);
          word-break: break-all;
          line-height: 22px;
        }
      }
      .hex-label {
        font-family: NeverMind-Regular;
        color: var(--sub-title-color);
        margin-top: 12px;
        display: flex;
        align-items: center;
        gap: 8px;
        .value {
          color: var(--title-color);
          word-break: break-all;
          line-height: 22px;
        }
      }
      .json-box {
        border-radius: 4px;
        background: var(--line-color);
        font-family: NeverMind-Regular;
        font-size: 12px;
        line-height: 18px;
        color: var(--sub-title-color);
        padding: 12px 16px;
        margin-top: 8px;
        &.serialize {
          padding: 12px;
          word-break: break-all;
        }
        pre {
          white-space: pre-wrap;
          word-break: break-all;
        }
      }
    }
    &.details {
      display: flex;
      flex-direction: column;
      gap: 12px;
      .request-info {
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 12px;
        border-bottom: 1px solid var(--line-color);
        .request-info-item {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          gap: 8px;
          word-break: break-all;
          line-height: 1.2;
          .label {
            font-size: 14px;
            min-width: 80px;
            display: flex;
            align-items: center;
            gap: 4px;
          }
          .to-address {
            display: inline-flex;
            align-items: center;
            gap: 8px;
            .goplus-icon {
              display: inline-block;
              width: 20px;
              height: 20px;
              cursor: pointer;
              background: url("/assets/images/third-party/gopluslabs-icon.svg")
                center center no-repeat;
              &:hover {
                background-image: url("/assets/images/third-party/gopluslabs-icon-active.svg");
              }
            }
          }
          .rate {
            color: var(--sub-title-color);
            text-align: right;
            margin-top: 4px;
            font-size: 12px;
          }
        }
      }
      .fee-group {
        padding-bottom: 12px;
        border-bottom: 1px solid var(--line-color);
      }
      .label {
        font-size: 13px;
        font-weight: normal;
        line-height: 17px;
        color: var(--sub-title-color);
        &.bold {
          color: var(--second-color);
        }
        img.edit {
          margin-left: 8px;
        }
        .underline {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
            color: var(--theme-color);
          }
        }
      }
      .value {
        margin-top: 8px;
        font-family: NeverMind;
        font-size: 15px;
        font-weight: 500;
        line-height: 19px;
        color: var(--second-color);
        &.dropdown {
          color: var(--theme-color);
        }
        img.arrow {
          height: 12px;
          margin-left: 8px;
          transform: rotate(90deg);
          transition: transform 0.3s ease-in-out;
          &.expand {
            transform: rotate(270deg);
          }
        }
      }
      .value-rate {
        font-size: 12px;
        font-weight: normal;
        line-height: 14px;
        color: var(--sub-title-color);
      }
      .border-line {
        height: 1px;
        background: var(--line-color);
        margin: 12px -24px 0 -24px;
      }
    }
  }
  .btn-group {
    padding: 0 24px;
    padding-top: 16px;
    button {
      width: calc(50% - 12px);
      &.cancel {
        margin-right: 24px;
      }
    }
  }
}
