@import "src/styles/popup-default.scss";
@import "src/styles/tab-container.scss";

.container {
  .header {
    background: $background-color;
    padding: 3px 16px 16px;
    &.transfer {
      position: relative;
      text-align: center;
      padding: 3px 20px 16px 20px;
      .invoke-type {
        position: absolute;
        left: 16px;
        top: 3px;
      }
      .asset-logo-box {
        margin: 0 auto;
      }
      .amount {
        font-family: NeverMind-DemiBold;
        font-size: 24px;
        margin-top: 12px;
      }
      .rate {
        color: $sub-title-color;
        margin-top: 8px;
      }
      .address-group {
        margin-top: 24px;
        color: #3d3d3d;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .item {
          display: inline-flex;
          align-items: center;
        }
        img.avatar {
          margin-right: 12px;
          width: 30px;
        }
      }
    }
    .invoke-type {
      display: inline-block;
      height: 22px;
      line-height: 22px;
      padding: 0 8px;
      border-radius: 4px;
      border: 0.5px solid #303433;
      font-family: NeverMind-Regular;
      color: #3d3d3d;
    }
    .title {
      color: $sub-title-color;
      margin-top: 12px;
    }
  }
  .tabs-container {
    border-bottom: 1px solid $line-color;
    span {
      width: 50%;
      margin-left: 0;
      text-align: center;
    }
  }
  .content {
    height: 330px;
    overflow-y: scroll;
    padding: 16px 24px;
    &.details {
      li {
        margin-top: 30px;
        &:first-child {
          margin-top: 0;
        }
        .row {
          display: flex;
          align-items: center;
          justify-content: space-between;
          &.tip {
            justify-content: flex-end;
            color: $sub-title-color;
            font-family: NeverMind-Regular;
            font-size: 12px;
            margin-top: 6px;
            &.column {
              justify-content: space-between;
            }
          }
          img.edit {
            margin-left: 12px;
          }
          .label {
            color: $sub-title-color;
          }
        }
      }
    }
    &.data {
      ul li {
        margin-top: 30px;
        &:first-of-type {
          margin-top: 0;
        }
        .label {
          font-family: NeverMind-Regular;
          color: $sub-title-color;
        }
        .value {
          line-height: 18px;
          margin-top: 8px;
        }
      }
    }
    .hex-label {
      font-family: NeverMind-Regular;
      color: $sub-title-color;
      margin-top: 30px;
    }
    .json-box {
      border-radius: 4px;
      background: $line-color;
      font-family: NeverMind-Regular;
      font-size: 12px;
      line-height: 18px;
      color: $sub-title-color;
      padding: 12px 16px;
      margin-top: 8px;
      &.serialize {
        padding: 12px;
        word-break: break-all;
      }
      pre {
        white-space: pre-wrap;
        word-wrap: break-word;
      }
    }
  }
  .btn-group {
    padding: 0 24px;
    padding-top: 16px;
    button {
      width: calc(50% - 12px);
      &.cancel {
        margin-right: 24px;
      }
    }
  }
}
