<div class="container">
  <button class="host">
    <img [src]="iconSrc" [appErrorSrc]="'unknown'" alt="" />{{ hostname }}
  </button>
  <p class="title">{{ "switchAccountTitle" | translate | async }}</p>
  <p class="desc">{{ "switchAccountDesc" | translate | async }}</p>
  <ul>
    <li
      *ngFor="let item of walletArr; let i = index"
      [ngClass]="{
        active: selectedWallet?.accounts[0].address === item.accounts[0].address
      }"
      (click)="selectedWallet = item"
    >
      <span class="selected"></span>
      <img class="avatar" [avatar]="item.accounts[0].address" />
      <div class="account-detail">
        <p class="label">{{ item.name }}</p>
        <p class="address">
          {{ item.accounts[0].address | longStr : 10 }}
        </p>
      </div>
    </li>
  </ul>
  <div class="btn-group">
    <button class="cancel" (click)="refuse()">
      {{ "refuse" | translate | async }}
    </button>
    <button class="confirm" (click)="confirm()">
      {{ "switchAccount" | translate | async }}
    </button>
  </div>
</div>
