:host {
    background: #FFFFFF;
    box-shadow: 0 0 8px #969696;
}

.close {
    background: #C2C6F5;
    color: #FFFFFF;
}

.form .title {
    color: #333333;
}

.form .balance {
    background: #F3F2FF;
    color: #333333;
}

.form input {
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
    color: #333333;
}

.form input::placeholder {
    color: #999999;
}
