<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip" *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</p>
  </div>
</div>
<section class="container">
  <div class="bridge-content">
    <p class="label">{{ "Deposit" | translate | async }}</p>
    <p class="amount">
      <span>{{ bridgeAmount }}</span>
      <span class="symbol">{{ bridgeAsset.symbol }}</span>
      <span *ngIf="bridgeAsset?.rateBalance" class="currency">
        $ {{ bridgeAsset.rateBalance }}
      </span>
    </p>
    <p class="label from">{{ "FromAddress" | translate | async }}</p>
    <p class="address">
      {{ currentWallet.accounts[0].address | longStr : 12 }}
      <copy [value]="currentWallet.accounts[0].address">
        <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
      </copy>
    </p>
    <img class="arrow" src="/assets/images/bridge/arrow.svg" alt="" />
    <p class="label">{{ "YourNeoXReceiveAddress" | translate | async }}</p>
    <p class="address">
      {{ toAddress | longStr : 12 }}
      <copy [value]="toAddress">
        <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
      </copy>
    </p>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <ul class="details-content" *ngIf="tabType === 'details'">
    <li>
      <p class="row">
        <span class="label">
          {{ "PRIORITYFEE" | translate | async }}
          <img
            class="edit"
            (click)="editFee()"
            src="assets/images/common/edit.svg"
          />
        </span>
        <span class="value">{{ priorityFee | numberFixed }} GAS</span>
      </p>
    </li>
    <li>
      <p class="row">
        <span class="label">{{ "SYSTEMFEE" | translate | async }}</span>
        <span class="value">{{ systemFee | numberFixed }} GAS</span>
      </p>
    </li>
    <li>
      <p class="row">
        <span class="label">{{ "NETWORKFEE" | translate | async }}</span>
        <span class="value">{{ networkFee | numberFixed }} GAS</span>
      </p>
    </li>
    <li>
      <p class="row">
        <span class="label">{{ "TOTAL" | translate | async }}</span>
        <span class="value">
          {{ bridgeAmount | numberFixed }} {{ bridgeAsset.symbol }}+
          {{ totalFee | numberFixed }} GAS
        </span>
      </p>
      <p class="row tip column">
        <span class="label">
          {{ "amount" | translate | async }} +
          {{ "GASFEE" | translate | async }}
        </span>
        <span class="value">
          <!-- {{ rate.total | numberFixed : 2 }} {{ rateCurrency }} -->
        </span>
      </p>
    </li>
  </ul>
  <div class="data-content" *ngIf="tabType === 'data'">
    <ul>
      <li>
        <p class="label">{{ "YourSigningAddress" | translate | async }}</p>
        <p class="value">{{ currentWallet.accounts[0].address }}</p>
      </li>
      <li>
        <p class="label">{{ "ContractScriptHash" | translate | async }}</p>
        <p class="value">{{ invokeArgs[0].scriptHash }}</p>
      </li>
      <li>
        <p class="label">{{ "Operation" | translate | async }}</p>
        <p class="value">{{ invokeArgs[0].operation }}</p>
      </li>
      <li>
        <p class="label">{{ "InvocationArguments" | translate | async }}</p>
        <div class="value" *ngFor="let item of invokeArgs[0].args">
          <p>{{ item.type }} - {{ item.value }}</p>
        </div>
      </li>
      <li *ngIf="priorityFee !== undefined">
        <p class="label">{{ "Fee" | translate | async }}</p>
        <p class="value">{{ priorityFee }}</p>
      </li>
      <li>
        <p class="label">{{ "signers" | translate | async }}</p>
        <div class="value" *ngFor="let item of signers">
          <p>account - {{ item.account }}</p>
          <p>scopes - {{ item.scopes }}</p>
          <p *ngIf="item?.allowedContracts">
            allowedContracts -
            <span *ngFor="let contract of item?.allowedContracts"
              >{{ contract }},
            </span>
          </p>
          <p *ngIf="item?.allowedGroups">
            allowedGroups -
            <span *ngFor="let publicKey of item?.allowedGroups"
              >{{ publicKey }},
            </span>
          </p>
          <p *ngIf="item?.rules">
            rules - <span>{{ item.rules | json }}</span>
          </p>
        </div>
      </li>
    </ul>
    <p class="hex-label">HEX</p>
    <p class="json-box serialize">{{ txSerialize }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: loading }"
      (click)="confirm()"
    >
      {{ "yes" | translate | async }}
    </button>
  </div>
</section>
