@import 'src/styles/theme-default';

:host {
    z-index: 21;
    position: fixed;
    width: 424px;
    height: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 0 8px #969696;
    padding: $space;
    overflow: hidden;
}

.close {
    position: absolute;
    right: -10px;
    top: -10px;
    background: #C2C6F5;
    color: #FFFFFF;
}
.close mat-icon {
    margin-left: -5px;
    margin-bottom: -5px;
}

@media screen and (max-width: 1200px) {
    :host {
        width: 300px;
    }
}

#receive-qrcode {
    width: 200px;
    height: 200px;
    margin: $space*2 auto;
    display: block;
}
textarea {
    color: #484E6D;
    text-align: center;
    font-size: 14px;
    padding: $space/2;
    margin: $space 0;
    border: 1px solid #E4E7EC;
    resize: none;
    display: block;
    width: 100%;
    border-radius: 4px;
}
button.copy {
    display: block;
    width: 100%;
    margin-bottom: $space;
}
