@import 'src/styles/theme-default';

:host {
    overflow: hidden;
}
mat-spinner {
    display: block;
    margin: $space auto;
}
p {
    text-align: center;
    max-width: 120px;
    word-break: break-all;
    color: #282828;
    font-weight: 600;
}