@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.popup-setting-account {
    border-bottom: 1px solid map-get($colors, e5e5e5);

    .popup-setting-account-item {

        .popup-setting-account-select {
            div {
                @include bg($img-select);
            }
        }

        .popup-setting-account-info {
            border-bottom: 1px solid map-get($colors, e5e5e5);

            .popup-setting-account-menu {
                .menu-btn-box {
                    .menu-btn {
                        @include bg($img-omi);
                    }
                }
            }
        }
    }
}

hr {
    background: rgba(244, 247, 252, 1);
}

.popup-setting-menu {

    .popup-setting-item {
        border-bottom: 1px solid map-get($colors, e5e5e5);

        .popup-setting-language-current {
            color: map-get($colors, 999999);
        }

        .popup-setting-import-logo {
            @include bg($img-import-wallet);
        }

        .popup-setting-create-logo {
            @include bg($img-create-wallet);
        }

        .popup-setting-language-logo {
            @include bg($img-language-change);
        }
        .popup-setting-export-logo {
            @include bg($img-export-wallet);
        }
    }
}

.popup-setting-cache {
    border-bottom: 1px solid map-get($colors, e5e5e5);

    div:first-child:empty {
        @include bg($img-clear-cache);
    }

    .popup-setting-cache-tip {

        div:last-child {
            color: map-get($colors, 999999);
        }
    }

    .popup-setting-cache-btn {
        background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
        box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 50);
    }
}

.popup-setting-authorization {
    border-bottom: 1px solid map-get($colors, e5e5e5);

    .popup-setting-authorization-head {
        .title {
            color: #282828;
        }

        .view-all {
            color: #7178DD;
        }
    }

    .tip {
        color: #999999;
    }
}

.setting-asset-rate {

    div {
        .title {
            color: #282828;
        }

        .value {
            color: #999999;
        }
    }

    .update-time {
        color: #999999;
    }
}
