@import "src/styles/popup-default";

ul.content li {
  padding: 0 24px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  &.hover-bg {
    cursor: pointer;
    &:hover {
      background: $hover-color;
    }
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 24px;
    right: 24px;
    height: 1px;
    background-color: $line-color;
  }
  .middle {
    flex: 1;
    margin: 0 12px;
    font-family: NeverMind-Medium;
    font-size: 14px;
    color: $title-color;
    .tip {
      font-family: NeverMind-Regular;
      font-size: 12px;
      color: $tip-color;
      margin-top: 6px;
    }
  }
  .right {
    font-family: NeverMind-Regular;
    font-size: 12px;
    color: $sub-title-color;
    img {
      margin-left: 12px;
    }
  }
  button.clear {
    width: 76px;
    height: 30px;
    border-radius: 15px;
    background: $theme-color;
    font-family: NeverMind-Medium;
    font-size: 12px;
    color: #fff;
  }
}
