<nav title="generalSettings"></nav>
<ul class="content">
  <li class="hover-bg" (click)="language()">
    <img theme src="assets/images/setting/language.svg" alt="" />
    <div class="middle">{{ "language" | translate | async }}</div>
    <span class="right"
      >{{ lang | languageName
      }}<img theme src="assets/images/common/arrow.svg" alt=""
    /></span>
  </li>
  <li>
    <img theme src="assets/images/setting/clear-cache.svg" alt="" />
    <div class="middle">
      <p>{{ "clearCache" | translate | async }}</p>
      <p class="tip">{{ "clearCacheTip" | translate | async }}</p>
    </div>
    <button class="clear" (click)="clearCache()">
      {{ "clearCacheBtn" | translate | async }}
    </button>
  </li>
  <li class="hover-bg" (click)="modifyRateCurrency()">
    <img theme src="assets/images/setting/currency-unit.svg" alt="" />
    <div class="middle">
      <p>{{ "currencyUnit" | translate | async }}</p>
      <p class="tip" *ngIf="rateTime">
        {{ "updateTime" | translate | async }}
        {{ rateTime * 1000 | date : "M月d日 y年 HH:mm" }}
        {{ "beijingTime" | translate | async }}
      </p>
    </div>
    <span class="right"
      >{{ rateCurrency }}<img theme src="assets/images/common/arrow.svg" alt=""
    /></span>
  </li>
  <li>
    <img theme src="assets/images/setting/theme.svg" alt="" />
    <div class="middle">{{ "darkMode" | translate | async }}</div>
    <div class="slide" [ngClass]="{ active: isDark }" (click)="changeTheme()">
      <span class="circle"></span>
    </div>
  </li>
  <li>
    <img theme src="assets/images/setting/theme.svg" alt="" />
    <div class="middle">{{ "customNonce" | translate | async }}</div>
    <div
      class="slide"
      [ngClass]="{ active: isCustomNonce }"
      (click)="changeCustomNonce()"
    >
      <span class="circle"></span>
    </div>
  </li>
  <li class="hover-bg" [routerLink]="'/popup/address-book'">
    <img theme src="assets/images/setting/address-book.svg" alt="" />
    <div class="middle">{{ "addressBook" | translate | async }}</div>
    <img theme src="assets/images/common/arrow.svg" alt="" />
  </li>
</ul>
