<nav title="backUp"></nav>

<div class="container" *ngIf="pageState === 'tip'">
  <img class="backup" theme src="/assets/images/account/backup.svg" alt="" />
  <p class="title">{{ "backUpTip" | translate | async }}</p>
  <p class="desc">{{ "backUpDesc1" | translate | async }}</p>
  <p class="desc">{{ "backUpDesc2" | translate | async }}</p>
  <div class="btn-group">
    <button class="confirm" (click)="backup()">
      {{ "backUpNow" | translate | async }}
    </button>
    <button class="cancel" routerLink="/popup/home">
      {{ "backUpLater" | translate | async }}
    </button>
  </div>
</div>

<backup-mnemonic
  *ngIf="pageState === 'mnemonic'"
  [mnemonic]="mnemonic"
></backup-mnemonic>

<backup-key
  *ngIf="pageState === 'privateKey'"
  [WIF]="WIF"
  [currentAddress]="currentAddress"
></backup-key>
