@import 'src/styles/theme-default';

div {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

button {
    width: 250px;
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 20px;
    display: block;
    color: map-get($neo-line-default, 500);
}

.popup-logout-ok {
    margin-bottom: 15px;
    background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
    box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
    color: map-get($neo-line-default, 50);
}

.popup-logout-no {
    box-shadow: 0 4px 8px 0 rgba(87, 83, 245, 0.4);
}
