@import 'src/styles/theme-default';

.title {
    height: 100px;
    line-height: 100px;
    text-align: center;
    margin: 0 10px;
}

.choose-group {
    margin: 0 10px;
    border-top: 1px solid #efefef;
    .item {
        display: inline-block;
        margin: 22px 0;
        width: 50%;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        &:first-child {
            border-right: 1px solid #efefef;
        }
        &.cancel {
            color: #afb6be;
        }
        &.ok {
            color: #06ccab;
        }
    }
}
