.title {
    font-size: 18px;
    font-weight: 500;
    color: #202224;
    text-align: left;
    position: relative;
    padding-left: 23px;
    margin-top: 9px;

    img.logo {
        max-width: 100px;
        max-height: 100px;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #999;
        cursor: pointer;
    }
}

.item {
    font-size: 15px;
    min-height: 55px;
    padding: 10px 23px;
    position: relative;

    &:last-child {
        margin-bottom: 30px;
    }

    &::before {
        position: absolute;
        content: "";
        left: 15px;
        right: 15px;
        bottom: 0;
        height: 1px;
        background: #efefef;
    }

    &.row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name {
        color: #202224;
    }

    .value {
        color: #707c82;
    }

    .value.txid {
        word-break: break-all;
        text-align: left;
        margin-left: 20px;
    }
}
