

.content {
  position: relative;
  padding: 20px 24px 24px;
  img.close {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  img.logo {
    max-width: 265px;
    max-height: 324px;
  }
  ul li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 24px;
    .label {
      color: var(--sub-title-color);
    }
    .value {
      line-height: 18px;
      max-width: 200px;
      text-align: right;
      word-break: break-all;
      color: var(--title-color);
    }
  }
}
