<div class="container">
  <div class="host">
    <button><img [src]="iconSrc" appErrorSrc alt="" />{{ hostname }}</button>
  </div>
  <p class="title">Add suggested tokens</p>
  <p class="tip">Would you like to import these tokens?</p>

  <div class="asset-info">
    <div>
      <p class="label">Token</p>
      <p class="value">{{ queryParams?.symbol }}</p>
    </div>
    <div class="balance">
      <p class="label">Balance</p>
      <p class="value">{{ assetBalance }} {{ queryParams?.symbol }}</p>
    </div>
  </div>
</div>
<div class="btn-group">
  <button class="cancel" (click)="cancel()">
    {{ "cancel" | translate | async }}
  </button>
  <button class="confirm" (click)="addAsset()">
    {{ "yes" | translate | async }}
  </button>
</div>
