<div class="transfer-confirm-container">
    <div class="mat-toolbar-fixed no-third-party-toolbar" >
        <mat-toolbar color="primary">
            <span class="popup-nav-logo">
                <span class="popup-nav-logo-img popup-nav-logo-title-img"></span>
            </span>
            <button mat-stroked-button class="popup-nav-network" [matMenuTriggerFor]="menu">
                {{ (net == 'MainNet' ? 'mainNet' : 'testNet') | translate | async }}
                <span class="popup-nav-network-icon"></span>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>{{ (net == 'MainNet' ? 'mainNet' : 'testNet') | translate | async }}</button>
            </mat-menu>
            <img class="close" (click)="exit()" src="/assets/images/dialog/close.png" alt="">
        </mat-toolbar>
    </div>
</div>
