@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.transfer-content {
    background-color: #f7f7f7;
}

.loading-box {
    background: rgba(0, 0, 0, 0.1);
}

.transfer-value {
    background-image: url('/assets/images/third-party/nav-bg.png');
    .value-info {
        span {
            color: map-get($colors, 333333);
        }

        button {
            color: map-get($colors, 7178dd);
            border: 1px solid map-get($colors, c2c6f5);
        }
    }

    .value-detail {
        .detail-img {
            background-color: map-get($colors, e2e2e2);
        }

        .detail-value-right {
            .detail-value {
                color: map-get($neo-line-default, 500);
            }

            .detail-currency {
                color: map-get($colors, 9fa8bd);
            }
        }
    }
}

.transfer-title {
    color: map-get($colors, 999999);
}

.transfer-account-group {
    background-color: map-get($neo-line-default, 50);

    .transfer-account-item {
        border-bottom: 1px solid map-get($colors, e5e5e5);

        .account-left {
            .tip-info {
                color: map-get($colors, 333333);
            }

            .tip-name {
                color: map-get($colors, 484e6d);
            }

            .account-address {
                color: map-get($colors, 9fa8bd);
            }
        }

        .account-right {
            background-color: map-get($colors, 333333);
        }
    }

    .submit-group {
        button.cancel {
            box-shadow: 0px 2px 8px 0px rgba(87, 83, 245, 0.4);
            color: map-get($neo-line-default, 500);
        }

        button.confirm {
            box-shadow: 0px 5px 8px 0px rgba(87, 83, 245, 0.4);
            background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
            color: map-get($neo-line-default, 50);
            &:disabled {
                background: rgba(0, 0, 0, 0.12);
                color: rgba(0, 0, 0, 0.26);
                box-shadow:none;
            }
        }
    }
}
