@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.transfer-content {
    background-color: #f7f7f7;
}

.loading-box {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    padding-top: 30%;
    text-align: center;
    background: rgba(0, 0, 0, 0.1);

    div {
        display: inline-block;
        margin: auto;
    }

    mat-spinner {
        margin: 0 auto；;
    }

    h3 {
        margin-top: 15px;
    }
}

.transfer-value {
    width: 100%;
    height: 118px;
    padding-top: 25px;
    background-image: url('/assets/images/third-party/nav-bg.png');
    background-position: -30px -30px;
    background-size: 500px 148px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .value-info {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 39px;

        span {
            font-size: 18px;
            margin-right: 7px;
            color: map-get($colors, 333333);
        }

        button {
            min-width: 25px;
            padding: 0 3px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            border-radius: 4px;
            background: none;
            color: map-get($colors, 71dbc4);
            border: 1px solid map-get($colors, 8dd9d2);
        }
    }

    .value-detail {
        display: inline-flex;
        justify-content: center;
        width: 50%;
        height: 100%;

        .detail-img {
            width: 39px;
            height: 39px;
            border-radius: 6px;
            margin-right: 12px;
            background-color: map-get($colors, e2e2e2);
        }

        .detail-value-right {
            .detail-value {
                font-size: 28px;
                color: map-get($neo-line-default, 500);
            }

            .detail-currency {
                font-size: 12px;
                text-align: right;
                color: map-get($colors, 9fa8bd);
            }
        }
    }
}

.transfer-title {
    padding: 0 27px;
    font-size: 13px;
    height: 30px;
    color: map-get($colors, 999999);
}

.transfer-account-group {
    width: 100%;
    height: 100%;
    padding: 0 27px;
    background-color: map-get($neo-line-default, 50);

    .transfer-account-item {
        height: 74px;
        width: 100%;
        display: inline-flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid map-get($colors, e5e5e5);

        .account-left {
            display: inline-block;

            .tip-info {
                font-size: 15px;
                margin-right: 21px;
                color: map-get($colors, 333333);
            }

            .tip-name {
                font-size: 14px;
                color: map-get($colors, 484e6d);
            }

            .account-address {
                margin-top: 12px;
                font-size: 12px;
                color: map-get($colors, 9fa8bd);
            }
        }

        .account-right {
            display: inline-block;
            position: absolute;
            right: 0;
            width: 34px;
            height: 34px;
            border-radius: 34px;
            background-color: map-get($colors, 333333);
        }
    }

    .submit-group {
        height: 40px;
        position: fixed;
        bottom: 50px;
        left: 27px;
        right: 27px;

        .button-group {
            width: 100%;
            position: relative;
        }

        button {
            width: 150px;
            height: 40px;
            border-radius: 4px;
        }
        button.cancel {
            box-shadow: 0px 2px 8px 0px map-get($neo-line-default, 300);
            color: map-get($neo-line-default, 500);
        }

        button.confirm {
            position: absolute;
            right: 0;
            box-shadow: 0px 5px 8px 0px map-get($neo-line-default, 300);
            background: linear-gradient(0deg, rgba(6, 204, 171, 1), rgba(140, 216, 210, 1));
            color: map-get($neo-line-default, 50);
            &:disabled {
                background: rgba(0, 0, 0, 0.12);
                color: rgba(0, 0, 0, 0.26);
                box-shadow: none;
            }
        }
    }
}

mat-form-field {
    margin-top: 12px;
    width: 100%;
}
