@import './light';
@import './dark';

.loading-box {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    padding-top: 30%;
    text-align: center;

    div {
        display: inline-block;
        margin: auto;
    }

    mat-spinner {
        margin: 0 auto；
    }

    h3 {
        margin-top: 15px;
    }

}

.transfer-value {
    width: 100%;
    height: 118px;
    padding-top: 25px;
    background-position: -30px -30px;
    background-size: 500px 148px;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;

    .value-info {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 39px;

        span {
            font-size: 18px;
            margin-right: 7px;
        }

        button {
            min-width: 25px;
            padding: 0 3px;
            height: 20px;
            line-height: 20px;
            font-size: 12px;
            border-radius: 4px;
            background: none;
        }
    }

    .value-detail {
        display: inline-flex;
        justify-content: center;
        width: 50%;
        height: 100%;

        .detail-img {
            width: 39px;
            height: 39px;
            border-radius: 6px;
            margin-right: 12px;
        }

        .detail-value-right {
            .detail-value {
                font-size: 28px;
            }

            .detail-currency {
                font-size: 12px;
                text-align: right;
            }
        }
    }
}

.transfer-title {
    padding: 0 27px;
    font-size: 13px;
    height: 30px;
}

.transfer-account-group {
    width: 100%;
    height: 100%;
    padding: 0 27px;

    .transfer-account-item {
        height: 74px;
        width: 100%;
        display: inline-flex;
        align-items: center;
        position: relative;

        .account-left {
            display: inline-block;

            .tip-info {
                font-size: 15px;
                margin-right: 21px;
            }

            .tip-name {
                font-size: 14px;
            }

            .account-address {
                margin-top: 12px;
                font-size: 12px;
            }
        }

        .account-right {
            display: inline-block;
            position: absolute;
            right: 0;
            width: 34px;
            height: 34px;
            border-radius: 34px;
        }
    }

    .submit-group {
        height: 40px;
        position: fixed;
        bottom: 50px;
        left: 27px;
        right: 27px;

        .button-group {
            width: 100%;
            position: relative;
        }

        button {
            width: 150px;
            height: 40px;
            border-radius: 4px;
        }

        button.confirm {
            position: absolute;
            right: 0;
        }
    }
}

mat-form-field {
    margin-top: 12px;
    width: 100%;
}
