<div class="pop-ups-title">
  {{ 'selectAsset' | translate | async }}
  <img
    class="close"
    [mat-dialog-close]="false"
    theme
    src="assets/images/common/close.svg"
    alt=""
  />
</div>
<div class="search-box">
  <img theme src="/assets/images/common/search.svg" alt="" />
  <input type="text" [(ngModel)]="searchValue" (input)="search()" />
</div>

<div class="container">
  <div
    class="asset-item"
    *ngFor="let item of showBalances;let i = index"
    (click)="select(item)"
  >
    <ng-container *ngIf="!data.isNft">
      <div class="asset-logo-box small">
        <img [assetId]="item.asset_id" appErrorSrc alt="" />
      </div>
      <div class="asset-info-box">
        <p>{{ item?.symbol || '' }}</p>
        <p class="balance">
          {{ 'balancecolon' | translate | async }} {{ item.balance }}
        </p>
      </div>
      <img
        class="selected"
        theme
        src="/assets/images/common/selected.svg"
        alt=""
        [hidden]="item.asset_id !== data.selectedId"
      />
    </ng-container>
    <ng-container *ngIf="data.isNft">
      <div class="asset-logo-box small">
        <img [src]="item?.image_url" appErrorSrc alt="" />
      </div>
      <div class="asset-info-box">
        <p>
          {{ item?.name || item?.tokenid }} #{{ item?.tokenid | nftTokenId }}
        </p>
        <p class="balance">
          {{ 'balancecolon' | translate | async }} {{ item?.amount }}
        </p>
      </div>
      <img
        class="selected"
        theme
        src="/assets/images/common/selected.svg"
        alt=""
        [hidden]="item.tokenid !== data.selectedId"
      />
    </ng-container>
  </div>
</div>
