@import 'src/styles/theme-default';
.nav .name {
    color: #FFFFFF;
}

.login {
    .mat-toolbar {
        background: white;;
    }
    .nav-network {
        .nav-network-icon {
            background: url('/assets/images/net_dropdown_black.png') no-repeat center;
        }
    }
}
.login-content {
    .login-body {
        background: url('/assets/images/login_bg.png') no-repeat center;
        h3 {
            color:rgba(102,102,102,1);
        }
    }
    .login-input {
        button {
            span {
                background: url('/assets/images/show_pwd.png') center center/contain no-repeat;
            }
            span.hide-pwd {
                background: url('/assets/images/hide_pwd.png') center center/contain no-repeat;
            }
        }
    }
    .login-btn {
        box-shadow: 0 2px 4px 0 rgba(87,83,245,0.4);
    }
}
