@import 'src/styles/theme-default';

:host {
    display: block;
    font-size: 14px;
    transition: 0.2s;
}
:host:hover {
    cursor: pointer;
    background: #F4F7FC;
}
// :host:nth-of-type(odd) {
//     background: #F4F7FC;
// }
span.flex-1, .txid {
    padding: $space;
    overflow: hidden;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-overflow: ellipsis;
    color: #484E6D;
}
.status {
    width: 50px;
    display: inline-block;
    margin-right: 10px;
    padding: 2px 4px;
    &.wait {
        background: #F9F6F2;
        color: #F79165
    }
}
.txid-value {
    width: 350px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.txid {
    width: 440px;
    display: inline-flex;
}

@media screen and (max-width: 1200px) {
    .txid {
        width: 300px;
    }
    .txid-value {
        width: 210px;
    }
}
