@import "../common-scss/common.scss";

.container {
  height: calc(100% - 74px);
  overflow: scroll;
  padding-bottom: 20px;
  .content {
    height: auto;
    &.details {
      ul.fee-details li .value.dropdown {
        color: var(--second-color);
        display: flex;
        align-items: center;
      }
    }
  }
}
