<app-hardware-sign
  *ngIf="showHardwareSign"
  [chainType]="chainType"
  [currentWallet]="currentWallet"
  [unsignedTx]="tx"
  [magicNumber]="magicNumber ?? n3Network.magicNumber"
  (backWithSignedTx)="handleHardwareSignedTx($event)"
></app-hardware-sign>
<div class="container">
  <div class="header">
    <div class="invoke-type">· SIGNTRANSACTION</div>
    <p class="title">{{ "thSignTxTitle" | translate | async }}</p>
    <p class="account"><img [avatar]="address" />{{ address | longStr : 10 }}</p>
  </div>
  <div class="content data">
    <ul *ngIf="magicNumber">
      <li>
        <p class="label">Magic Number</p>
        <p class="value">{{ magicNumber }}</p>
      </li>
    </ul>
    <p class="hex-label">{{ "transaction" | translate | async }}</p>
    <div class="json-box">
      <pre>{{ txJson | json }}</pre>
    </div>
    <p class="hex-label">HEX</p>
    <p class="json-box serialize">{{ serializeTx }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
    <button class="confirm" (click)="getSignTx()">
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
