@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

:host {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    height: 100%;
}
.nav {
    width: 300px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 8px 16px #484e6d;
    height: 100%;
    z-index: 5;
}
.menu {
    padding: 0 $space*2;
    color: #282828;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s;
    height: 60px;
    position: relative;
    line-height: 60px;
}
.menu:hover, .nav .menu.active {
    background: #F4F7FC;
}
.menu.disabled {
    cursor: not-allowed;
    color: #666666;
}
.menu .cursor {
    background: mat-color($default-app-primary);
    width: 4px;
    height: 40px;
    position: absolute;
    right: 0;
    top: 10px;
    display: none;
}
.menu.active .cursor {
    display: block;
}
.body {
    -webkit-box-flex: 1;
    flex: 1;
}

.menu {
    .setting-dropdown {
        width: 8px;
        height: 4px;
        display: inline-block;
        @include bg($img-dropdown);
        position: absolute;
        top: 50%;
        margin-top: -2px;
        margin-left: 9px;
        transition: transform .4s;
    }
}
.setting-dropdown.down-setting {
    transform: rotate(0deg);
}
.setting-dropdown.up-setting {
    transform: rotate(180deg);
}
.setting {
    .detail-item {
        height: 50px;
        line-height: 50px;
        color: #666666;
        font-size: 14px;
        font-weight: 500;
        padding-left: 48px;
        color: map-get($colors, 666666);
    }
}

@media screen and (max-width: 1200px) {
    .nav {
        width: 240px;
    }
}
