<div class="nav flex-y">
    <div class="menu" routerLink="/setting/about" routerLinkActive="active">
        {{ 'about' | translate | async}}
        <div class="cursor"></div>
    </div>
    <div class="menu" routerLink="/setting/detail" routerLinkActive="active">
        {{ 'setting' | translate | async }}<span class="setting-dropdown"></span>
        <div class="cursor"></div>
    </div>
    <div class="setting">
        <div class="detail-item">
            {{ 'setLang' | translate | async}}
        </div>
        <div class="detail-item" >
            {{ 'clearCache' | translate | async}}
        </div>
        <div class="detail-item">
            {{ 'assetRate' | translate | async}}
        </div>
        <div class="detail-item">
            {{ 'privacyData' | translate | async}}
        </div>
    </div>
</div>
<div class="body">
    <router-outlet></router-outlet>
</div>
