@import "src/styles/pop-ups-menu.scss";

section.container {
  padding-top: 16px;
  color: var(--title-color);
  button.search {
    width: calc(100% - 48px);
    margin: 0 24px;
    height: 44px;
    border-radius: 4px;
    border: 1px solid #cfdfe5;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    img.search {
      margin-right: 12px;
      cursor: pointer;
    }
    input {
      flex: 1;
      color: var(--title-color);
      font-family: NeverMind-Medium;
      font-size: 14px;
    }
    img.clear {
      margin-left: 12px;
      cursor: pointer;
    }
  }
  .select-chain {
    margin: 12px 24px 0 24px;
    position: relative;
    .chain {
      display: inline-block;
      width: fit-content;
      height: 28px;
      border-radius: 24px;
      display: flex;
      align-items: center;
      padding: 0px 8px;
      gap: 4px;
      border: 0.5px solid #cfdfe5;
      font-size: 12px;
    }
  }
  .list {
    margin-top: 8px;
    height: 300px;
    ul {
      height: 100%;
      overflow-y: scroll;
      &::-webkit-scrollbar {
        display: block;
      }
      li {
        width: 100%;
        height: 64px;
        padding: 0 24px;
        cursor: pointer;
        display: flex;
        align-items: center;
        position: relative;
        &:hover {
          background: var(--hover-color);
        }
        img.avatar {
          margin-right: 8px;
          border-radius: 50%;
          width: 26px;
          height: 26px;
        }
        .name {
          max-width: 240px;
          font-size: 16px;
          line-height: 18px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .address {
          margin-top: 4px;
          max-width: 240px;
          font-size: 12px;
          font-family: NeverMind-Regular;
          color: var(--sub-title-color);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
    .no-data {
      padding-top: 40px;
      text-align: center;
      font-size: 14px;
      color: var(--tip-color);
    }
  }
}
