<div class="pop-ups-title">
  {{ 'requestSignature' | translate | async }}
  <img
    class="close"
    [mat-dialog-close]="false"
    theme
    src="assets/images/common/close.svg"
    alt=""
  />
</div>

<div class="content" [hidden]="isScanning">
  <div class="code">
    <p class="tip">{{ "requestSignatureStep1" | translate | async }}</p>
    <div id="popup-tx-qrcode"></div>
    <p class="tip">{{ "requestSignatureStep2" | translate | async }}</p>
  </div>
</div>

<div class="content" [hidden]="!isScanning">
  <div class="code">
    <div class="loading" *ngIf="loadingScanner">
      <mat-spinner diameter="34" strokeWidth="4"></mat-spinner>
    </div>
    <div id="reader"></div>
    <ng-container *ngIf="cameraError">
      <p class="error">
        {{ (cameraPermission ? 'cameraError' : 'cameraPermissionDenied') |
        translate | async }}
      </p>
    </ng-container>
    <ng-container *ngIf="!cameraError">
      <p class="tip">{{ 'scanQRCodeTip' | translate | async }}</p>
      <p class="error" *ngIf="!isValidQRCode">
        {{ 'invalidQRCode' | translate | async }}
      </p>
    </ng-container>
  </div>
</div>

<div class="btn-group">
  <button class="cancel" [mat-dialog-close]="false">
    {{ "reject" | translate | async }}
  </button>
  <button class="confirm" (click)="confirm()">
    {{ "getSignature" | translate | async }}
  </button>
</div>
