// flex
.flex-1 {
  flex: 1;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-y {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}

// dialog
.custom-dialog-panel {
  width: 92vw;
  max-width: 92vw !important;
  background: #fff;
  border-radius: 4px;
  .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 16%);
    overflow: visible;
  }
}
.custom-dialog-panel-full {
  background: #fff;
  .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0;
    border-radius: 0;
  }
}

// network-type
$network-list: (
  id1: #50bfb6,
  id2: #bf9c50,
  id3: #17994d,
  id4: #7056bf,
  id6: #5072bf,
);
@each $network, $color in $network-list {
  .#{$network}.network-type {
    background: $color !important;
  }
}

// scroll
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  display: none;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: var(--tip-color);
}

// input
::-webkit-input-placeholder {
  color: var(--tip-color);
}

// veil
.pop-ups-veil {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  z-index: 999;
}

// pop-ups
.pop-ups-title {
  padding: 0 24px;
  height: 63px;
  line-height: 63px;
  font-family: NeverMind-Medium;
  font-size: 16px;
  color: var(--sub-title-color);
  border-bottom: 1px solid var(--line-color);
  position: relative;
  img.close {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }
}

// asset logo
.asset-logo-box {
  width: 48px;
  height: 48px;
  padding: 9px;
  border: 1px solid var(--border-color);
  border-radius: 50%;
  img {
    height: 30px;
    width: 30px;
  }
  &.small {
    width: 30px;
    height: 30px;
    padding: 4px;
    background: var(--body-background-color);
    border: none;
    img {
      width: 22px;
      height: 22px;
    }
  }
  &.big {
    width: 56px;
    height: 56px;
    padding: 12px;
    background: var(--body-background-color);
    border: none;
    img {
      width: 32px;
      height: 32px;
    }
  }
}

// loading
.loading-box {
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 99999;
  padding-top: 50%;
  text-align: center;
  .content {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
    min-height: 120px;
    padding: 24px 0;
    border-radius: 8px;
    background: rgba(0, 0, 0, 0.7);
    .tip {
      width: 250px;
      line-height: 20px;
      padding: 24px 30px;
      padding-bottom: 0;
      color: #fff;
    }
    button {
      padding: 0 16px;
      margin-top: 24px;
    }
  }
}
