@font-face {
  font-family: NeverMind-DemiBold;
  src: url("/assets/fonts/NeverMind-DemiBold.ttf") format("truetype");
}

@font-face {
  font-family: NeverMind-Medium;
  src: url("/assets/fonts/NeverMind-Medium.ttf") format("truetype");
}

@font-face {
  font-family: NeverMind;
  src: url("/assets/fonts/NeverMind-Medium.ttf") format("truetype");
}

@font-face {
  font-family: NeverMind-Regular;
  src: url("/assets/fonts/NeverMind-Regular.ttf") format("truetype");
}
