// flex
.flex-1 {
  flex: 1;
}
.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.flex-y {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  flex-flow: column;
}

// dialog
.custom-dialog-panel {
  width: 92vw;
  max-width: 92vw !important;
  background: #fff;
  border-radius: 4px;
  .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0;
    border-radius: 0;
    box-shadow: 0px 4px 16px 0px rgb(0 0 0 / 16%);
    overflow: visible;
  }
}
.custom-dialog-panel-full {
  background: #fff;
  .mat-dialog-container {
    box-shadow: none;
    background: none;
    padding: 0;
    border-radius: 0;
  }
}

// network-type
$network-list: (
  id1: #50bfb6,
  id2: #bf9c50,
  id3: #17994d,
  id4: #7056bf,
  id6: #5072bf,
);
@each $network, $color in $network-list {
  .#{$network}.network-type {
    background: $color !important;
  }
}

// scroll
::-webkit-scrollbar {
  display: none;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #ccc;
}

// veil
.pop-ups-veil {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: transparent;
  z-index: 999;
}

// pop-ups
.pop-ups-title {
  padding: 0 24px;
  height: 63px;
  line-height: 63px;
  font-family: NeverMind-Medium;
  font-size: 16px;
  color: $sub-title-color;
  border-bottom: 1px solid $line-color;
  position: relative;
  img.close {
    position: absolute;
    right: 24px;
    top: 24px;
    cursor: pointer;
  }
}
