.asset-balance {
  font-family: NeverMind-DemiBold;
  font-size: 24px;
  line-height: 20px;
  color: var(--title-color);
  text-align: center;
  padding: 0px 20px;
  overflow-wrap: break-word;
}
.asset-money {
  font-family: NeverMind-Medium;
  font-size: 14px;
  color: var(--sub-title-color);
  text-align: center;
  padding: 0px 20px;
  margin-top: 8px;
  overflow-wrap: break-word;
}
.transaction-btn-container {
  margin-top: 26px;
  padding: 0 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .item {
    display: inline-flex;
    align-items: center;
    font-family: NeverMind-Medium;
    font-size: 14px;
    color: var(--title-color);
    cursor: pointer;
    &.transfer {
      color: var(--theme-color);
    }
    img {
      margin-right: 8px;
      border-radius: 50%;
    }
    &.receive {
      img {
        background: var(--title-color);
      }
      &:hover img {
        box-shadow: var(--tx-receive-box-shadow);
      }
    }
    &.transfer {
      img {
        background: var(--theme-color);
      }
      &:hover img {
        box-shadow: var(--tx-transfer-box-shadow);
      }
    }
  }
}
