.pop-ups-menu {
  border-radius: 4px;
  background: #ffffff;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  z-index: 999999;
  li {
    display: flex;
    align-items: center;
    height: 48px;
    font-family: NeverMind-Medium;
    font-size: 16px;
    color: #3d3d3d;
    padding: 0 16px;
    cursor: pointer;
    img {
      margin-right: 12px;
    }
    &:hover {
      background: var(--hover-color);
      color: var(--theme-color);
      img {
        filter: drop-shadow(1000px 0 0 var(--theme-color));
        transform: translate(-1000px);
      }
    }
  }
}
