.pop-ups-menu {
  border-radius: 4px;
  background: var(--body-background-color);
  box-shadow: var(--popups-box-shadow);
  z-index: 999999;
  li {
    display: flex;
    align-items: center;
    height: 48px;
    font-family: NeverMind-Medium;
    font-size: 16px;
    color: var(--important-title-color);
    padding: 0 16px;
    cursor: pointer;
    img {
      margin-right: 12px;
    }
    &.active,
    &:hover {
      background: var(--hover-color);
      color: var(--theme-color);
      img:not(.delete) {
        filter: drop-shadow(10000px 0 0 var(--theme-color));
        transform: translate(-10000px);
      }
    }
  }
}
