html[data-theme-style="light-theme"]:root {
  --theme-color: #06ccab;
  --warn-color: #ff8142;
  --error-color: #fa5555;
  --title-color: #303334;
  --important-title-color: #3d3d3d;
  --sub-title-color: #738993;
  --tip-color: #afb6be;
  --box-color: #fafafa;
  --line-color: #f4f4f4;
  --border-color: #e7efef;
  --hover-color: #f5f9f9;
  --background-color: #e7efef;
  --body-background-color: #fff;
  --popups-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.16);
  --small-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.16);
  --asset-add-box-shadow: 0px 5px 10px -2px rgba(6, 204, 171, 0.5);
}
/* dark */
html[data-theme-style="dark-theme"]:root {
  --theme-color: #06ccab;
  --warn-color: #ff8142;
  --error-color: #fa5555;
  --title-color: #fcfdff;
  --important-title-color: #fcfdff;
  --sub-title-color: #b9babe;
  --tip-color: #9fa2a9;
  --box-color: #2a2b2f;
  --line-color: #43464d;
  --border-color: #43464d;
  --hover-color: #4ddcba33;
  --background-color: #303135;
  --body-background-color: #363940;
  --popups-box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.5);
  --small-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.5);
  --asset-add-box-shadow: 0px 5px 8px -2px rgba(6, 204, 171, 0.8);
}
