$theme-color: #06ccab;
$warn-color: #ff8142;
$error-color: #fa5555;
$title-color: #303334;
$sub-title-color: #738993;
$tip-color: #afb6be;
$box-color: #fafafa;
$line-color: #f4f4f4;
$hover-color: #f5f9f9;
$background-color: #e7efef;
