@import 'src/styles/fonts';

$img-all: '/assets/images/all.png';
$img-back: '/assets/images/back.png';
$img-omi: '/assets/images/omi.png';
$img-slide-menu: '/assets/images/slide_menu.png';
$img-logo-title: '/assets/images/logo_title.png';
$img-login-logo: '/assets/images/login_logo.png';
$img-net-dropdown: '/assets/images/net_dropdown.png';
$img-select: '/assets/images/select.png';
$img-language-change: '/assets/images/language_change.png';
$img-clear-cache: '/assets/images/clear_cache.png';
$img-create-wallet: '/assets/images/create_wallet.png';
$img-import-wallet: '/assets/images/import_wallet.png';
$img-export-wallet: '/assets/images/export_wallet.png';
$img-qrcode: '/assets/images/qrcode.png';
$img-edit: '/assets/images/edit.png';
$img-filter: '/assets/images/filter.png';
$img-login-bg: '/assets/images/popup_login_bg.png';
$img-popup-logo: '/assets/images/popup_logo.png';
$img-show-pwd: '/assets/images/show_pwd.png';
$img-hide-pwd: '/assets/images/hide_pwd.png';
$img-lock: '/assets/images/lock.png';
$img-down-arrow: '/assets/images/down_arrow.png';
$img-manage-asset: '/assets/images/manage_asset.png';
$img-loading: '/assets/images/loading.gif';
$img-code-bg: '/assets/images/code_bg.png';
$img-search: '/assets/images/search.png';

$img-about-active: '/assets/images/side-nav/about-active.png';
$img-about-close: '/assets/images/side-nav/about-close.png';
$img-neotube-active: '/assets/images/side-nav/neotube-active.png';
$img-neotube-close: '/assets/images/side-nav/neotube-close.png';
$img-home-active: '/assets/images/side-nav/home-active.png';
$img-home-close: '/assets/images/side-nav/home-close.png';
$img-setting-active: '/assets/images/side-nav/setting-active.png';
$img-setting-close: '/assets/images/side-nav/setting-close.png';
$img-web-active: '/assets/images/side-nav/web-active.png';
$img-web-close: '/assets/images/side-nav/web-close.png';
$img-logout: '/assets/images/side-nav/logout.png';
$img-close-side-nav: '/assets/images/side-nav/close-side-nav.png';

$img-contact: '/assets/images/about/contact.png';
$img-item: '/assets/images/about/item.png';
$img-privacy: '/assets/images/about/privacy.png';
$img-site: '/assets/images/about/site.png';

$img-tp-net-dropdown: '/assets/images/third-party/net-dropdown.png';
$img-tp-direction: '/assets/images/third-party/direction.png';
$img-tp-nav-bg: '/assets/images/third-party/nav-bg.png';
$img-tp-auth-secure: '/assets/images/third-party/auth-secure.png';
$img-tp-auth-select: '/assets/images/third-party/auth-select.png';

$img-authorization-success: '/assets/images/auth-success.png';
$img-authorization-fail: '/assets/images/auth-fail.png';
$img-authorization-rule-selected: '/assets/images/auth-rule-selected.png';
$img-setting-delete: '/assets/images/setting_delete.png';
$img-setting-rate-dropdown: '/assets/images/setting_rate_dropdown.png';
$img-setting-one: '/assets/images/setting_one.png';
$img-setting-two: '/assets/images/setting_two.png';
$img-setting-three: '/assets/images/setting_three.png';
$img-setting-four: '/assets/images/setting_four.png';
$img-setting-dropdown: '/assets/images/setting_dropdown.png';

$z-indexes: (
    max: 9999999,
    high: 99999,
    middle: 999,
    low: 99,
    min: 1
);

$colors: (
    e5e5e5: #e5e5e5,
    8dd9d2: #8dd9d2,
    7a87a9: #7a87a9,
    999999: #999999,
    666666: #666666,
    333333: #333333,
    9fa8bd: #9fa8bd,
    484e6d: #484e6d,
    f2f2f2: #f2f2f2,
    f7f8f9: #f7fbf9,
    eeeeee: #eeeeee,
    e4e3f9: #e4e3f9,
    71dbc4: #71dbc4,
    e2e2e2: #e2e2e2
);

@mixin bg($bgurl) {
    background: url($bgurl) center center/contain no-repeat;
}

@mixin balance {
    font-family: AkrobatBold, serif;
    letter-spacing: 1px;

    &:after {
        content: ' ';
    }
}

$theme-color-dark: #06ccab;
$title-dark: #fff;
$font-color-light-dark: #9fa8bd;
$font-color-middle-dark: #9494a1;
$font-color-weight-dark: #797a8d;
$font-color-outstanding-dark: #f96c6c;
$bg-outstanding-dark: #71dbc4;
$bg-main-dark: #39394e;
$bg-auxiliary-dark: #2c2c42;
$bg-base-dark: #232338;
$line-light-dark: #e5e5e5;
$line-middle-dark: #494959;
$line-weight-dark: #45455d;

@mixin font-color($light-color, $dark-color) {
    :host-context([data-theme-style='dark-theme']) & {
        color: $dark-color;
    }
    :host-context([data-theme-style='light-theme']) & {
        color: $light-color;
    }
}

@mixin background-color($light-color, $dark-color) {
    :host-context([data-theme-style='dark-theme']) & {
        background-color: $dark-color;
    }
    :host-context([data-theme-style='light-theme']) & {
        background-color: $light-color;
    }
}

@mixin border-color($light-color, $dark-color) {
    :host-context([data-theme-style='dark-theme']) & {
        border-color: $dark-color;
    }
    :host-context([data-theme-style='light-theme']) & {
        border-color: $light-color;
    }
}

@mixin box-shadow($light-content, $dark-content) {
    :host-context([data-theme-style='dark-theme']) & {
        box-shadow: $dark-content;
    }
    :host-context([data-theme-style='light-theme']) & {
        box-shadow: $light-content;
    }
}
