/* You can add global styles to this file, and also import other style files */
@import "./_fonts";
@import "./popup-default";
@import "./_common";
@import "./_button";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html,
body {
  height: 100%;
  color: var(--title-color);
  font-size: 14px;
  font-family: NeverMind-Medium;
  line-height: 1;
}
address,
dl,
ol,
p,
pre,
ul {
  margin: 0;
}
button {
  outline: none;
  border: none;
  background: none;
}
input {
  outline: none;
  background: none;
  border: none;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
input:focus,
textarea:focus {
  outline: none;
}
