/* You can add global styles to this file, and also import other style files */
@import 'src/styles/fonts';
@import './popup-default';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; outline: none;
    font-family:
        'Microsoft Yahei',
        'Arial Narrow Bold',
        sans-serif;
}

*:not(input,button):hover {
    cursor: default;
}

*:active {
    outline: none;
}

::-webkit-scrollbar
{
    display: none;
}
::-webkit-scrollbar-track
{
    background: none;
}
::-webkit-scrollbar-thumb
{
    border-radius: 6px;
    background-color: #ccc;
}

html, body {
    height: 100%;
}
body {
    background: #f8f8f8;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    &[data-theme-style="dark-theme"] {
        background-color: $bg-base-dark;
    }
}

.custom-dialog-container .mat-dialog-container {
    padding: 0;
}
.flex-1 {
    flex: 1;
}
.flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}
.flex-y {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
}

.cdk-global-scrollblock {
    position: unset;
    overflow: hidden;
}
.dialog-transparent .mat-dialog-container {
    min-width: 120px;
    box-shadow: none;
    background: none;
}

.custom-dialog-panel {
    width: 92vw;
    max-width: 92vw !important;
    background: #fff;
    border-radius: 15px;
    .mat-dialog-container {
        box-shadow: none;
        background: none;
        padding: 0;
        border-radius: 0;
    }
}

.custom-dialog-panel-full {
    background: #fff;
    .mat-dialog-container {
        box-shadow: none;
        background: none;
        padding: 0;
        border-radius: 0;
    }
}
