@import './popup-default';

.tabs-container {
  background: var(--body-background-color);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  span {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    margin-left: 24px;
    font-family: NeverMind-Regular;
    font-size: 16px;
    color: var(--sub-title-color);
    cursor: pointer;
    position: relative;
    &::after {
      content: "";
      width: 16px;
      height: 3px;
      border-radius: 2px;
      background-color: var(--title-color);
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -8px;
      display: none;
    }
    &.selected,
    &:hover {
      color: var(--title-color);
      &::after {
        display: block;
      }
    }
  }
}
