.content {
  max-width: 696px;
  padding: 40px 24px;
  padding-top: 60px;
  margin: 0 auto;
  position: relative;
  .loading {
    width: 300px;
    height: 250px;
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .code {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    font-size: 12px;
    line-height: 18px;
    .tip {
      color: var(--sub-title-color);
    }
    .error {
      color: var(--error-color);
    }
  }
}

#reader {
  width: 300px;
  height: 250px;
  filter: blur(4px);
}
