<div class="loading-box" *ngIf="loading">
        <div>
            <mat-spinner strokeWidth="10"></mat-spinner>
        </div>
        <h3>{{ loadingMsg }}</h3>
    </div>
<div class="invoke-body">

    <div class="script-hash-box">
        <p>scriptHash: </p>
        <p class="content">{{ scriptHash }}</p>
    </div>
    <div class="operation-box">
        <p>operation: </p>
        <p class="content">{{ operation }}</p>
    </div>
    <div class="args-box">
        <p>args: </p>
        <p class="content">{{ args }}</p>
    </div>
</div>
