<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip" *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</p>
  </div>
</div>

<div class="container">
  <div class="header">
    <div class="invoke-type">· INVOKE</div>
    <p class="title">
      NEO {{ n2Network.network }}
      {{ "ChainSmartContractDeploy" | translate | async }}
    </p>
    <p class="account">
      <img [avatar]="signAddress" />{{ signAddress | longStr : 10 }}
    </p>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <ul class="content details" *ngIf="tabType === 'details'">
    <li>
      <p class="row">
        <span class="label"
          >GAS FEE<img
            class="edit"
            (click)="editFee()"
            theme
            src="assets/images/common/edit.svg"
        /></span>
        <span class="value"
          >{{ (showFeeEdit ? fee : 0) | numberFixed }} GAS</span
        >
      </p>
      <p class="row tip">
        {{ (showFeeEdit ? feeMoney : 0) | numberFixed : 2 }} {{ rateCurrency }}
      </p>
    </li>
  </ul>
  <div class="content data" *ngIf="tabType === 'data'">
    <ul>
      <li>
        <p class="label">{{ "YourSigningAddress" | translate | async }}</p>
        <p class="value">{{ signAddress }}</p>
      </li>
      <li>
        <p class="label">{{ "ContractScriptHash" | translate | async }}</p>
        <p class="value">{{ dataJson.scriptHash }}</p>
      </li>
      <li>
        <p class="label">{{ "Operation" | translate | async }}</p>
        <p class="value">{{ dataJson.operation }}</p>
      </li>
      <li>
        <p class="label">{{ "InvocationArguments" | translate | async }}</p>
        <div class="value" *ngFor="let item of dataJson.args">
          <p *ngIf="item?.type">{{ item.type }} - {{ item.value }}</p>
          <p *ngIf="!item?.type">{{ item }}</p>
        </div>
      </li>
      <li *ngIf="dataJson?.fee !== undefined">
        <p class="label">{{ "Fee" | translate | async }}</p>
        <p class="value">{{ dataJson?.fee }}</p>
      </li>
      <li *ngIf="dataJson?.attachedAssets !== undefined">
        <p class="label">{{ "AttachedAssets" | translate | async }}</p>
        <p
          class="value"
          *ngFor="let item of dataJson.attachedAssets | keyvalue"
        >
          {{ item.key }} - {{ item.value }}
        </p>
      </li>
      <li *ngIf="dataJson?.assetIntentOverrides !== undefined">
        <p class="label">
          {{ "AssetIntentOverrideInputs" | translate | async }}
        </p>
        <ng-container *ngFor="let item of dataJson.assetIntentOverrides.inputs">
          <p class="value">txid - {{ item.txid }}</p>
          <p class="value">index - {{ item.index }}</p>
        </ng-container>
      </li>
      <li *ngIf="dataJson?.assetIntentOverrides !== undefined">
        <p class="label">
          {{ "AssetIntentOverrideOutputs" | translate | async }}
        </p>
        <ng-container
          *ngFor="let item of dataJson.assetIntentOverrides.outputs"
        >
          <p class="value">
            {{ "asset" | translate | async }} - {{ item.asset }}
          </p>
          <p class="value">
            {{ "address" | translate | async }} - {{ item.address }}
          </p>
          <p class="value">
            {{ "amount" | translate | async }} - {{ item.value }}
          </p>
        </ng-container>
      </li>
      <li *ngIf="dataJson?.triggerContractVerification !== undefined">
        <p class="label">
          {{ "triggerContractAssetVerification" | translate | async }}
        </p>
        <p class="value">
          {{
            (dataJson.triggerContractVerification ? "Yes" : "No")
              | translate
              | async
          }}
        </p>
      </li>
      <li *ngIf="dataJson?.txHashAttributes !== undefined">
        <p class="label">{{ "TransactionAttributes" | translate | async }}</p>
        <p class="value" *ngFor="let item of dataJson.txHashAttributes">
          {{ item.txAttrUsage }} - {{ item.value }}
        </p>
      </li>

      <li *ngIf="dataJson?.broadcastOverride !== undefined">
        <p class="label">{{ "broadcastOverride" | translate | async }}</p>
        <p class="value">
          {{ (dataJson.broadcastOverride ? "Yes" : "No") | translate | async }}
        </p>
      </li>
    </ul>
    <p class="hex-label">HEX</p>
    <p class="json-box serialize">{{ txSerialize }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button class="confirm" (click)="confirm()">
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
