@import 'src/styles/theme-default';

:host {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    background: #F4F7FC;
    font-size: 14px;
}
span {
    padding: $space;
    overflow: hidden;
    color: #484E6D;
    text-align: center;
}
span.txid {
    width: 260px;
}