<div class="container">
  <button class="host">
    <img [src]="iconSrc" appErrorSrc alt="" />{{ hostname }}
  </button>
  <p class="title">{{ "switchNetworkTitle" | translate | async }}</p>
  <p class="desc">{{ "switchNetworkDesc" | translate | async }}</p>
  <div class="networks">
    <span class="network">{{ currentNetworkType }}</span>
    <span class="arrow">
      <img src="/assets/images/third-party/wallet-arrow.svg" alt="" />
    </span>
    <span class="network">{{ switchNetworkType }}</span>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="refuse()">
      {{ "refuse" | translate | async }}
    </button>
    <button class="confirm" (click)="confirm()">
      {{ "switchNetwork" | translate | async }}
    </button>
  </div>
</div>
