<div class="container">
  <button class="host">
    <img [src]="iconSrc" [appErrorSrc]="'unknown'" alt="" />{{ hostname }}
  </button>
  <p class="title">{{ "switchNetworkTitle" | translate | async }}</p>
  <p class="desc">{{ "switchNetworkDesc" | translate | async }}</p>
  <div class="networks">
    <div class="network">
      <p>{{ currentNetworkName }}</p>
      <p *ngIf="currentChainType === 'NeoX'">({{ currentChainType }})</p>
    </div>
    <span class="arrow">
      <img src="/assets/images/third-party/wallet-arrow.svg" alt="" />
    </span>
    <div class="network">
      <p>{{ switchNetworkName }}</p>
      <p *ngIf="requestChainType === 'NeoX'">({{ requestChainType }})</p>
    </div>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="refuse()">
      {{ "refuse" | translate | async }}
    </button>
    <button class="confirm" (click)="confirm()">
      {{ "switchNetwork" | translate | async }}
    </button>
  </div>
</div>
