.content {
  position: relative;
  .tip {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    width: max-content;
    height: 32px;
    line-height: 32px;
    padding: 0 20px;
    border-radius: 4px;
    background: #ffffff;
    box-shadow: var(--small-box-shadow);
    z-index: 999;
    pointer-events: none;
    :host-context([data-theme-style="dark-theme"]) & {
      background: #43464d;
    }
  }
}
