<section class="content">
    <div class="title">
        <p>{{ 'thAssetTip' | translate | async}}</p>
        <!-- <p class="chinese">你想添加这些代币吗?</p> -->
    </div>
    <div class="token">
        <div class="token-name">
            <p class="tip">{{ 'asset' | translate | async}}</p>
            <p class="detail"><img src="" alt=""><span>NEO</span></p>
        </div>
        <div class="token-value">
            <p class="tip">{{ 'balance' | translate | async}}</p>
            <p class="detail"><span class="amount">4800.23</span>&nbsp;<span class="type">NEO</span></p>
        </div>
    </div>
</section>

<section class="submit-group">
    <div class="button-group">
        <button mat-button class="cancel" (click)="cancel()">{{ 'cancel' | translate | async}}</button>
        <button mat-button class="confirm" (click)="submit()">{{ 'addAsset' | translate | async}}</button>
    </div>
</section>
