@import './light';
@import './dark';

.content {
    width: 100%;
    padding: 0 15px;

    .title {
        width: 100%;
        padding: 0 10px;
    }

    .title {
        margin-top: 30px;

        p {
            word-wrap: break-word;
            font-weight: 800;
            line-height: 40px;
            margin-bottom: 20px;
            font-size: 26px;
        }

        // p.english {
        //     font-size: 30px;
        //     color: map-get($colors, 333333);
        // }

        // p.chinese {
        //     color: map-get($neo-line-default, 500);
        //     font-size: 18px;
        // }
    }

    .token {
        font-weight: bold;
        width: 100%;
        display: inline-flex;

        div {
            text-align: left;
            padding: 0 10px;
        }

        .tip {
            font-size: 14px;
            line-height: 50px;
        }

        .token-name {
            width: 50%;
            display: inline-block;

            .detail {
                display: inline-flex;
                align-items: center;

                img {
                    display: inline-block;
                    width: 39px;
                    height: 39px;
                    border-radius: 6px;
                    margin-right: 10px;
                }

                span {
                    font-size: 15px;
                }
            }
        }

        .token-value {
            width: 50%;
            display: inline-block;

            .detail {
                height: 39px;
                line-height: 39px;

                span.amount {
                    font-size: 17px;
                }

                span.type {
                    font-size: 12px;
                }
            }
        }
    }
}

.submit-group {
    height: 40px;
    position: fixed;
    bottom: 50px;
    left: 27px;
    right: 27px;

    .button-group {
        width: 100%;
        position: relative;
    }

    button {
        width: 150px;
        height: 40px;
        border-radius: 4px;
    }

    button.confirm {
        position: absolute;
        right: 0;
    }
}
