<div class="content">
  <div class="pop-ups-title">
    {{ "SortWallets" | translate | async }} ({{ data.selectChainType }})
    <img
      class="close"
      [mat-dialog-close]="false"
      theme
      src="assets/images/common/close.svg"
      alt=""
    />
  </div>
  <div class="wallet-list">
    <div class="list-item">
      <div class="list-title">
        <span>{{ privateKeyGroup.title }}</span>
        <span
          class="dropdown"
          (click)="privateKeyGroup.expand = !privateKeyGroup.expand"
        >
          <img
            theme
            [ngClass]="{ expand: privateKeyGroup.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </div>
      <ul #sortablePrivateKeyList [hidden]="!privateKeyGroup.expand">
        <li
          *ngFor="let item of privateKeyGroup.walletArr; index as index"
          [ngClass]="{
            active: data.wallet.accounts[0].address === item.accounts[0].address
          }"
        >
          <span class="select"></span>
          <div
            class="avatar-box"
            [ngClass]="{ ledger: item.accounts[0]?.extra?.ledgerSLIP44 }"
          >
            <img class="avatar" [avatar]="item.accounts[0].address" />
            <img
              *ngIf="item.accounts[0]?.extra?.ledgerSLIP44"
              class="usb"
              src="/assets/images/ledger/ledger-avatar.png"
              alt=""
            />
          </div>
          <div>
            <p class="name">{{ item.name }}</p>
          </div>
          <img
            class="handle"
            theme
            src="/assets/images/account/sort.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="list-item">
      <div class="list-title">
        <span>{{ ledgerGroup.title }}</span>
        <span
          class="dropdown"
          (click)="ledgerGroup.expand = !ledgerGroup.expand"
        >
          <img
            theme
            [ngClass]="{ expand: ledgerGroup.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </div>
      <ul #sortableLedgerList [hidden]="!ledgerGroup.expand">
        <li
          *ngFor="let item of ledgerGroup.walletArr; index as index"
          [ngClass]="{
            active: data.wallet.accounts[0].address === item.accounts[0].address
          }"
        >
          <span class="select"></span>
          <div
            class="avatar-box"
            [ngClass]="{ ledger: item.accounts[0]?.extra?.ledgerSLIP44 }"
          >
            <img class="avatar" [avatar]="item.accounts[0].address" />
            <img
              *ngIf="item.accounts[0]?.extra?.ledgerSLIP44"
              class="usb"
              src="/assets/images/ledger/ledger-avatar.png"
              alt=""
            />
          </div>
          <div>
            <p class="name">{{ item.name }}</p>
          </div>
          <img
            class="handle"
            theme
            src="/assets/images/account/sort.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="list-item" *ngIf="oneKeyGroup">
      <div class="list-title">
        <span>{{ oneKeyGroup.title }}</span>
        <span
          class="dropdown"
          (click)="oneKeyGroup.expand = !oneKeyGroup.expand"
        >
          <img
            theme
            [ngClass]="{ expand: oneKeyGroup.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </div>
      <ul #sortableOneKeyList [hidden]="!oneKeyGroup.expand">
        <li
          *ngFor="let item of oneKeyGroup.walletArr; index as index"
          [ngClass]="{
            active: data.wallet.accounts[0].address === item.accounts[0].address
          }"
        >
          <span class="select"></span>
          <div
            class="avatar-box"
            [ngClass]="{ ledger: item.accounts[0]?.extra?.ledgerSLIP44 }"
          >
            <img class="avatar" [avatar]="item.accounts[0].address" />
            <img
              *ngIf="item.accounts[0]?.extra?.ledgerSLIP44"
              class="usb"
              src="/assets/images/ledger/ledger-avatar.png"
              alt=""
            />
          </div>
          <div>
            <p class="name">{{ item.name }}</p>
          </div>
          <img
            class="handle"
            theme
            src="/assets/images/account/sort.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
    <div class="list-item" *ngIf="qrCodeGroup">
      <div class="list-title">
        <span>{{ qrCodeGroup.title }}</span>
        <span
          class="dropdown"
          (click)="qrCodeGroup.expand = !qrCodeGroup.expand"
        >
          <img
            theme
            [ngClass]="{ expand: qrCodeGroup.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </div>
      <ul #sortableQrCodeList [hidden]="!qrCodeGroup.expand">
        <li
          *ngFor="let item of qrCodeGroup.walletArr; index as index"
          [ngClass]="{
            active: data.wallet.accounts[0].address === item.accounts[0].address
          }"
        >
          <span class="select"></span>
          <div
            class="avatar-box"
            [ngClass]="{ ledger: item.accounts[0]?.extra?.ledgerSLIP44 }"
          >
            <img class="avatar" [avatar]="item.accounts[0].address" />
            <img
              *ngIf="item.accounts[0]?.extra?.ledgerSLIP44"
              class="usb"
              src="/assets/images/ledger/ledger-avatar.png"
              alt=""
            />
          </div>
          <div>
            <p class="name">{{ item.name }}</p>
          </div>
          <img
            class="handle"
            theme
            src="/assets/images/account/sort.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
  <button class="confirm pop-ups add-wallet" (click)="confirm()">
    {{ "Confirm" | translate | async }}
  </button>
</div>
