<div class="loading" *ngIf="isLoading">{{ "loading" | translate | async }}</div>
<div
  class="asset-item"
  *ngFor="let asset of nfts"
  [routerLink]="['/popup/nfts', asset.assethash]"
>
  <token-logo
    customClass="list"
    [isNFT]="true"
    [symbol]="asset.symbol"
  ></token-logo>

  <div class="item-middle">
    <div class="asset-name">
      <span>{{ asset.name }}</span>
      (<span>{{ asset.symbol }}</span
      >)
    </div>
    <p class="asset-id">{{ asset?.assethash }}</p>
  </div>
  <div class="item-right">
    <div class="balance">{{ asset?.tokens?.length || 0 }}</div>
  </div>
</div>

<p *ngIf="!isLoading && (!nfts || nfts?.length === 0)" class="no-data">
  {{ "noData" | translate | async }}
</p>
