<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip">Wait</p>
  </div>
</div>
<div class="pop-ups-title">
  {{ 'AddNetwork' | translate | async }}({{ data.addChainType }})
  <img
    class="close"
    [mat-dialog-close]="false"
    theme
    src="assets/images/common/close.svg"
    alt=""
  />
</div>

<div class="add-tip">
  <img src="assets/images/common/warning.svg" alt="" />
  {{'AddNetworkTip' | translate | async}}
</div>

<form class="container" [formGroup]="addNetworkForm">
  <p class="label">{{ 'NetworkName' | translate | async }}</p>
  <mat-form-field class="form-field" appearance="outline">
    <input matInput required formControlName="name" type="text" />
    <mat-error *ngIf="addNetworkForm.get('name').errors?.required"
      >{{ "networkNameIsRequired" | translate | async }}
    </mat-error>
  </mat-form-field>

  <p class="label">{{ 'New_RPC_URL' | translate | async }}</p>
  <mat-form-field class="form-field" appearance="outline">
    <input
      matInput
      required
      (input)="getMagicNumber()"
      formControlName="rpcUrl"
    />
    <mat-error *ngIf="addNetworkForm.get('rpcUrl').errors?.required">
      {{ "rpcUrlIsRequired" | translate | async }}
    </mat-error>
    <mat-error *ngIf="addNetworkForm.get('rpcUrl').errors?.errorRPC">
      {{ "Invalid_RPC_URL" | translate | async }}
    </mat-error>
    <mat-error *ngIf="addNetworkForm.get('rpcUrl').errors?.errorExistChainId">
      {{ "exist_RPC_URL" | translate | async }}
    </mat-error>
  </mat-form-field>

  <div *ngIf="data.addChainType === 'Neo3'">
    <p class="label">Magic Number</p>
    <mat-form-field class="form-field" appearance="outline">
      <input matInput required readonly formControlName="magicNumber" />
    </mat-form-field>
  </div>

  <div *ngIf="data.addChainType === 'NeoX'">
    <p class="label">{{ 'ChainID' | translate | async }}</p>
    <mat-form-field class="form-field" appearance="outline">
      <input matInput required readonly formControlName="chainId" />
    </mat-form-field>
  </div>

  <div *ngIf="data.addChainType === 'NeoX'">
    <p class="label">{{ 'Symbol' | translate | async }}</p>
    <mat-form-field class="form-field" appearance="outline">
      <input matInput required formControlName="symbol" />
      <mat-error *ngIf="addNetworkForm.get('symbol').errors?.required">
        {{ "symbolIsRequired" | translate | async }}
      </mat-error>
    </mat-form-field>
  </div>

  <p class="label">{{ 'Explorer_URL' | translate | async }}</p>
  <mat-form-field class="form-field" appearance="outline">
    <input matInput formControlName="explorer" />
  </mat-form-field>
</form>

<button
  class="confirm pop-ups"
  [ngClass]="{
  disabled: addNetworkForm.invalid || loading
}"
  (click)="confirm()"
>
  {{ 'yes' | translate | async}}
</button>
