

section.container {
  padding: 16px 24px 24px;
  .item {
    font-size: 14px;
    color: var(--title-color);
    font-family: NeverMind-Medium;
    &:not(:first-child) {
      margin-top: 24px;
    }
    input {
      width: 100%;
      height: 44px;
      margin-top: 12px;
      background: #fafafa;
      border-radius: 4px;
      padding: 0 16px;
      &.disabled {
        color: var(--tip-color);
        cursor: not-allowed;
      }
      &:focus {
        border: 1px solid var(--title-color);
      }
    }
    .error {
      position: absolute;
      color: var(--error-color);
      font-size: 12px;
      margin-top: 3px;
      font-family: NeverMind-Regular;
    }
  }
  button {
    width: 100%;
    margin-top: 32px;
  }
}
