@import "src/styles/pop-ups-menu.scss";

:host {
  max-height: 90vh;
  display: flex;
  flex-direction: column;
}
.add-tip {
  padding: 6px 24px;
  background: rgba(255, 129, 66, 0.08);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #aab9bf;
  img {
    vertical-align: sub;
  }
}

.pop-ups-title.add-url {
  display: flex;
  align-items: center;
  justify-content: space-between;
  img.back {
    cursor: pointer;
  }
  img.close {
    position: static;
  }
}

.container {
  padding: 16px 24px 0 24px;
  overflow-y: scroll;
  font-size: 14px;
  color: var(--title-color);
  font-family: NeverMind-Medium;
  mask-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 96%,
    rgba(0, 0, 0, 0.1) 100%
  );
  &::-webkit-scrollbar {
    display: block;
  }
  .label {
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .form-field {
    width: 100%;
  }
  .rpc-url-box {
    position: relative;
    .rpc-url {
      cursor: pointer;
      display: flex;
      align-items: center;
      gap: 8px;
      input {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    .pop-ups-menu {
      max-height: 186px;
      overflow-y: scroll;
      position: absolute;
      right: 0;
      top: 36px;
      width: 100%;
      padding: 4px 0;
      li {
        display: block;
        height: 32px;
        line-height: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        &.add-rpc-url {
          img {
            filter: drop-shadow(10000px 0 0 var(--theme-color));
            transform: translate(-10000px);
          }
        }
      }
    }
  }
}

button {
  width: calc(100% - 48px);
  margin: 0 24px 24px;
}

:host ::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 14px 0;
    border-top-width: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: var(--message-box-color);
    color: var(--message-box-color);
  }
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
  }
}
