.add-tip {
  padding: 6px 24px;
  background: rgba(255, 129, 66, 0.08);
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: #aab9bf;
  img {
    vertical-align: sub;
  }
}

.container {
  padding: 16px 24px 0 24px;
  max-height: 350px;
  overflow-y: scroll;
  font-size: 14px;
  color: var(--title-color);
  font-family: NeverMind-Medium;
  mask-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 1) 96%,
    rgba(0, 0, 0, 0.1) 100%
  );
  &::-webkit-scrollbar {
    display: block;
  }
  .label {
    margin-top: 4px;
    margin-bottom: 8px;
  }
  .form-field {
    width: 100%;
  }
}

button {
  width: calc(100% - 48px);
  margin: 0 24px 24px;
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 14px 0;
    border-top-width: 0;
  }
  .mat-form-field-appearance-outline .mat-form-field-outline {
    background: var(--message-box-color);
    color: var(--message-box-color);
  }
  .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
    padding: 0 !important;
  }
}
