<div
  *ngIf="place === 'amount'"
  class="create-amount-fee"
  (click)="editEvmFee()"
>
  <p class="label">{{ "Estimated fee" }}</p>
  <div class="value">
    <div *ngIf="customNeoXFeeInfo?.custom">
      <p class="fee-desc">{{ "customize" | translate | async }}</p>
      <p class="fee">
        {{ customNeoXFeeInfo?.estimateGas | numberFixed : 8 }}
        {{ symbol }}
      </p>
    </div>
    <div *ngIf="!customNeoXFeeInfo?.custom">
      <p class="fee" [ngClass]="{ animate: showEstimateFeeAnimate }">
        {{ sourceNeoXFeeInfo?.estimateGas | numberFixed : 8 }}
        {{ symbol }}
      </p>
    </div>
    <img theme src="assets/images/common/arrow.svg" alt="" />
  </div>
</div>

<div *ngIf="place === 'confirm'" class="create-confirm-fee">
  <span class="label">
    {{ "Estimated fee"
    }}<img
      class="edit"
      (click)="editEvmFee()"
      src="assets/images/common/edit.svg"
    />
  </span>
  <span *ngIf="customNeoXFeeInfo?.custom" class="fee">
    {{ customNeoXFeeInfo?.estimateGas | numberFixed : 8 }}
    {{ symbol }}
  </span>
  <span
    *ngIf="!customNeoXFeeInfo?.custom"
    class="fee"
    [ngClass]="{ animate: showEstimateFeeAnimate }"
  >
    {{ sourceNeoXFeeInfo?.estimateGas | numberFixed : 8 }}
    {{ symbol }}
  </span>
</div>
