<section class="container">
  <div class="asset-detail">
    <div class="top">
      <img
        class="back"
        routerLink="/popup/home"
        theme
        src="/assets/images/common/nav-arrow.svg"
      />
      <div class="asset-logo-box big">
        <img class="asset-logo" [assetId]="nft?.image_url" appErrorSrc alt="" />
      </div>
      <div class="more" (click)="showMenu = !showMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <section
        class="pop-ups-veil"
        *ngIf="showMenu"
        (click)="showMenu = false"
      ></section>
      <ul class="pop-ups-menu" *ngIf="showMenu">
        <li (click)="toWeb()">
          <img theme src="assets/images/account/home-explorer.svg" alt="" />{{
            "ViewOnExplorer" | translate | async
          }}
        </li>
      </ul>
    </div>
    <p class="asset-balance">
      {{ nft?.tokens?.length || 0 | numberFixed }} {{ nft?.symbol }}
    </p>
    <div class="transaction-btn-container">
      <div class="item receive" [routerLink]="['/popup/transfer/receive']">
        <img theme src="assets/images/transfer/receive.svg" alt="" />
        {{ "receive" | translate | async }}
      </div>
      <div class="item transfer" (click)="sendNFT()">
        <img theme src="assets/images/transfer/transfer.svg" alt="" />
        {{ "transfer" | translate | async }}
      </div>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: selectedTab === 'tokens' }"
      (click)="selectedTab = 'tokens'"
    >
      {{ "Tokens" }}
    </span>
    <span
      *ngIf="previouslyOwnedNft.length > 0"
      [class]="{ selected: selectedTab === 'previouslyOwned' }"
      (click)="selectedTab = 'previouslyOwned'"
    >
      {{ "Previously Owned" }}
    </span>
    <span
      [class]="{ selected: selectedTab === 'transactions' }"
      (click)="selectedTab = 'transactions'"
    >
      {{ "transaction" | translate | async }}
    </span>
  </div>
  <app-nft-tokens
    [hidden]="selectedTab !== 'tokens'"
    [nftTokens]="ownerNft"
  ></app-nft-tokens>
  <app-nft-tokens
    [hidden]="selectedTab !== 'previouslyOwned'"
    [nftTokens]="previouslyOwnedNft"
  ></app-nft-tokens>
  <app-nft-tx-page
    *ngIf="nftContract"
    [hidden]="selectedTab !== 'transactions'"
    [symbol]="nft?.symbol"
    [nftContract]="nftContract"
  ></app-nft-tx-page>
</section>
