<section class="container">
  <div class="asset-detail">
    <div class="top">
      <img
        class="back"
        routerLink="/popup/home"
        src="/assets/images/common/nav-arrow.svg"
      />
      <div class="asset-logo-box big">
        <img class="asset-logo" [assetId]="nft?.image_url" appErrorSrc alt="" />
      </div>
      <div class="more" (click)="showMenu = !showMenu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <section
        class="pop-ups-veil"
        *ngIf="showMenu"
        (click)="showMenu = false"
      ></section>
      <ul class="pop-ups-menu" *ngIf="showMenu">
        <li (click)="toWeb()">
          <img src="assets/images/account/home-explorer.svg" alt="" />{{
            "viewOnNeoTube" | translate | async
          }}
        </li>
      </ul>
    </div>
    <p class="asset-balance">
      {{ nft?.tokens?.length || 0 | numberFixed }} {{ nft?.symbol }}
    </p>
    <div class="transaction-btn-container">
      <div class="item receive" [routerLink]="['/popup/transfer/receive']">
        <img src="assets/images/transfer/receive.svg" alt="" />
        {{ "receive" | translate | async }}
      </div>
      <div
        class="item transfer"
        [routerLink]="['/popup/transfer/create/nft/' + nftContract]"
      >
        <img src="assets/images/transfer/transfer.svg" alt="" />
        {{ "transfer" | translate | async }}
      </div>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: selectedIndex == 0 }"
      (click)="selectedIndex = 0"
    >
      {{ "Tokens" }}
    </span>
    <span
      [class]="{ selected: selectedIndex == 1 }"
      (click)="selectedIndex = 1"
    >
      {{ "transaction" | translate | async }}
    </span>
  </div>
  <app-nft-tokens
    *ngIf="selectedIndex === 0"
    [nftTokens]="nft?.tokens"
  ></app-nft-tokens>
  <app-nft-tx-page
    *ngIf="selectedIndex === 1"
    [symbol]="nft?.symbol"
    [nftContract]="nftContract"
  ></app-nft-tx-page>
</section>
