<div class="container">
  <div class="header transfer">
    <div class="invoke-type">· TRANSFER</div>
    <token-logo
      customClass="big"
      [assetId]="txParams?.to"
      chainType="NeoX"
      [symbol]="assetDetails?.symbol"
      [neoXChainId]="neoXNetwork?.chainId"
    ></token-logo>
    <p class="amount">
      {{ assetDetails?.tokenAmount || 0 }} {{ assetDetails?.symbol }}
    </p>
    <p class="rate">
      {{ sendAssetRate | numberFixed : 2 }} {{ rate.rateCurrency }}
    </p>
    <div class="address-group">
      <copy [value]="txParams?.from">
        <div class="item">
          <img class="avatar" [avatar]="txParams?.from" />
          <div class="name-group">
            <p class="name">{{ fromWalletName }}</p>
            <p>{{ txParams?.from | longStr : 6 }}</p>
          </div>
        </div>
      </copy>
      <img theme src="assets/images/third-party/transfer-arrow.svg" alt="" />
      <copy [value]="assetDetails?.toAddress">
        <div class="item">
          <img class="avatar" [avatar]="assetDetails?.toAddress" />
          <div class="name-group">
            <p class="name">{{ toWalletName }}</p>
            <p>{{ assetDetails?.toAddress | longStr : 6 }}</p>
          </div>
        </div>
      </copy>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <div class="content details" *ngIf="tabType === 'details'">
    <evm-estimate-error *ngIf="estimateGasError"></evm-estimate-error>

    <div class="request-info">
      <div class="request-info-item">
        <span class="label">{{ "RequestFrom" | translate | async }}</span>
        <span>{{ locationOrigin }}</span>
      </div>
      <div class="request-info-item">
        <span class="label">{{ "Network" | translate | async }}</span>
        <span>{{ neoXNetwork.name }}</span>
      </div>
      <div *ngIf="txParams?.to" class="request-info-item">
        <span class="label">{{ "InteractingWith" | translate | async }}</span>
        <copy [value]="txParams?.to">
          <span class="to-address">
            {{ txParams?.to | longStr : 6 }}
            <img theme src="assets/images/common/copy.svg" />
          </span>
        </copy>
      </div>
      <div class="request-info-item" *ngIf="tokenData?.name">
        <span class="label">{{ "Method" | translate | async }}</span>
        <span>{{ tokenData?.name }}</span>
      </div>
    </div>

    <div class="fee-group">
      <evm-fee
        [txParams]="txParams"
        [symbol]="neoXNetwork.symbol"
        [siteNeoXFeeInfo]="siteNeoXFeeInfo"
        [place]="'dapp'"
        (returnFee)="updateEvmFee($event)"
      >
      </evm-fee>
      <p class="value-rate">
        {{ rate.fee | numberFixed : 2 }} {{ rate.rateCurrency }}
      </p>
    </div>

    <evm-custom-nonce
      [default]="nonceInfo?.nonce"
      (changeNonceEvent)="changeNonce($event)"
    ></evm-custom-nonce>

    <evm-gas-error
      *ngIf="insufficientFunds"
      [networkName]="neoXNetwork.name"
      [symbol]="neoXNetwork.symbol"
    ></evm-gas-error>
    <evm-pending-warning
      *ngIf="nonceInfo?.pendingTxs"
      [count]="nonceInfo.pendingTxs"
    ></evm-pending-warning>
  </div>
  <div class="content data" *ngIf="tabType === 'data'">
    <p class="title">
      FUNCTION TYPE: <span class="value">{{ tokenData?.signature }}</span>
    </p>
    <p class="hex-label">
      HEX DATA: <span class="value">{{ hexDataLength }} BYTES</span>
      <copy [value]="txParams.data">
        <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
      </copy>
    </p>
    <p class="json-box serialize">{{ txParams.data }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: !nonceInfo || insufficientFunds }"
      (click)="confirm()"
    >
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
