@import "../../common-scss/common.scss";

.container {
  .header.transfer {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .type {
      display: inline-block;
      width: fit-content;
      height: 22px;
      line-height: 22px;
      padding: 0 8px;
      border-radius: 4px;
      border: 0.5px solid var(--title-color);
      font-family: NeverMind-Regular;
      color: var(--important-title-color);
    }
    .asset {
      display: flex;
      align-items: center;
      gap: 4px;
      .asset-logo-box {
        background: var(--body-background-color);
        margin: 0;
      }
      .amount {
        margin-top: 0;
        font-family: NeverMind;
        font-size: 16px;
      }
    }
    .address-group {
      margin-top: 12px;
    }
  }
  .content.data {
    .title {
      color: var(--sub-title-color);
      .value {
        color: var(--title-color);
      }
    }
  }
  .content.details {
    .warning-tip {
      padding: 12px;
      background: rgba(250, 85, 85, 0.16);
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #FA5555;
      &.top {
        margin-bottom: 12px;
      }
      &.bottom {
        margin-top: 12px;
      }
      img {
        vertical-align: sub;
      }
    }
    .row.evm .label.tip {
      font-family: NeverMind-Regular;
      font-size: 12px;
      margin-top: 6px;
    }
  }
  .content {
    height: 210px;
  }
}
