@import 'src/styles/theme-default';

div {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 20px;
    text-align: center;
}

button {
    display: block;
    width: 250px;
    border-radius: 20px;
    &:first-of-type {
        margin-bottom: $space;
    }
}
