<div class="pop-ups-title">
  {{ 'Advanced gas fee' }}
  <img
    class="close"
    [mat-dialog-close]="false"
    theme
    src="assets/images/common/close.svg"
    alt=""
  />
</div>

<div class="add-tip">
  <img src="assets/images/common/warning.svg" alt="" />
  Use Advanced to customize the gas price. This can be confusing if you aren’t
  familiar. Interact at your own risk.
</div>

<p class="custom">
  Custom: {{ data.customNeoXFeeInfo.estimateGas | numberFixed:8 }}
  {{data.symbol}}
</p>

<form class="container" [formGroup]="editEvmFeeForm">
  <div class="item" *ngIf="isEIP1559">
    <p class="label">{{ 'Max Fee (GWEI)' }}</p>
    <mat-form-field class="form-field" appearance="outline">
      <input
        matInput
        required
        min="0"
        formControlName="maxFeePerGas"
        type="number"
      />
    </mat-form-field>
    <p class="error" *ngIf="maxFeeIsLowPriorityFee">
      {{ "Max fee cannot be lower than priority fee" }}
    </p>
    <p class="error" *ngIf="!maxFeeIsLowPriorityFee && maxFeePerGasIsLow">
      {{ "Max fee is low for current network conditions" }}
    </p>
    <p class="current">
      current: {{getValueByGWEI(data.sourceNeoXFeeInfo.maxFeePerGas)}}
    </p>
  </div>

  <div class="item" *ngIf="isEIP1559">
    <p class="label">{{ 'Priority Fee (GWEI)' }}</p>
    <mat-form-field class="form-field" appearance="outline">
      <input
        matInput
        required
        min="0"
        formControlName="maxPriorityFeePerGas"
        type="number"
      />
    </mat-form-field>
    <p class="error" *ngIf="maxPriorityFeeIsLow">
      {{ "Priority fee is low for current network conditions" }}
    </p>
    <p class="current">
      current: {{getValueByGWEI(data.sourceNeoXFeeInfo.maxPriorityFeePerGas)}}
    </p>
  </div>

  <div class="item" *ngIf="!isEIP1559">
    <p class="label">{{ 'Gas Price (GWEI)' }}</p>
    <mat-form-field class="form-field" appearance="outline">
      <input
        matInput
        required
        min="0"
        formControlName="gasPrice"
        type="number"
      />
    </mat-form-field>
    <p class="error" *ngIf="gasPriceIsLow">
      {{ "Gas Price is low for current network conditions" }}
    </p>
    <p class="current">
      current: {{getValueByGWEI(data.sourceNeoXFeeInfo.gasPrice)}}
    </p>
  </div>

  <div class="item">
    <p class="label">{{ 'Gas Limit' }}</p>
    <mat-form-field class="form-field" appearance="outline">
      <input
        matInput
        required
        min="0"
        formControlName="gasLimit"
        type="number"
        onbeforepaste="clipboardData.setData('text',clipboardData.getData('text').replace(/[^\d]/g,''))"
        oninput="value=value.replace(/[^\d.]/g,'')"
      />
    </mat-form-field>
    <p
      class="error"
      *ngIf="editEvmFeeForm.get('gasLimit').errors?.min || editEvmFeeForm.get('gasLimit').errors?.max"
    >
      {{ "Gas limit must be greater than 20999 and less than 7920027" }}
    </p>
  </div>
</form>

<button
  class="confirm pop-ups"
  [ngClass]="{
  disabled: editEvmFeeForm.invalid || maxFeeIsLowPriorityFee
}"
  (click)="confirm()"
>
  {{ 'yes' | translate | async}}
</button>
