@import 'src/styles/theme-default';
@import './light';
@import './dark';

:host {
    display: block;
    padding: $space;
    transition: 0.2s;
}
:host:hover {
    cursor: pointer;
}

.info {
    margin-top: $space;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .info-left {
        display: inline-flex;
        align-items: center;
        margin-right: 5px;

        .balance {
            font-weight: 600;
            font-size: 20px;
            min-width: 15px;
        }

        // .symbol {
        //     color: #969696;
        //     font-weight: 500;
        //     font-size: 14px;
        //     overflow: hidden;
        //     text-overflow: ellipsis;
        //     white-space: nowrap;
        // }
    }

    .info-right {
        font-weight: 500;
        font-size: 14px;
        display: inline-flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.asset-top {
    position: relative;
    height: 40px;

    .account {
        height: 40px;
        display: inline-flex;
        align-items: center;

        .avatar {
            width: 40px;
            height: 40px;
            display: inline-block;
            margin-right: 15px;
            border-radius: 6px;
        }

        .symbol {
            font-weight: 600;
            font-size: 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 180px;
        }
    }

    .operator {
        position: absolute;
        right: 10px;
        cursor: pointer;
        height: 40px;
        width: 60px;
        display: inline-flex;
        align-items: center;
        justify-content: flex-end;

        &:hover {
            button {
                visibility: visible;
            }
        }

        span {
            width: 15px;
            height: 3px;
            display: inline-block;
            visibility: visible;
        }

        button {
            width: 86px;
            height: 30px;
            line-height: 30px;
            font-size: 13px;
            border-radius: 2px;
            text-align: left;
            position: absolute;
            top: 25px;
            right: 0;
            padding: 0 22px;
            visibility: hidden;
        }
    }
}

@media screen and (max-width: 1200px) {
    .account .symbol {
        max-width: 120px;
    }
}
