<nav title="youPrivateKey"></nav>

<div class="container">
  <div class="qrcode-content">
    <div id="key-qrcode"></div>
  </div>
  <copy [value]="WIF">
    <div class="copy-key">
      <span class="key">{{ WIF }}</span>
      <img theme src="/assets/images/common/copy-color.svg" alt="" />
    </div>
  </copy>
  <p class="tip">{{ "privateKeyTip" | translate | async }}</p>
  <div class="btn-group">
    <button class="confirm" routerLink="/popup/home">
      {{ "complete" | translate | async }}
    </button>
  </div>
</div>
