.container {
  padding: 26px 24px 24px;
  height: calc(100% - var(--nav-height));
  .title {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.01em;
    color: var(--title-color);
    margin-bottom: 20px;
  }
  .qrcode-content {
    width: 194px;
    height: 194px;
    margin: 0 auto;
    border-radius: 4px;
    padding: 12px;
    background: url("/assets/images/transfer/receive-border.svg") center center
      no-repeat;
  }
  .copy-key {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    border-radius: 8px;
    background: var(--message-box-color);
    margin-top: 30px;
    padding: 15px 16px;
    cursor: pointer;
    .key {
      flex: 1;
      line-height: 18px;
      font-family: NeverMind-Regular;
      color: var(--title-color);
      font-size: 12px;
      word-break: break-all;
    }
  }
  .tip {
    font-family: NeverMind-Regular;
    font-size: 12px;
    line-height: 18px;
    color: #b4b4b4;
    padding: 8px;
  }
  .btn-group {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
    button {
      width: 100%;
      margin-top: 16px;
    }
  }
}
