.backup-tip {
  position: fixed;
  bottom: 16px;
  left: 16px;
  right: 16px;
  background: #303334;
  opacity: 0.9;
  border-radius: 4px;
  padding: 24px;
  z-index: 9999999;
  .title {
    font-size: 18px;
    color: var(--theme-color);
    text-align: center;
  }
  .desc {
    font-family: NeverMind-Regular;
    line-height: 18px;
    color: #ffffff;
    margin-top: 16px;
    .link {
      color: var(--theme-color);
    }
  }
  .btn-group {
    margin-top: 32px;
    button {
      width: calc(50% - 12px);
      color: #fff;
      cursor: pointer;
      &.later {
        margin-right: 24px;
        border: 1px solid #fff;
      }
      &.now {
        background: #fff3;
      }
    }
  }
}
