<div class="pop-ups-title">{{ getTitle() | translate | async }}</div>
<ul>
  <li *ngFor="let item of data.optionGroup" (click)="select(item.type)">
    <ng-container *ngIf="data.type==='lang'">
      <span>{{item.name | languageName}}</span>
      <img
        class="selected"
        src="/assets/images/common/selected.svg"
        *ngIf="data.currentOption === item.type"
        alt=""
      />
    </ng-container>
    <ng-container *ngIf="data.type==='currency'">
      <span>{{item.name}}</span>
      <img
        class="selected"
        src="/assets/images/common/selected.svg"
        *ngIf="data.currentOption === item.type"
        alt=""
      />
    </ng-container>
    <ng-container *ngIf="data.type==='chain'">
      <span>{{item.name}}</span>
      <img src="/assets/images/common/arrow.svg" alt="" />
    </ng-container>
  </li>
</ul>
