@import 'src/styles/popup-default.scss';

ul li {
  padding: 0 24px;
  height: 62px;
  line-height: 62px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background: #f5f9f9;
  }
  img.selected {
    filter: drop-shadow(1000px 0 0 $theme-color);
    transform: translate(-1000px);
  }
}
