ul li {
  padding: 0 24px;
  height: 62px;
  line-height: 62px;
  cursor: pointer;
  color: var(--title-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background: var(--hover-color);
  }
  img.selected {
    filter: drop-shadow(1000px 0 0 var(--theme-color));
    transform: translate(-1000px);
  }
}
