<div class="dialog-home-menu-container">
    <div class="header">
        <div class="avatar-content" [ngClass]="{ledger: wallet.accounts[0]?.extra?.ledgerSLIP44}">
            <img class="avatar" [avatar]="wallet.accounts[0].address" />
            <img *ngIf="wallet.accounts[0]?.extra?.ledgerSLIP44" class="usb"
                src="/assets/images/ledger/ledger-avatar.png" alt="">
        </div>
        <div class="right">
            <p class="name">
                <span>{{ wallet.name }}</span>
                <img (click)="dismiss()" src="/assets/images/home-menu/close.svg" alt="">
            </p>
            <p class="address">{{ wallet.accounts[0].address }}</p>
            <p class="operation">
                <span (click)="lock()">
                    <img src="/assets/images/home-menu/lock.svg" alt="">{{ 'lock' | translate | async }}
                </span>
                <span [routerLink]="['/popup/setting']" (click)="dismiss()">
                    <img src="/assets/images/home-menu/setting.svg" alt="">{{ 'setting' | translate | async }}
                </span>
                <span [routerLink]="['/popup/about']" (click)="dismiss()">
                    <img src="/assets/images/home-menu/about-us.svg" alt="">{{ 'ABOUT_US' | translate | async }}
                </span>
            </p>
        </div>
    </div>
    <div class="bottom">
        <div class="account">
            <span class="item" (click)="importLedger()">
                <img src="/assets/images/ledger/ledger.svg" alt="">{{ 'LEDGER' | translate | async }}
            </span>
            <span class="item" (click)="to('create')">
                <img src="/assets/images/home-menu/create.svg" alt="">{{ 'NEW' | translate | async }}
            </span>
            <span class="item" (click)="to('import')">
                <img src="/assets/images/home-menu/import.svg" alt="">{{ 'IMPORT' | translate | async }}
            </span>
            <span class="item" (click)="exportWallet()">
                <img src="/assets/images/home-menu/export.svg" alt="">{{ 'EXPORT' | translate | async }}
            </span>
        </div>
        <div class="chain-list">
            {{ 'Networks' | translate | async }}:
            <button [matMenuTriggerFor]="menu"><span class="network-type"
                    [ngClass]="'id' + selectedNetwork.id"></span>{{ selectedNetwork.name }}<img
                    src="/assets/images/home-menu/dropdown-arrow.svg" alt=""></button>
        </div>
        <mat-menu #menu="matMenu">
            <button mat-menu-item *ngFor="let item of networks" (click)="changeTabType(item)"><span class="network-type"
                    [ngClass]="'id' + item.id"></span>{{ item.name }}</button>
        </mat-menu>
        <input [placeholder]="'Search' | translate | async" (input)="searchWallet($event)" class="search" type="text">
        <ul class="row row-head">
            <li class="avatar"></li>
            <li class="wallet">{{ 'account' | translate | async }}</li>
            <li class="active">{{ 'Active' | translate | async }}</li>
            <li class="sort" *ngIf="isSearching===false">{{ 'Sort' | translate | async }}</li>
        </ul>
        <div class="address-list">
            <ul class="row row-item" *ngFor="let item of displayWalletArr" (click)="selectAccount(item)"
                [ngClass]="{active: isActivityWallet(item)}">
                <li class="avatar-content" [ngClass]="{ledger: item.accounts[0]?.extra?.ledgerSLIP44}">
                    <img class="avatar" [avatar]="item.accounts[0].address" />
                    <img *ngIf="item.accounts[0]?.extra?.ledgerSLIP44" class="usb"
                        src="/assets/images/ledger/ledger-avatar.png" alt="">
                </li>
                <li class="wallet">
                    <p class="name">{{ item.name }}</p>
                    <p class="address">{{ item.accounts[0].address }}</p>
                </li>
                <li class="active">
                    <span class="select-icon"></span>
                </li>
                <li class="sort" *ngIf="isSearching===false">
                    <img src="/assets/images/home-menu/sort.svg" alt="">
                </li>
            </ul>
        </div>
    </div>
</div>
