ul.notice-list {
  padding: 0 24px;
  li {
    padding: 14px 0;
    line-height: 1.5;
    border-bottom: 1px solid var(--line-color);
    .notice-title {
      font-size: 15px;
      font-weight: 500;
      color: var(--title-color);
    }
    .notice-content {
      font-size: 14px;
      color: var(--sub-title-color);
      margin-top: 4px;
    }
    .notice-time {
      font-size: 12px;
      color: var(--tip-color);
      margin-top: 10px;
    }
  }
}
