@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.popup {
    background-color: map-get($neo-line-default, 50);
}

.side-nav {
    background-color: map-get($neo-line-default, 50);
}

.no-third-party-toolbar {
    .popup-nav-logo-img {
        @include bg($img-logo-title);
    }

    .popup-nav-network {
        border-color: map-get($neo-line-default, 50);
    }

    .popup-nav-network {
        border-color: map-get($neo-line-default, 50);

        .popup-nav-network-icon {
            @include bg($img-net-dropdown);
        }
    }
}

.is-third-party-toolbar {
    .mat-toolbar {
        background-color: map-get($neo-line-default, 50);

        .popup-nav-logo-img {
            @include bg($img-logo);
        }

        .popup-nav-logo-title-img {
            @include bg($img-about-logo);
        }

        .popup-nav-network {
            border-color: map-get($colors, e5e5e5);
            color: map-get($colors, 666666);

            .popup-nav-network-icon {
                @include bg($img-tp-net-dropdown);
            }
        }
    }
}

.nav-box-shadow {
    box-shadow: 0px 1px 12px 0px rgba(0, 11, 131, 0.3);
}
