@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.mat-toolbar-fixed {
    width: 100%;
    // height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;

    .mat-toolbar {
        height: 64px;
        .btn-back {
            width: 30px;
            height: 28px;
            padding: 5px 10px;
            &.active {
                display: none;
            }
        }
        .popup-nav-icon {
            height: 18px;
            position: absolute;
            left: -10px;
        }
        .popup-nav-menu {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            overflow: hidden;
            &.is-login {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }

            img {
                width: inherit;
                height: inherit;
            }
        }

        .popup-nav-logo {
            flex: auto;
            .popup-nav-logo-img {
                height: 25px;
                display: inline-block;
                vertical-align: middle;
                &.is-login {
                    margin-left: 14px;
                }
            }

            .popup-nav-logo-img-logout {
                margin-left: 0px;
            }
        }

        .popup-nav-network {
            width: 107px;
            height: 30px;
            line-height: 30px;
            border-radius: 30px;
            font-size: 12px;
            .popup-nav-network-icon {
                width: 5px;
                height: 3px;
                display: inline-block;
            }
        }
    }
}

.popup {
    width: 100%;
    height: calc(100% - 64px);
    position: fixed;
    top: 64px;
    left: 0;
    z-index: map-get($z-indexes, max);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: map-get($neo-line-default, 50);
}

.side-nav {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: map-get($neo-line-default, 50);
}

.no-third-party-toolbar {
    height: auto;
    .popup-nav-logo-img {
        margin-left: 107px;
        width: 84px;
        @include bg($img-login-logo);
    }
    .popup-nav-network {
        border-color: map-get($colors, f7f7f7);
        .popup-nav-network-icon {
            @include bg($img-net-dropdown);
        }
    }
}

.is-third-party-toolbar {
    .mat-toolbar {
        background-color: map-get($neo-line-default, 50);
        border-bottom: 1px solid #f1f1f1;

        .popup-nav-logo-title-img {
            width: 84px;
            @include bg($img-logo-title);
        }

        .popup-nav-network {
            border-color: map-get($colors, f7f7f7);
            color: map-get($neo-line-default, 50);

            .popup-nav-network-icon {
                @include bg($img-tp-net-dropdown);
            }
        }
    }
}
