@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.mat-toolbar-fixed {
    width: 100%;
    // height: auto;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 99999999;

    .mat-toolbar {
        height: 64px;
        .btn-back {
            width: 30px;
            height: 28px;
            padding: 5px 10px;
            &.active {
                display: none;
            }
        }
        .popup-nav-icon {
            height: 18px;
            position: absolute;
            left: -10px;;
        }
        .popup-nav-menu {
            width: 34px;
            height: 34px;
            border-radius: 50%;
            overflow: hidden;
            &.is-login {
                display: none;
            }
            &:hover {
                cursor: pointer;
            }

            img {
                width: inherit;
                height: inherit;
            }
        }

        .popup-nav-logo {
            flex: auto;
            .popup-nav-logo-img {
                height: 25px;
                display: inline-block;
                vertical-align: middle;
                &.is-login {
                    margin-left: 14px;
                }
            }

            .popup-nav-logo-img-logout {
                margin-left: 0px;
            }
        }

        .popup-nav-network {
            width: 107px;
            height: 25px;
            line-height: 25px;
            border-radius: 12px;
            font-size: 12px;

            .popup-nav-network-icon {
                width: 5px;
                height: 3px;
                display: inline-block;
            }
        }
    }

}

.popup {
    width: 100%;
    height: calc(100% - 64px);
    position: fixed;
    top: 64px;
    left: 0;
    z-index: map-get($z-indexes, max);
    overflow-y: auto;
    overflow-x: hidden;
    background-color: map-get($neo-line-default, 50);
}

.side-nav {
    background-color: map-get($neo-line-default, 50);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.no-third-party-toolbar {
    height: auto;
    .popup-nav-logo-img {
        @include bg($img-logo-title);
        margin-left: 107px;
        width: 84px;
    }

    .popup-nav-network {
        border-color: map-get($neo-line-default, 50);
    }

    .popup-nav-network {
        border-color: map-get($neo-line-default, 50);

        .popup-nav-network-icon {
            @include bg($img-net-dropdown);
        }
    }
}

.is-third-party-toolbar {
    .mat-toolbar {
        background-color: map-get($neo-line-default, 50);

        .popup-nav-logo-img {
            @include bg($img-logo);
            margin-left: 0;
            width: 30px;
            margin-right: 10px;
        }

        .popup-nav-logo-title-img {
            @include bg($img-about-logo);
            margin-left: 0;
            width: 84px;
        }

        .popup-nav-network {
            border-color: map-get($colors, e5e5e5);
            color: map-get($colors, 666666);

            .popup-nav-network-icon {
                @include bg($img-tp-net-dropdown);
            }
        }
    }
}

.nav-box-shadow {
    box-shadow: 0px 1px 12px 0px rgba(0, 11, 131, 0.3);
}
