<header [ngClass]="{ 'theme-bg': headerIsThemeBg }">
  <img src="assets/images/logo-word.svg" class="logo" alt="" />
  <button class="network" (click)="showNetworkList = true">
    {{ networks[networkIndex]?.name }}
    <img src="assets/images/common/triangle-fill.svg" />
  </button>
  <div class="avatar" (click)="showAvatarMenu = true" *ngIf="getShowAvatar()">
    <img [avatar]="address" alt="" />
  </div>
</header>

<div class="popup">
  <router-outlet></router-outlet>
</div>

<network
  *ngIf="showNetworkList"
  [networks]="networks"
  [chainType]="chainType"
  [networkIndex]="networkIndex"
  (closeEvent)="showNetworkList = false"
></network>

<avatar-menu
  *ngIf="showAvatarMenu"
  (closeEvent)="showAvatarMenu = false"
></avatar-menu>
