<header [ngClass]="{ 'theme-bg': checkIsThemeBg() }">
  <img theme src="assets/images/logo-word.svg" class="logo" alt="" />
  <button
    class="network"
    [ngClass]="{ disabled: !getShowAvatar() }"
    (click)="showNetworkList = true"
  >
    <span>{{ currentNetwork?.name }}</span>
    <img theme src="assets/images/common/triangle-fill.svg" />
  </button>
  <div class="avatar" (click)="showAvatarMenu = true" *ngIf="getShowAvatar()">
    <img [avatar]="address" alt="" />
  </div>
</header>

<div class="popup">
  <router-outlet></router-outlet>
</div>

<network
  *ngIf="showNetworkList"
  (closeEvent)="showNetworkList = false"
></network>

<avatar-menu
  *ngIf="showAvatarMenu"
  (closeEvent)="showAvatarMenu = false"
></avatar-menu>
