:host {
    background: #fefefe;
}
.title.warn {
    color: #fefefe;
    background: #ea4748;
}
.body.warn {
    color: #db6161;
}
.options.warn button {
    background: #ea4748;
    color: #ffffff;
}

.title.accent {
    color: #fefefe;
    background: #1093df;
}
.body.accent {
    color: #1093df;
}
.options.accent button {
    background: #1093df;
    color: #ffffff;
}
.no {
    background: none !important;
    color: #969696 !important;
}
