@import './light';
@import './dark';

:host {
    border-radius: 2px;
    overflow: hidden;
    display: block;
}
.mat-dialog-container {
    padding: 0 !important;
}
.title {
    font-size: 18px;
    padding: 8px 16px;
    position: relative;
}
.title > button {
    position: absolute;
    right: 0;
    top: 0;
}
.body {
    font-size: 16px;
    padding: 16px;
}
.options {
    padding: 8px 16px;
}
.options button {
    margin: 5px;
}
@media screen and (min-width: 601px) {

}
