ul {
  max-height: 450px;
  overflow-y: scroll;
  padding: 16px 24px;
  margin-bottom: 10px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  &::-webkit-scrollbar {
    display: block;
  }
  li {
    line-height: 18px;
    color: var(--title-color);
    &.line {
      border-top: 1px solid var(--line-color);
    }
    .label {
      font-family: NeverMind;
      font-size: 13px;
      font-weight: normal;
      line-height: 17px;
      color: var(--sub-title-color);
    }
    .value {
      font-family: NeverMind;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
      color: var(--title-color);
      margin-top: 6px;
      display: flex;
      flex-direction: column;
      gap: 6px;
      &.txid {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        text-decoration: underline;
        copy {
          cursor: pointer;
        }
      }
      &.address {
        copy {
          cursor: pointer;
          &:hover {
            color: var(--theme-color);
          }
        }
      }
    }
  }
}
