<div class="pop-ups-title">
  {{ (data.tx.type === 'received'? 'received' : 'sent') | translate | async }}
  {{ data.symbol }}
  <img
    class="close"
    [mat-dialog-close]="false"
    src="assets/images/common/close.svg"
    alt=""
  />
</div>
<ul>
  <li>
    <span class="label">TxID</span>
    <span class="value">{{ data.tx.txid }}</span>
  </li>
  <li>
    <span class="label">{{ 'Contract' | translate | async }}</span>
    <span class="value">{{ data.tx.asset_id }}</span>
  </li>
  <li *ngIf="data.isNFT">
    <span class="label">Token ID</span>
    <span class="value">{{ data.tx.tokenid }}</span>
  </li>
  <li>
    <span class="label">{{ 'amount' | translate | async }}</span>
    <span class="value">{{ data.tx.value + ' ' + data.symbol }}</span>
  </li>
  <li>
    <span class="label">{{ 'time' | translate | async }}</span>
    <span class="value"
      >{{ data.tx.block_time * 1000 | date:'yyyy-MM-dd HH:mm:ss' }}</span
    >
  </li>
  <li>
    <span class="label">{{ 'from' | translate | async }}</span>
    <div class="value">
      <p *ngFor="let item of data.tx.from">{{ item | longStr: 10 }}</p>
    </div>
  </li>
  <li>
    <span class="label">{{ 'to' | translate | async }}</span>
    <div class="value">
      <p *ngFor="let item of data.tx.to">{{ item | longStr: 10 }}</p>
    </div>
  </li>
</ul>
