@import "src/styles/pop-ups-menu.scss";

.pop-ups-title {
  height: auto;
  line-height: normal;
  padding-top: 30px;
  padding-bottom: 20px;
  .hostname {
    display: inline-block;
    height: 24px;
    border-radius: 20px;
    padding: 0px 12px;
    border: 0.5px solid #2a3331;
    color: #2a3331;
    font-family: NeverMind-DemiBold;
  }
  .connect-amount {
    font-size: 13px;
    line-height: 17px;
    color: #7d9299;
    margin-top: 12px;
    margin-left: 4px;
    font-family: NeverMind-Regular;
  }
}

.content {
  .title {
    line-height: 18px;
    color: #7d9299;
    margin: 0 24px;
    padding-top: 16px;
    padding-bottom: 12px;
    border-bottom: 1px solid #f4f4f4;
  }
  .no-connect {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul.list {
    height: 250px;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      display: block;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 8px;
      padding: 10px 24px;
      &.current-not-connect {
        background: #fafafa;
      }
      img.logo {
        width: 24px;
        height: 24px;
      }
      .wallet-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 4px;
        .name {
          color: #2a3331;
          max-width: 200px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .address {
          font-size: 12px;
          color: #7d9299;
          font-family: NeverMind-Regular;
        }
        .not-connect {
          font-size: 13px;
          color: #ff843d;
        }
        .switch {
          font-size: 13px;
          color: #0ac7b7;
          cursor: pointer;
        }
      }
      img.more {
        cursor: pointer;
      }
    }
  }
  .permissions {
    height: 95px;
    margin: 0 24px 24px;
    padding-top: 12px;
    border-top: 1px solid #f4f4f4;
    .permissions-title {
      display: inline-flex;
      align-items: center;
      gap: 6px;
      cursor: pointer;
      color: #7d9299;
      img {
        transition: all 0.3s;
        &.expand {
          transform: rotate(180deg);
        }
      }
    }
    .warning {
      margin-top: 12px;
      color: #ff843d;
      font-size: 12px;
      line-height: 14px;
      display: flex;
      align-items: center;
      gap: 4px;
    }
    .desc {
      color: #7d9299;
      line-height: 18px;
      margin-top: 4px;
    }
  }
}

.pop-ups-menu {
  position: absolute;
  right: 25px;
  padding: 4px 0;
  li {
    padding: 0 12px;
    height: 48px;
    font-size: 14px;
  }
}
