@import "src/styles/popup-default";

.content {
  padding: 0 24px 24px;
  .empty {
    margin-top: 40px;
    text-align: center;
    color: $tip-color;
  }
  ul {
    height: 280px;
    overflow-y: scroll;
    li {
      height: 82px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid $line-color;
      img.icon {
        width: 34px;
        height: 34px;
        border-radius: 50%;
      }
      .info-box {
        flex: 1;
        margin-left: 12px;
        .title {
          color: #3d3d3d;
          font-size: 16px;
          margin-right: 8px;
        }
        .status {
          display: inline-block;
          height: 15px;
          line-height: 15px;
          padding-left: 13px;
          padding-right: 8px;
          border-radius: 8px;
          background: #daf8f3;
          font-family: NeverMind-Regular;
          font-size: 10px;
          color: $theme-color;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            left: 6px;
            top: 6px;
            width: 3px;
            height: 3px;
            border-radius: 50%;
            background: $theme-color;
          }
          &.fail {
            background: $line-color;
            color: $sub-title-color;
            &::before {
              background: $sub-title-color;
            }
          }
        }
        .url {
          font-size: 12px;
          color: $sub-title-color;
          margin-top: 5px;
        }
      }
      .remove-btn {
        height: 24px;
        line-height: 24px;
        padding: 0 6px;
        border-radius: 4px;
        background: #feeeee;
        color: $error-color;
        font-size: 12px;
        cursor: pointer;
        &:hover {
          box-shadow: 0px 5px 15px -5px rgba(250, 85, 85, 0.5);
        }
      }
    }
  }
  button.clear-all {
    width: 100%;
    margin-top: 20px;
    border: 1px solid $error-color;
    color: $error-color;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 10px 25px -12px rgba(250, 85, 85, 0.47);
    }
  }
}
