@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.title {
    height: 60px;
    line-height: 60px;
    background: #fafafa;
    font-size: 18px;
    font-weight: 400;
    color: #434543;
    border-radius: 15px 15px 0 0;
    text-align: center;
    position: relative;
    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        color: #999;
    }
}

.popup-authorization-list-content {
    .authorization-container {
        height: 320px;
        overflow: scroll;
    }
    .empty {
        text-align: center;
        margin-top: 100px;
        font-size: 12px;
        color: #999999;
    }
    .authorization-item {
        display: flex;
        flex-direction: row;
        padding: 23px 0;
        margin: 0 20px;
        align-items: center;
        border-bottom: 1px solid #efefef;
        .icon {
            height: 35px;
            width: 35px;
        }
        .info-box {
            margin-left: 17px;
            flex-grow: 1;
            .top {
                .websit-title {
                    font-size: 17px;
                    font-weight: 500;
                    color: #434543;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    max-width: 135px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 8px;
                }
                .websit-status {
                    padding: 3px 6px;
                    padding-left: 16px;
                    border-radius: 11px;
                    font-size: 10px;
                    &.success {
                        color: #06ccab;
                        background: #ecfbf1 url($img-authorization-success)
                            no-repeat 6px;
                        background-size: 8px;
                    }
                    &.fail {
                        color: #7f8993;
                        background: #f2f2f2 url($img-authorization-fail)
                            no-repeat 6px;
                        background-size: 8px;
                    }
                }
            }
            .websit-url {
                font-size: 15px;
                color: #7f8993;
                max-width: 200px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        .remove-btn {
            width: 50px;
            height: 30px;
            line-height: 30px;
            background: #fa5555;
            border-radius: 15px;
            font-size: 14px;
            color: #ffffff;
            text-align: center;
        }
    }
    .clear-all {
        margin: 40px 20px 30px 20px;
        height: 50px;
        line-height: 50px;
        background: #fbf8f8;
        border-radius: 5px;
        font-size: 15px;
        color: #fa5555;
        text-align: center;
    }
}
