@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
}

.button-group {
    button {
        width: 107px;
        height: 35px;
        border-radius: 4px;
    }

    button.cancel {
        margin-right: 32px;
    }

}

// .light-theme {

    .title {
        color: map-get($colors, 333333);
    }

    .button-group {

        button.cancel {
            box-shadow: 0px 4px 8px 0px rgba(87, 83, 245, 0.4);
            color: map-get($neo-line-default, 500);
        }

        button.confirm {
            background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
            box-shadow: 0px 4px 8px 0px rgba(87, 83, 245, 0.4);
            color: map-get($neo-line-default, 50);
        }
    }
// }
