@import 'src/styles/theme-default';
@import 'src/styles/popup-default';



.popup-wallet-body {
    width: 300px;
    height: 410px;
    margin: auto;
    background-color: map-get($neo-line-default, 50);
    padding-top: 33px;
    box-shadow: 0 1px 2px 0 rgba(81, 227, 91, 0.35);
}
