<div class="nav">
    <div class="content">
        <img src="/assets/images/nav-back.png" routerLink="/popup/home" alt="">
        {{ 'about' | translate | async }}
    </div>
    <div class="divide"></div>
</div>

<div class="container">
    <img class="logo" src="/assets/images/logo_title.png" alt="">
    <div class="version" *ngIf="version !== ''">{{ 'version' | translate | async}}: {{ version }}</div>
    <div class="subscription" (click)="openSubscription()">
        <div class="to-subscription">{{ 'receiveOurNewsletter' | translate | async }}<img src="/assets/images/arrow-right.png" alt=""></div>
        <p class="tip">{{ 'signUpToReceiveUpdatesAndAnnouncements' | translate | async }}</p>
    </div>
    <p class="about-item" (click)="jumbToWeb(0)">{{ 'privacyPolicy' | translate | async }}</p>
    <p class="about-item" (click)="jumbToWeb(1)">{{ 'termsOfUse' | translate | async }}</p>
    <p class="about-item" (click)="jumbToWeb(2)">{{ 'companyWebsite' | translate | async }}</p>
    <p class="about-item" (click)="jumbToWeb(3)">{{ 'contactUs' | translate | async }}</p>
</div>
