@import "src/styles/popup-default";

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 24px;
  background: $background-color;
  img.logo {
    height: 60px;
    border-radius: 10px;
  }
  img.logo-word {
    filter: drop-shadow(1000px 0 0 $theme-color);
    transform: translate(-1000px);
    margin-top: 12px;
  }
  .version {
    font-family: NeverMind-Regular;
    font-size: 12px;
    color: $title-color;
    margin-top: 8px;
  }
}

ul.links li {
  padding: 0 24px;
  height: 66px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: NeverMind-Medium;
  font-size: 16px;
  color: $title-color;
  cursor: pointer;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    background: $line-color;
  }
  &:hover {
    background: $hover-color;
  }
}
