<div class="popup-about-logo">
    <img src="/assets/images/logo_title.png" alt="">
</div>
<div class="popup-about-version"  *ngIf="version !== ''">{{ 'version' | translate | async}}: {{ version }}</div>

<div class="popup-about">
    <div class="popup-about-privacy-item">
        <div>
            <p>{{ 'privacyPolicy' | translate | async }}</p>
        </div>
        <div>
            <p>{{ 'termsOfUse' | translate | async }}</p>
        </div>
    </div>
    <div class="popup-about-site">
        <p>{{ 'companyWebsite' | translate | async }}</p>
    </div>
    <div class="popup-about-contact">
        <p>{{ 'contactUs' | translate | async }}</p>
    </div>
</div>
