.popup-about-logo1 {
    width: 109px;
    height: 71px;
    margin: auto;
    margin-top: 15px;
}

.popup-about-logo2 {
    width: 85px;
    height: 25px;
    margin: auto;
    margin-top: 10px;
}

.popup-about-version {
    font-size: 13px;
    text-align: center;
    margin-top: 5px;
}

.popup-about {
    width: 325px;
    margin: auto;
    margin-top: 15px;

    .popup-about-privacy-item {
        overflow: hidden;
        margin-bottom: 5px;

        div {
            width: 156px;
            height: 156px;
            position: relative;

            p {
                position: absolute;
                right: 25px;
                bottom: 30px;
                font-size: 16px;
                font-weight: 500;
            }
        }

        div:first-child {
            float: left;
        }

        div:last-child {
            float: right;
        }
    }

    @mixin site-contact($bgurl, $bgurl-hover) {
        width: 100%;
        margin-bottom: 5px;
        height: 96px;
        background-size: cover;
    }

    .popup-about-site {
        position: relative;
    }

    .popup-about-contact {
        position: relative;
    }

    .popup-about-contact p,
    .popup-about-site p {
        position: absolute;
        top: 36px;
        left: 170px;
        font-size: 16px;
        font-weight: 500;
    }
}
