<nav title="about"></nav>

<div class="message">
  <img class="logo" src="/assets/logo128.png" alt="" />
  <img class="logo-word" src="/assets/images/logo-word.svg" alt="" />
  <p class="version">{{ "version" | translate | async }}: {{ version }}</p>
</div>

<ul class="links">
  <li
    *ngFor="let item of links; index as index"
    (click)="jumbToWeb(index)"
    class="item"
  >
    <span>{{ item.name | translate | async }}</span>
    <img src="/assets/images/common/arrow.svg" alt="" />
  </li>
</ul>
