<mat-toolbar color="primary" *ngIf="!hideNav">
    <div class="nav flex">
        <div class="flex-1">
            <img class="logo" src="/assets/images/logo.png" />
            <img class="logo-title" src="/assets/images/logo_title.png" />
        </div>
        <div class="nav-account-box" [matMenuTriggerFor]="account">
            <img [avatar]="address" *ngIf="walletIsOpen && address" class="avatar" />
            <span class="name" *ngIf="walletIsOpen && wallet">{{ 'hello' | translate | async }}, {{wallet?.name}}</span>
        </div>
        <mat-menu #account="matMenu" class="nav-account-menu-box">
            <p class="nav-account-menu-title">{{ 'myAccount' | translate | async }}</p>
            <div class="nav-account-item-box" *ngFor="let item of walletArr" (click)="chooseAccount(item)">
                <div class="selected-icon">
                    <img [hidden]="!isActivityWallet(item)" src="/assets/images/select.png" />
                </div>
                <div class="item-info">
                    <img class="avatar" [avatar]="item.accounts[0].address" />
                    <span class="name">{{ item.name }}</span>
                </div>
            </div>
            <hr>
            <div class="nav-account-menu-item" routerLink="/wallet/import">
                <img class="account-import-logo" src="/assets/images/import_wallet.png" alt="">
                <span>{{ 'importWallet' | translate | async}}</span>
            </div>
            <div class="nav-account-menu-item" routerLink="/wallet/create">
                <img class="account-create-logo" src="/assets/images/create_wallet.png" alt="">
                <span>{{ 'createWallet' | translate | async}}</span>
            </div>
            <hr>
            <div class="nav-account-menu-item" (click)="closeWallet()">
                <img class="account-create-logo" src="/assets/images/side-nav/logout.png" alt="">
                <span>{{ 'closeWallet' | translate | async}}</span>
            </div>
            <!-- <button mat-menu-item>{{ 'mainNet' | translate | async }}</button> -->
        </mat-menu>

        <button mat-stroked-button class="nav-network" [matMenuTriggerFor]="menu">
            {{ (net === 'main' ? 'mainNet' : 'testNet') | translate | async }}
            <span class="nav-network-icon"></span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="modifyNet('main')">{{ 'mainNet' | translate | async }}</button>
            <button mat-menu-item (click)="modifyNet('test')">{{ 'testNet' | translate | async }}</button>
        </mat-menu>
        <!-- <button mat-stroked-button *ngIf="walletIsOpen" (click)="close()" >{{ 'closeWallet' | translate | async }}</button> -->
    </div>
</mat-toolbar>
<div class="body flex" [ngClass]="{'expand': !hideNav}">
    <div class="side-nav" *ngIf="!hideNav && walletIsOpen">
        <div routerLink="/account" routerLinkActive="active">
            <img src="/assets/images/sidenav_account.png" alt="" />
            <img class="active" src="/assets/images/sidenav_account_active.png" alt="" />
            <p>{{ 'account' | translate | async }}</p>
        </div>
        <div routerLink="/asset" routerLinkActive="active">
            <img src="/assets/images/sidenav_token.png" alt="" />
            <img class="active" src="/assets/images/sidenav_token_active.png" alt="" />
            <p>{{ 'assets' | translate | async }}</p>
        </div>
        <div routerLink="/setting" routerLinkActive="active">
            <img src="/assets/images/sidenav_set.png" alt="" />
            <img class="active" src="/assets/images/sidenav_set_active.png" alt="" />
            <p>{{ 'setting' | translate | async }}</p>
        </div>
    </div>
    <div class="flex-1">
        <router-outlet></router-outlet>
    </div>
</div>
<router-outlet name="transfer"></router-outlet>
