@import 'src/styles/theme-default';

.nav {
    .nav-account-box {
        .name {
            color: #FFFFFF;
        }
    }
}
::ng-deep .nav-account-menu-box {
    .nav-account-menu-title {
        color: #484E6D;
    }
    .nav-account-item-box {
        &:hover {
            background: #F4F7FC;
        }
        .item-info {
            .name {
                color: #484E6D;
            }
        }
    }
    .nav-account-menu-item {
        &:hover {
            background: #F4F7FC;
        }
        span {
            color: #484E6D;
        }
    }
}
.nav-network {
    border-color: white;

    .nav-network-icon {
        background: url('/assets/images/net_dropdown_white.png') no-repeat center;
    }
}

.body {
    background: #FFFFFF;
}
@media screen and (min-width: 961px) {
    .body.expand {
        box-shadow: 0px 0px 16px #484e6d;
    }
}
.side-nav {
    background: #f4f7fc;
}

.side-nav > div {
    color: #969696;
}
.side-nav > div p {
    color: #969696;
}
.side-nav > div.active {
    background: mat-color($default-app-primary);
    box-shadow: 0 0 $space #969696;
}
.side-nav > div.active p {
    color: #FFFFFF;
}
