@import "src/styles/popup-default.scss";

section.container {
  height: 100%;
  .content {
    padding: 0 24px;
    .item {
      .label {
        font-family: NeverMind-Regular;
        color: $sub-title-color;
        margin-top: 24px;
      }
      .value {
        height: 52px;
        padding: 0 16px;
        border-radius: 4px;
        background: $box-color;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 12px;
      }
      &.currencies {
        .label {
          margin-top: 8px;
        }
        .value {
          cursor: pointer;
          .asset-logo-box {
            margin-right: 12px;
          }
          .symbol {
            font-family: NeverMind-Regular;
          }
          .balance {
            line-height: 12px;
            color: $sub-title-color;
            margin-top: 4px;
          }
          img.arrow-down {
            transform: rotate(90deg);
          }
        }
      }
      &.amount {
        .value {
          height: 48px;
          position: relative;
        }
        input {
          font-family: NeverMind-Medium;
          font-size: 18px;
          color: #303433;
          flex: 1;
          padding-right: 60px;
        }
        .all {
          position: absolute;
          right: 0;
          top: 12px;
          display: inline-block;
          width: 50px;
          height: 24px;
          line-height: 24px;
          text-align: center;
          border-radius: 4px 0px 0px 4px;
          font-family: NeverMind-Regular;
          color: $theme-color;
          cursor: pointer;
          &:hover {
            background: #daf8f3;
          }
        }
      }
      &.priority-fee {
        .value {
          cursor: pointer;
          .fee-desc {
            font-family: NeverMind-Regular;
            font-size: 12px;
          }
          .fee {
            color: $sub-title-color;
            margin-top: 5px;
          }
        }
      }
    }
    .btn-group {
      margin-top: 37px;
      button {
        width: calc(50% - 8px);
        &:first-child {
          margin-right: 16px;
        }
      }
    }
  }
}
