<div class="title" >{{ 'selectAsset' | translate | async }}</div>
<div class="search-box">
    <img src="/assets/images/search.png" alt="">
    <input type="text" [(ngModel)]="searchValue" (input)="search()">
</div>
<div class="container" *ngIf="!data.isNft">
    <div class="asset-item" matRipple *ngFor="let item of showBalances;let i = index" (click)="select(item)">
        <div class="logo-box">
            <img [assetId]="item.asset_id" appErrorSrc alt="">
        </div>
        <div class="asset-info-box">
            <p>{{ item?.symbol || '' }}</p>
            <p>{{ 'balance' | translate | async }}&nbsp;&nbsp;{{ item.balance }}</p>
        </div>
        <img class="selected" src="/assets/images/dialog/selected.png" alt="" [hidden]="item.asset_id !== data.selectedId">
    </div>
</div>

<div class="container" *ngIf="data.isNft">
    <div class="asset-item" matRipple *ngFor="let item of showNftTokens;let i = index" (click)="select(item)">
        <div class="logo-box">
            <img [src]="item?.image_url" appErrorSrc alt="">
        </div>
        <div class="asset-info-box">
            <p>{{ item?.name || item?.tokenid }} #{{ item?.tokenid | nftTokenId }}</p>
            <p>{{ 'balance' | translate | async }}&nbsp;&nbsp;{{ item?.amount }}</p>
        </div>
        <img class="selected" src="/assets/images/dialog/selected.png" alt="" [hidden]="item.tokenid !== data.selectedId">
    </div>
</div>
