<section class="main">
  <ul>
    <li
      (click)="chainType = 'NeoX'"
      [ngClass]="{ active: chainType === 'NeoX' }"
    >
      <p>Neo X</p>
      <p class="evm">(EVM Network)</p>
    </li>
    <li
      (click)="chainType = 'Neo3'"
      [ngClass]="{ active: chainType === 'Neo3' }"
    >
      Neo N3
    </li>
    <li
      *ngIf="deviceIsSupportNeo2()"
      (click)="chain = 'Neo2'"
      [ngClass]="{ active: chain === 'Neo2' }"
    >
      Neo Legacy
    </li>
  </ul>
  <p class="title ledger">
    {{ "connectYourDevice" | translate : { device: device } | async }}
  </p>
  <p class="tip" *ngIf="device === 'Ledger'">
    {{ "plugInLedgerWalletTip" | translate | async
    }}<span class="link" (click)="jumbToWeb()">{{
      "clickHere" | translate | async
    }}</span>
  </p>
  <p class="tip" *ngIf="device === 'OneKey'">
    {{ "plugInOneKeyWalletTip" | translate | async }}
  </p>
  <div class="tip-imgs">
    <img
      class="ledger"
      theme
      src="/assets/images/ledger/plug-ledger.png"
      alt=""
    />
    <img class="arrow" src="/assets/images/ledger/plug-arrow.png" alt="" />
    <img class="pc" theme src="/assets/images/ledger/plug-pc.png" alt="" />
  </div>
  <div class="confirm-content">
    <button class="confirm" (click)="select()">
      {{ "Next" | translate | async }}
    </button>
  </div>
</section>
