

section.main {
  overflow: hidden;
  position: relative;
  .header {
    height: 132px;
    position: relative;
    overflow: hidden;
    .title {
      position: absolute;
      left: 24px;
      bottom: 32px;
      font-size: 20px;
      color: var(--btn-title-color);
    }
    img.logo {
      position: absolute;
      top: 41px;
      right: 49px;
      width: 107px;
    }
  }
  .bg {
    position: absolute;
    left: -10px;
    top: 114px;
    width: 100%;
    height: 100px;
    transform: rotate(-7deg);
    border-radius: 40px;
    opacity: 0.48;
    background: #ffffff;
  }
  .content {
    height: 468px;
    background: var(--body-background-color);
    padding: 24px;
    position: relative;
    .title {
      color: var(--sub-title-color);
    }
    ul {
      margin-top: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      li {
        width: 100px;
        height: 90px;
        line-height: 90px;
        background: var(--message-box-color);
        border-radius: 10px;
        border: 1px solid var(--line-color);
        font-size: 16px;
        font-family: NeverMind-Regular;
        text-align: center;
        cursor: pointer;
        &.active {
          font-family: NeverMind-Medium;
          border: 1px solid var(--theme-color);
        }
      }
    }
    .title.ledger {
      margin-top: 32px;
    }
    .tip {
      font-size: 12px;
      color: var(--tip-color);
      margin-top: 12px;
      line-height: 18px;
      font-family: NeverMind-Regular;
      .link {
        color: var(--theme-color);
        cursor: pointer;
        text-decoration: none;
      }
    }
    .tip-imgs {
      margin-top: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      img.ledger {
        width: 70px;
      }
      img.arrow {
        width: 24px;
        margin: 0 20px;
      }
      img.pc {
        width: 90px;
      }
    }
    button.confirm {
      width: 100%;
      margin-top: 45px;
    }
  }
}
