<section class="container">
  <p class="title">{{ "welcomeImport" | translate | async }}</p>
  <div class="import-type">
    <div
      class="import-method"
      (click)="showImportTypeMenu = !showImportTypeMenu"
    >
      <p class="label">{{ "importMethod" | translate | async }}</p>
      <p class="value">
        {{
          (importType === "key" ? "importKey" : "importFile")
            | translate
            | async
        }}
      </p>
      <img src="assets/images/common/triangle-fill.svg" alt="" />
    </div>
    <section
      class="pop-ups-veil"
      *ngIf="showImportTypeMenu"
      (click)="showImportTypeMenu = false"
    ></section>
    <ul
      class="pop-ups-menu"
      *ngIf="showImportTypeMenu"
      (click)="showImportTypeMenu = false"
    >
      <li (click)="importType = 'key'">
        {{ "importKey" | translate | async }}
      </li>
      <li (click)="importType = 'file'">
        {{ "importFile" | translate | async }}
      </li>
    </ul>
  </div>
  <form [hidden]="importType !== 'key'" [formGroup]="importForm">
    <mat-form-field class="form-field" appearance="fill">
      <img matPrefix src="/assets/images/login/wallet.svg" alt="" />
      <mat-label>{{ "enterWalletName" | translate | async }}</mat-label>
      <input matInput required formControlName="name" />
      <mat-error *ngIf="importForm.get('name').errors?.required">
        {{ "walletNameIsRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="importForm.get('name').errors?.pattern">
        {{ "lengthLimit" | translate | async }}:
        {{ limit?.nameLimitation[0] }}-{{ limit?.nameLimitation[1] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field class="form-field" appearance="fill">
      <img matPrefix src="/assets/images/login/key.svg" alt="" />
      <mat-label>{{ "enterWIF" | translate | async }}</mat-label>
      <input
        matInput
        required
        formControlName="WIF"
        [type]="hideWIF ? 'password' : 'text'"
        (keyup.enter)="
          !isInit && !importForm.invalid && !loading ? submitImport() : null
        "
      />
      <img
        class="suffix"
        (click)="hideWIF = !hideWIF"
        matSuffix
        [src]="
          hideWIF
            ? 'assets/images/login/eye-hide.svg'
            : 'assets/images/login/eye-view.svg'
        "
      />
      <mat-error *ngIf="importForm.get('WIF').errors?.required">
        {{ "WIFRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="importForm.get('WIF').errors?.errorWIF">
        {{ "WIFPattern" | translate | async }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="!password"
      class="form-field"
      appearance="fill"
      focused="true"
    >
      <img matPrefix src="/assets/images/login/lock.svg" alt="" />
      <mat-label>{{ "enterPassword" | translate | async }}</mat-label>
      <input
        matInput
        required
        formControlName="password"
        [type]="hideImportPwd ? 'password' : 'text'"
      />
      <img
        class="suffix"
        (click)="hideImportPwd = !hideImportPwd"
        matSuffix
        [src]="
          hideImportPwd
            ? 'assets/images/login/eye-hide.svg'
            : 'assets/images/login/eye-view.svg'
        "
      />
      <mat-error *ngIf="importForm.get('password').errors?.required">
        {{ "passwordRequired" | translate | async }}
      </mat-error>
      <mat-error *ngIf="importForm.get('password').errors?.pattern">
        {{ "lengthLimit" | translate | async }}:
        {{ limit?.passwordLimitation[0] }}-{{ limit?.passwordLimitation[1] }}
      </mat-error>
    </mat-form-field>
    <mat-form-field
      *ngIf="!password"
      class="form-field"
      appearance="fill"
      focused="true"
    >
      <img matPrefix src="/assets/images/login/lock.svg" />
      <mat-label>{{ "enterConfirmPassword" | translate | async }}</mat-label>
      <input
        matInput
        required
        formControlName="confirmPassword"
        [errorStateMatcher]="matcher"
        [type]="hideConfirmPwd ? 'password' : 'text'"
      />
      <img
        class="suffix"
        (click)="hideConfirmPwd = !hideConfirmPwd"
        matSuffix
        [src]="
          hideConfirmPwd
            ? 'assets/images/login/eye-hide.svg'
            : 'assets/images/login/eye-view.svg'
        "
      />
      <mat-error *ngIf="importForm.hasError('notSame')">
        {{ "confirmError" | translate | async }}
      </mat-error>
    </mat-form-field>
  </form>
  <div [hidden]="importType !== 'file'" class="import-nep6-file">
    <button class="confirm pop-ups choose-file">
      {{ "chooseNep6File" | translate | async }}
      <input (change)="onFileSelected($event)" type="file" />
    </button>
    <p class="name">{{ nep6Form.value.name }}</p>
    <form [formGroup]="nep6Form">
      <mat-form-field class="form-field" appearance="fill" focused="true">
        <img matPrefix src="/assets/images/login/lock.svg" alt="" />
        <mat-label>{{ "enterPassword" | translate | async }}</mat-label>
        <input
          matInput
          required
          formControlName="password"
          [type]="hideNep6Pwd ? 'password' : 'text'"
        />
        <img
          class="suffix"
          (click)="hideNep6Pwd = !hideNep6Pwd"
          matSuffix
          [src]="
            hideNep6Pwd
              ? 'assets/images/login/eye-hide.svg'
              : 'assets/images/login/eye-view.svg'
          "
        />
        <mat-error *ngIf="nep6Form.get('password').errors?.required">
          {{ "passwordRequired" | translate | async }}
        </mat-error>
      </mat-form-field>
    </form>
  </div>
  <div class="btn-group" [ngClass]="{ 'import-key': importType === 'key' }">
    <button
      class="confirm"
      *ngIf="importType === 'key'"
      (click)="submitImport()"
      [ngClass]="{ disabled: isInit || loading || importForm.invalid }"
    >
      {{ (loading ? "importing" : "import") | translate | async }}
    </button>
    <button
      class="confirm"
      *ngIf="importType === 'file'"
      (click)="submitImport()"
      [ngClass]="{ disabled: isInit || loading || nep6Form.invalid }"
    >
      {{ (loading ? "importing" : "import") | translate | async }}
    </button>
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
  </div>
</section>
