@import "../common.scss";
@import "src/styles/pop-ups-menu.scss";

section.container {
  .import-type {
    margin-top: 12px;
    margin-bottom: 16px;
    position: relative;
    .import-method {
      height: 52px;
      padding: 0 16px;
      border-radius: 4px;
      background: var(--body-background-color);
      border: 1px solid var(--sub-title-color);
      cursor: pointer;
      position: relative;
      .label {
        font-family: NeverMind-Regular;
        font-size: 10px;
        color: var(--tip-color);
        margin-top: 8px;
      }
      .value {
        margin-top: 8px;
      }
      img {
        position: absolute;
        right: 16px;
        top: 23px;
      }
    }
    .pop-ups-menu {
      position: absolute;
      top: 60px;
      left: 0;
      width: 100%;
    }
  }
  .btn-group {
    position: relative;
    left: 0;
    bottom: 0;
  }
}

.import-nep6-file {
  button.choose-file {
    width: 100%;
    background: #daf8f3;
    border: 1px solid var(--theme-color);
    color: var(--title-color);
    position: relative;
    padding: 0 16px;
    text-align: left;
    :host-context([data-theme-style="dark-theme"]) & {
      background: rgba(6, 204, 171, 0.2);
      border-color: #4ddcba;
      color: #fcfdff;
    }
    input {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      opacity: 0;
    }
  }
  .name {
    color: var(--sub-title-color);
    height: 30px;
    line-height: 30px;
  }
}
