<div class="import-nav-box">
    <span [ngClass]="{'active': navIndex == 0}" (click)="navSelect(0)">Private Key</span>
    <span [ngClass]="{'active': navIndex == 1}" (click)="navSelect(1)">Encrypted Key</span>
    <span [ngClass]="{'active': navIndex == 2}" (click)="navSelect(2)">NEP2 File</span>
</div>
<div class="import-private content-item-box" *ngIf="navIndex == 0 || navIndex == 1">
    <p class="popup-wallet-body-title">{{ 'account' | translate | async }}
    </p>

    <p class="popup-wallet-body-tip"> {{ 'welcomeImport' | translate | async }}
    </p>
    <form #walletForm="ngForm">
        <mat-form-field class="popup-wallet-body-text">
            <img matPrefix src="../../../../assets/images/wallet_create_name.png" alt="" />
            <input matInput placeholder="{{ 'enterWalletName' | translate | async }}"
                [(ngModel)]="walletImport.walletName" [minlength]="limit.nameLimitation[0]"
                [maxlength]="limit.nameLimitation[1]" name="walletName" #walletName="ngModel" required />
            <mat-error *ngIf="walletName.errors?.required">
                {{ 'walletNameIsRequired' | translate | async }}
            </mat-error>

            <mat-error *ngIf="walletName.errors?.minlength">
                {{ 'lengthLimit' | translate | async }}: {{ limit.nameLimitation[0] }}-{{ limit.nameLimitation[1] }}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="popup-wallet-body-text">
            <img matPrefix src="../../../../assets/images/lock.png" alt="" />
            <input matInput placeholder="{{ 'enterPassword' | translate | async }}" [(ngModel)]="walletImport.password"
                name="password" #password="ngModel" required [minlength]="limit.passwordLimitation[0]"
                [maxlength]="limit.passwordLimitation[1]" [pattern]="limit.pattern"
                [type]="hidePwd ? 'password' : 'text'" />
            <button tabindex="-1" mat-button matSuffix mat-icon-button type="button" (click)="togglePwd()">
                <span [class]="hidePwd ? 'hide-pwd' : ''"></span>
            </button>

            <mat-error *ngIf="password.errors?.required">
                {{ 'passwordRequired' | translate | async }}

            </mat-error>

            <mat-error *ngIf="password.errors?.minlength">
                {{ 'lengthLimit' | translate | async }}:
                {{ limit.passwordLimitation[0] }}-{{ limit.passwordLimitation[1]}}
            </mat-error>

            <mat-error *ngIf="password.errors?.pattern">
                {{ 'onlySupport' | translate | async}}: 0-9 A-Z a-z _-+=,.:!

            </mat-error>
        </mat-form-field>
        <mat-form-field class="popup-wallet-body-text" focused="true">
            <img matPrefix src="/assets/images/lock.png" />
            <input matInput placeholder="{{ 'enterConfirmPassword' | translate | async }}"
                [(ngModel)]="walletImport.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required
                [type]="hideConfirmPwd ? 'password' : 'text'" />
            <button tabindex="-1" mat-button matSuffix mat-icon-button type="button" (click)="toggleConfirmPwd()">
                <span [class]="hideConfirmPwd ? 'hide-pwd' : ''"></span>
            </button>
        </mat-form-field>
        <mat-error class="error-wif" *ngIf="confirmPassword.value != password.value && confirmPassword.value != ''">
            {{ 'confirmError' | translate | async }}</mat-error>
        <div *ngIf="navIndex == 0">
            <mat-form-field class="popup-wallet-body-text">
                <img matPrefix src="../../../../assets/images/wallet_pwd.png" alt="" />
                <input matInput placeholder="{{ 'enterWIF' | translate | async }}" [(ngModel)]="walletImport.WIF"
                    name="WIF" (keyup)="isWIF = true" #WIF="ngModel" required [type]="hideWIF ? 'password' : 'text'"
                    (keyup.enter)="(!isInit && !walletForm.invalid && !loading && confirmPassword.value == password.value) ? submit() : null " />
                <button tabindex="-1" mat-button matSuffix mat-icon-button type="button" (click)="toggleWIF()">
                    <span [class]="hideWIF ? 'hide-pwd' : ''"></span>
                </button>
                <mat-error *ngIf="WIF.errors?.required">{{ 'WIFRequired' | translate | async }}</mat-error>
            </mat-form-field>
            <mat-error class="error-wif" *ngIf="isWIF === false">{{ 'WIFPattern' | translate | async }}</mat-error>
        </div>

        <!-- Encrypted Key -->
        <div *ngIf="navIndex == 1">
            <mat-form-field class="popup-wallet-body-text">
                <img matPrefix src="../../../../assets/images/wallet_pwd.png" alt="" />
                <input matInput placeholder="{{ 'enterEncryptedKey' | translate | async }}"
                    [(ngModel)]="walletImport.EncrpytedKey" name="EncryptedKey" (keyup)="isEncryptedKey = true"
                    #EncryptedKey="ngModel" required [type]="hideEncryptedKey ? 'password' : 'text'"
                    (keyup.enter)="(!isInit && !walletForm.invalid && !loading && confirmPassword.value == password.value) ? submitEncrypted() : null " />
                <button tabindex="-1" mat-button matSuffix mat-icon-button type="button"
                    (click)="hideEncryptedKey = !hideEncryptedKey">
                    <span [class]="hideEncryptedKey ? 'hide-pwd' : ''"></span>
                </button>
                <mat-error *ngIf="EncryptedKey.errors?.required">{{ 'EncryptedKeyRequired' | translate | async }}
                </mat-error>
            </mat-form-field>
            <mat-error class="error-wif" *ngIf="isEncryptedKey === false">
                {{ 'EncryptedKeyPattern' | translate | async }}
            </mat-error>
        </div>

    </form>

    <button class="popup-wallet-body-submit" mat-raised-button color="primary"
        [disabled]="isInit || walletForm.invalid || loading || isWIF === false || confirmPassword.value != password.value"
        (click)="navIndex==0 ? submit() : submitEncrypted()">
        <ng-container *ngIf="!loading">{{ 'import' | translate | async }}</ng-container>
        <ng-container *ngIf="loading">{{ 'importing' | translate | async }}</ng-container>
    </button>
</div>

<!-- NEP2 File -->

<div class="import-nep2-file content-item-box" *ngIf="navIndex == 2">
    <p class="popup-wallet-body-title">{{ 'account' | translate | async }}
    </p>

    <p class="popup-wallet-body-tip"> {{ 'welcomeImport' | translate | async }}
    </p>
    <button class="popup-wallet-body-submit" *ngIf="nep2Json == null" mat-raised-button color="primary">
        选择nep2
        <input class="choose-nep2-input" (change)="onFileSelected($event)" type="file">
    </button>
    <div class="wallet-name-box">
        <span>{{ nep2Name }}</span>
    </div>
    <form #nep2Form="ngForm">
        <mat-form-field class="popup-wallet-body-text">
            <img matPrefix src="../../../../assets/images/lock.png" alt="" />
            <input matInput placeholder="{{ 'enterPassword' | translate | async }}" [(ngModel)]="walletImport.password"
                name="password" #password="ngModel" required [minlength]="limit.passwordLimitation[0]"
                [maxlength]="limit.passwordLimitation[1]" [pattern]="limit.pattern"
                [type]="hidePwd ? 'password' : 'text'" />
            <button tabindex="-1" mat-button matSuffix mat-icon-button type="button" (click)="togglePwd()">
                <span [class]="hidePwd ? 'hide-pwd' : ''"></span>
            </button>

            <mat-error *ngIf="password.errors?.required">
                {{ 'passwordRequired' | translate | async }}

            </mat-error>

            <mat-error *ngIf="password.errors?.minlength">
                {{ 'lengthLimit' | translate | async }}:
                {{ limit.passwordLimitation[0] }}-{{ limit.passwordLimitation[1]}}
            </mat-error>

            <mat-error *ngIf="password.errors?.pattern">
                {{ 'onlySupport' | translate | async}}: 0-9 A-Z a-z _-+=,.:!

            </mat-error>
        </mat-form-field>
        <mat-form-field class="popup-wallet-body-text" focused="true">
            <img matPrefix src="/assets/images/lock.png" />
            <input matInput placeholder="{{ 'enterConfirmPassword' | translate | async }}"
                [(ngModel)]="walletImport.confirmPassword" name="confirmPassword" #confirmPassword="ngModel" required
                [type]="hideConfirmPwd ? 'password' : 'text'"
                (keyup.enter)="(!isInit && !nep2Form.invalid && !loading && confirmPassword.value == password.value && nep2Json != null) ? submitEncrypted() : null " />
            <button tabindex="-1" mat-button matSuffix mat-icon-button type="button" (click)="toggleConfirmPwd()">
                <span [class]="hideConfirmPwd ? 'hide-pwd' : ''"></span>
            </button>
        </mat-form-field>
        <mat-error class="error-wif" *ngIf="confirmPassword.value != password.value && confirmPassword.value != ''">
            {{ 'confirmError' | translate | async }}</mat-error>
    </form>


    <button class="popup-wallet-body-submit" mat-raised-button color="primary"
        [disabled]="nep2Json == null || nep2Form.invalid || loading || confirmPassword.value != password.value"
        (click)="submitEncrypted()" required>
        <ng-container *ngIf="!loading">{{ 'import' | translate | async }}</ng-container>
        <ng-container *ngIf="loading">{{ 'importing' | translate | async }}</ng-container>
    </button>
    <button class="popup-wallet-body-submit" mat-raised-button color="warn" [disabled]="" (click)="clearNep2()">
        重置
    </button>
</div>
