@import 'src/app/popup/wallet/common-scss/create-import-common.scss';

.content-item-box {
    width: 300px;
    min-height: 410px;
    margin: auto;
    padding-top: 33px;
    margin-top: 20px;
}

.import-nav-box {
    display: flex;
    justify-content: center;
    span {
        cursor: pointer;
        height: 38px;
        line-height: 38px;
        flex-grow: 1;
        text-align: center;
        font-size: 12px;

        &.active {
            font-size: 14px
        }

        &:hover {
            font-size: 14px
        }
    }
}

.import-nep2-file {
    .choose-nep2-input {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        /* background: red; */
        opacity: 0;
    }

    .wallet-name-box {
        text-align: center;
        font-size: 14px;
    }
}

textarea {
    width: 100%;
    outline: none;
}

// .light-theme {
    .content-item-box {
        background-color: white;
        box-shadow: 0 1px 2px 0 rgba(81, 227, 91, 0.35);
    }
    .import-nav-box {
        border-top: 1px solid #e5e5e5;
        border-bottom: 1px solid #e5e5e5;

        span {
            color: #e5e5e5;
            &.active {
                color: white;
            }
            &:hover {
                color: white;
            }
        }
    }
    textarea {
        border: 1px solid red;
    }
// }
