@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.popup-home-logo {
    width: 70px;
    height: 70px;
    margin: auto;
    display: block;
    margin-top: 61px;
    border-radius: 3px;
}

.asset-name {
    text-align: center;
    font-size: 12px;
    color: #9FA8BD;
}

.popup-home-asset-value {
    height: 22px;
    line-height: 22px;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 8px 0;
    color: map-get($colors, 333333);

    span {
        font-family: AkrobatBold, serif;
        letter-spacing: 1px;

        &:after {
            content: ' ';
        }
    }

    button {
        width: 22px;
        height: 22px;
        line-height: 26px;

        * {
            width: 22px;
            height: 22px;
            font-size: 13px;
            line-height: 18px;
            color: map-get($neo-line-default, 500);
        }
    }
}

.popup-home-asset-dollar {
    font-size: 13px;
    height: 18px;
    text-align: center;
    color: map-get($colors, 9fa8bd);
}
