<img [src]="imageUrl" alt="" class="popup-home-logo" />
<p class="asset-name">{{name}}</p>
<div class="popup-home-asset-value">
    <span>{{ balance || 0 }}</span>
    <ng-container *ngIf="!showTokenName">{{ symbol }}</ng-container>
    <ng-container *ngIf="showTokenName">{{ name }}</ng-container>
    <!-- <button mat-icon-button (click)="toggleShowTokenName()">
        <mat-icon class="popup-home-logo-info" *ngIf="showTokenName">error</mat-icon>
        <mat-icon class="popup-home-logo-info" *ngIf="!showTokenName">error_outline</mat-icon>
    </button> -->
</div>
<div class="popup-home-asset-dollar" *ngIf="rateBalance || rateBalance === 0">{{rateCurrency | currencySymbol }}{{rateBalance | number: '1.0-2'}} {{rateCurrency | uppercase}}</div>
