@import 'src/styles/popup-default';

.my-wallet-box {
    .head {
        .title {
            color: #333333;
        }
    }

    .wallet-item-box {
        .wallet-select {
            div {
                @include bg($img-select);
            }
        }
        .wallet-info {
            border-bottom: 1px solid map-get($colors, e5e5e5);

            .wallet-info {
                .wallet-name:focus {
                    border-bottom: 1px solid #e5e5e5;
                }
                .wallet-address {
                    color: #9FA8BD;
                }
            }
        }
    }
}
