<section class="container">
  <nav title="myAssets"></nav>
  <div class="popup-assets-list">
    <div class="asset-item" *ngFor="let asset of myAssets; index as index">
      <div class="asset-logo">
        <img [assetId]="asset?.asset_id" appErrorSrc alt="" />
      </div>
      <div class="item-middle">
        <div class="asset-name">
          <span>{{ asset.symbol }}</span>
        </div>
        <p class="asset-id">{{ asset?.asset_id }}</p>
      </div>
      <div class="operate" *ngIf="showOperate(asset)">
        <img
          class="add"
          *ngIf="asset?.watching === false"
          theme
          src="/assets/images/asset/add.svg"
          alt=""
          (click)="addAsset(index)"
        />
        <img
          class="delete"
          *ngIf="asset?.watching !== false"
          theme
          src="/assets/images/asset/remove.svg"
          alt=""
          (click)="removeAsset(index)"
        />
      </div>
    </div>
    <div class="loading" *ngIf="isLoading">
      {{ "loading" | translate | async }}
    </div>
  </div>
</section>
