

.nav {
  height: 44px;
  line-height: 44px;
  font-family: Objectivity-Medium;
  font-size: 16px;
  text-align: center;
  color: var(--title-color);
  background: var(--background-color);
  position: relative;
  img.back {
    position: absolute;
    left: 24px;
    top: 15px;
    cursor: pointer;
  }
}
