<app-hardware-sign
  *ngIf="showHardwareSign"
  [chainType]="'NeoX'"
  [currentWallet]="encryptWallet"
  [unsignedData]="
    signMethod === ETH_EOA_SIGN_METHODS.PersonalSign ? challenge : typedData
  "
  [signMethod]="signMethod"
  (backWithSignedTx)="handleHardwareSignedTx($event)"
></app-hardware-sign>

<div class="container">
  <div class="header">
    <div class="invoke-type">· {{ "SIGNMESSAGE" }}</div>
    <p class="title">{{ "thSignTitle" | translate | async }}</p>
    <p class="warning">
      {{ "evmSignWarning" | translate | async }}
    </p>
    <p class="account">
      <img [avatar]="signAddress" />{{ signAddress | longStr : 10 }}
    </p>
  </div>
  <div class="content">
    <p class="hex-label">
      {{ "message" | translate | async }}
      <copy
        [value]="
          signMethod === ETH_EOA_SIGN_METHODS.PersonalSign
            ? challenge
            : strTypeData
        "
      >
        <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
      </copy>
    </p>
    <p
      class="json-box serialize"
      *ngIf="signMethod === ETH_EOA_SIGN_METHODS.PersonalSign"
    >
      {{ challenge }}
    </p>
    <div
      class="json-box serialize json-viewer"
      *ngIf="signMethod === ETH_EOA_SIGN_METHODS.SignTypedDataV4"
    >
      <ul>
        <li>
          <span class="json-key">primaryType</span>:
          <span class="json-value">{{ typedData?.primaryType }}</span>
        </li>
      </ul>
      <app-json-viewer [data]="typedData?.message"></app-json-viewer>
    </div>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
    <button class="confirm" (click)="signature()">
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
