<div class="pop-ups-veil" (click)="close()"></div>
<div class="content">
  <p class="title">{{ "Networks" | translate | async }}</p>
  <div class="network-list">
    <div class="list-item" *ngFor="let list of allNetworks">
      <p class="list-title">
        <span>{{ list.title }}</span>
        <span class="dropdown" (click)="list.expand = !list.expand">
          <img
            theme
            [ngClass]="{ expand: list.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </p>
      <ul [hidden]="!list.expand">
        <li
          *ngFor="let item of list.networkArr; index as index"
          [ngClass]="{
            active: chainType === list.chain && currentNetwork.id === item.id
          }"
          (click)="changeNetwork(item, index, list.chain)"
        >
          <span class="select"></span>
          <span class="flex-1">{{ item.name }}</span>
          <img
            *ngIf="checkShowMore(list, item)"
            (click)="openMoreModal($event, item, list.chain, index)"
            theme
            src="/assets/images/common/more.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
  <button class="confirm pop-ups add-network" (click)="addNetwork()">
    {{ "AddNetwork" | translate | async }}
  </button>
  <section
    class="pop-ups-veil"
    *ngIf="moreModalNetwork"
    (click)="$event.stopPropagation(); moreModalNetwork = undefined"
  ></section>
  <ul #moreModalDom [hidden]="!moreModalNetwork" class="pop-ups-menu">
    <li (click)="editNetwork()">
      <img theme src="assets/images/account/home-account-detail.svg" alt="" />
      {{ "edit" | translate | async }}
    </li>
    <li (click)="deleteNetwork()">
      <img class="delete" src="assets/images/account/home-delete.svg" alt="" />
      {{ "delete" | translate | async }}
    </li>
  </ul>
</div>
