@import "src/styles/pop-ups-menu.scss";
@import "src/styles/tab-container.scss";

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  img.close {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
  }
  button.search {
    width: calc(100% - 48px);
    height: 44px;
    flex-shrink: 0;
    margin: 16px 24px 12px 24px;
    border-radius: 4px;
    border: 1px solid #cfdfe5;
    display: inline-flex;
    align-items: center;
    padding: 0 12px;
    img.search {
      margin-right: 12px;
      cursor: pointer;
    }
    input {
      flex: 1;
      color: var(--title-color);
      font-family: NeverMind-Medium;
      font-size: 14px;
    }
    img.clear {
      margin-left: 12px;
      cursor: pointer;
    }
  }

  ul.network-list {
    min-height: 332px;
    padding: 8px 0;
    flex: 1;
    overflow-y: scroll;
    position: relative;
    &::-webkit-scrollbar {
      display: block;
    }
    li {
      width: 100%;
      height: 52px;
      padding: 0 24px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.active {
        .select {
          border: none;
          background: url("/assets/images/common/selected-account.svg") center
            center no-repeat;
        }
      }
      &:hover {
        background: var(--hover-color);
      }
      .middle {
        width: calc(100% - 70px);
        .name {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .url {
          width: 100%;
          margin-top: 4px;
          display: inline-flex;
          align-items: center;
          gap: 4px;
          .url-text {
            font-family: NeverMind;
            font-size: 12px;
            font-weight: 500;
            line-height: 16px;
            letter-spacing: 0.01em;
            color: var(--sub-title-color);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
        span.dropdown {
          cursor: pointer;
          width: 12px;
          height: 12px;
          display: inline-flex;
          align-items: center;
          justify-content: center;
          img {
            transform: rotate(90deg);
            transition: all 0.3s;
            &.expand {
              transform: rotate(270deg);
            }
          }
        }
      }
      .select {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid var(--tip-color);
        margin-right: 12px;
      }
    }
  }
  button.add-network {
    width: calc(100% - 48px);
    margin: 0 24px 24px;
    flex-shrink: 0;
  }
  .pop-ups-menu {
    width: 164px;
    position: absolute;
    right: 8px;
    padding: 4px 0;
    li {
      padding: 0 12px;
      height: 48px;
      font-size: 14px;
    }
  }
  .pop-ups-menu.url-list {
    width: auto;
    max-height: 186px;
    overflow-y: scroll;
    left: 50px;
    right: 50px;
    &::-webkit-scrollbar {
      display: block;
    }
    li {
      display: block;
      height: 32px;
      line-height: 32px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
