<div class="content" #contentDom>
  <nav title="Networks"></nav>
  <button class="search">
    <img class="search" theme src="assets/images/common/search.svg" />
    <input
      [placeholder]="'SearchEVMNetwork' | translate | async"
      [(ngModel)]="searchValue"
      (input)="searchNetwork($event)"
      type="text"
    />
    <img
      (click)="clearSearch()"
      *ngIf="searchValue"
      theme
      src="/assets/images/common/close.svg"
      class="clear"
      alt=""
    />
  </button>
  <div class="tabs-container" *ngIf="!isSearching">
    <span
      [class]="{ selected: selectChainType === 'Neo3' }"
      (click)="selectChainType = 'Neo3'"
      >Neo N3</span
    >
    <span
      [class]="{ selected: selectChainType === 'NeoX' }"
      (click)="selectChainType = 'NeoX'"
      >Neo X</span
    >
    <span
      [class]="{ selected: selectChainType === 'Neo2' }"
      (click)="selectChainType = 'Neo2'"
      >Neo Legacy</span
    >
  </div>
  <ul class="network-list">
    <li
      *ngFor="
        let item of isSearching
          ? searchRes
          : selectChainType === 'Neo2'
          ? neo2Networks
          : selectChainType === 'Neo3'
          ? neo3Networks
          : neoXNetworks;
        index as index
      "
      [ngClass]="{
        active: chainType === selectChainType && currentNetwork.id === item.id
      }"
      (click)="changeNetwork(item, index, selectChainType)"
    >
      <span class="select"></span>
      <div class="flex-1 middle">
        <p class="name">{{ item.name }}</p>
        <p
          class="url"
          (click)="openRpcUrlListModal($event, item, selectChainType, index)"
        >
          <span class="url-text">{{ stripProtocol(item.rpcUrl) }}</span>
          <span *ngIf="item?.rpcUrlArr?.length > 1" class="dropdown">
            <img theme src="/assets/images/common/arrow.svg" alt="" />
          </span>
        </p>
      </div>
      <img
        *ngIf="checkShowMore(selectChainType, item)"
        (click)="openMoreModal($event, item, selectChainType, index)"
        theme
        src="/assets/images/common/more.svg"
        alt=""
      />
    </li>
  </ul>
  <button class="confirm pop-ups add-network" (click)="addNetwork()">
    {{ "AddNetwork" | translate | async }}
  </button>
  <section
    class="pop-ups-veil"
    *ngIf="showMoreModal"
    (click)="$event.stopPropagation(); showMoreModal = false"
  ></section>
  <ul #moreModalDom [hidden]="!showMoreModal" class="pop-ups-menu">
    <li (click)="editNetwork()">
      <img theme src="assets/images/account/home-account-detail.svg" alt="" />
      {{ "edit" | translate | async }}
    </li>
    <li (click)="deleteNetwork()">
      <img class="delete" src="assets/images/account/home-delete.svg" alt="" />
      {{ "delete" | translate | async }}
    </li>
  </ul>
  <section
    class="pop-ups-veil"
    *ngIf="showRpcListModal"
    (click)="$event.stopPropagation(); showRpcListModal = false"
  ></section>
  <ul
    #rpcUrlModalDom
    [hidden]="!showRpcListModal"
    class="pop-ups-menu url-list"
  >
    <li
      *ngFor="let url of moreModalNetwork?.rpcUrlArr"
      (click)="changeRpcUrl(url)"
      [ngClass]="{ active: url === moreModalNetwork.rpcUrl }"
    >
      {{ stripProtocol(url) }}
    </li>
  </ul>
</div>
