<div class="container">
  <div class="content">
    <div class="sign-address">
      <img class="avatar" [avatar]="txParams?.from" />
      <div class="item flex-1">
        <span class="value">{{ encryptWallet.name }}</span>
        <span class="label">{{ txParams?.from | longStr : 6 }}</span>
      </div>
      <div class="item balance">
        <span class="label">{{ "Balance" | translate | async }}</span>
        <span class="value">
          {{ signAddressGasBalance | numberFixed : 8 }}
          {{ neoXNetwork.symbol }}
        </span>
      </div>
    </div>
    <div class="host-info">
      <div class="host">
        <img [src]="iconSrc" [appErrorSrc]="'unknown'" alt="" />
        {{ locationOrigin }}
      </div>
    </div>
    <div class="approve-info">
      <p class="title" *ngIf="lang === 'en'">
        {{ "SpendingCapRequestForYour" | translate | async }}
      </p>
      <div class="asset">
        <token-logo
          customClass="list"
          [assetId]="txParams.to"
          [chainType]="'NeoX'"
          [symbol]="assetDetails?.symbol"
          [neoXChainId]="neoXNetwork.chainId"
        ></token-logo>
        <span>{{ assetDetails?.symbol }}</span>
        <copy [value]="txParams.to" [showTip]="false">
          <img theme src="assets/images/common/copy.svg" />
        </copy>
        <img
          *ngIf="neoXNetwork.explorer"
          (click)="toExplorer()"
          class="link"
          theme
          src="assets/images/bridge/tx-link.svg"
          alt=""
        />
      </div>
      <p class="title" *ngIf="lang !== 'en'">
        {{ "SpendingCapRequestForYour" | translate | async }}
      </p>
    </div>

    <div class="edit-amount">
      <p class="title">
        {{ "CustomSpendingCap" | translate | async }}
        <tooltip
          placement="top"
          [tip]="
            (inputAmountIsBig ? 'approveTip' : 'approveCustomTip')
              | translate
              | async
          "
        >
          <img
            theme
            [src]="
              inputAmountIsBig
                ? 'assets/images/common/warning-red.svg'
                : 'assets/images/common/tooltip.svg'
            "
            alt=""
          />
        </tooltip>
      </p>
      <ng-container *ngIf="isEdit">
        <p
          class="edit"
          *ngIf="assetDetails && inputAmount !== assetDetails.tokenAmount"
          (click)="useDappApproveAmount()"
        >
          {{ "useSiteSuggestion" | translate | async }}
        </p>
        <div class="input-amount">
          <input
            type="text"
            [(ngModel)]="inputAmount"
            (input)="handleInputAmountChange()"
            [ngClass]="{ big: inputAmountIsBig }"
          />
          <span class="max" (click)="useMaxApproveAmount()">
            {{ "Max" | translate | async }}
          </span>
        </div>
        <p class="tip" *ngIf="initTip">
          {{
            "approveInitTip"
              | translate : { symbol: assetDetails.symbol }
              | async
          }}
        </p>
        <p class="tip" *ngIf="!initTip && inputAmountIsBig">
          {{ "approveBigTip" | translate | async }}
        </p>
        <p class="tip" *ngIf="!initTip && !inputAmountIsBig">
          {{
            "approveNormalTip"
              | translate : { amount: inputAmount, symbol: assetDetails.symbol }
              | async
          }}
        </p>
      </ng-container>
      <ng-container *ngIf="!isEdit">
        <p class="edit" (click)="isEdit = true">
          {{ "edit" | translate | async }}
        </p>
        <p class="amount" [ngClass]="{ big: inputAmountIsBig }">
          {{ inputAmount }} {{ assetDetails?.symbol }}
        </p>
      </ng-container>
    </div>

    <div class="fee" *ngIf="!isEdit">
      <evm-estimate-error *ngIf="estimateGasError"></evm-estimate-error>

      <evm-fee
        *ngIf="neoXFeeInfo"
        [txParams]="newTxParams ?? txParams"
        [symbol]="neoXNetwork.symbol"
        [customNeoXFeeInfo]="neoXFeeInfo"
        [place]="'dapp'"
        (returnFee)="updateEvmFee($event)"
      >
      </evm-fee>

      <evm-gas-error
        *ngIf="insufficientFunds"
        [networkName]="neoXNetwork.name"
        [symbol]="neoXNetwork.symbol"
      ></evm-gas-error>
      <evm-pending-warning
        *ngIf="nonceInfo?.pendingTxs"
        [count]="nonceInfo.pendingTxs"
      ></evm-pending-warning>
    </div>

    <div class="nonce">
      {{ "customNonce" | translate | async }}:
      <input
        type="text"
        [placeholder]="nonceInfo?.nonce ?? ''"
        [(ngModel)]="customNonce"
        oninput="value=value.replace(/[^\d]/g,'')"
      />
    </div>

    <p class="view-details">
      <span (click)="showDetail = !showDetail">
        {{ "ViewDetails" | translate | async }}
        <img
          theme
          src="assets/images/third-party/triangle-fill.svg"
          [ngClass]="{ active: showDetail }"
          alt=""
        />
      </span>
    </p>
    <div class="params-data" *ngIf="showDetail">
      <p class="title">{{ "data" | translate | async }}</p>
      <p>Function: {{ tokenData?.name }}</p>
      <p>{{ txParams.data }}</p>
    </div>
  </div>

  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: insufficientFunds }"
      (click)="confirm()"
    >
      {{ (isEdit ? "Next" : "Approve") | translate | async }}
    </button>
  </div>
</div>
