<div class="container">
  <div class="header transfer">
    <div class="invoke-type">
      · {{ authorizationTitleKey | translate | async }}
    </div>
    <div class="address-group contract-interaction">
      <copy [value]="txParams?.from">
        <div class="item">
          <img class="avatar" [avatar]="txParams?.from" />
          <div class="name-group">
            <p class="name">{{ encryptWallet?.name }}</p>
            <p>{{ txParams?.from | longStr : 10 }}</p>
          </div>
        </div>
      </copy>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <div class="content details" *ngIf="tabType === 'details'">
    <div class="authorization-preview" *ngIf="showAuthorizationPreview">
      <div class="title-group">
        <p class="title">{{ "estimatedBalanceChanges" | translate | async }}</p>
        <tooltip
          placement="topLeft"
          [tip]="'estimatedBalanceChangesTip' | translate | async"
        >
          <img src="assets/images/common/tooltip.svg" alt="" />
        </tooltip>
      </div>
      <p class="description">
        {{
          authorizationDescriptionKey
            | translate
              : { amount: approveAmount, symbol: assetDetails?.symbol }
            | async
        }}
      </p>
      <div class="authorization-row">
        <span class="label">{{ authorizationChangeLabelKey | translate | async }}</span>
        <div class="authorization-value" *ngIf="canEditApproveAmount">
          <img
            (click)="openEditApproveCapDialog()"
            class="edit"
            src="assets/images/common/edit.svg"
          />
          <span *ngIf="authorization?.unlimited">
            {{ "unlimited" | translate | async }}
          </span>
          <span
            *ngIf="
              !authorization?.unlimited && authorizationAmountDisplay?.length <= 10
            "
          >
            {{ authorizationAmountDisplay }}
          </span>
          <tooltip
            *ngIf="
              !authorization?.unlimited && authorizationAmountDisplay?.length > 10
            "
            placement="top"
            [tip]="authorizationAmountDisplay"
          >
            <span>{{ authorizationAmountDisplay.slice(0, 10) }}...</span>
          </tooltip>
          <div class="asset-logo">
            <token-logo
              customClass="list edit-amount"
              [assetId]="txParams.to"
              [chainType]="'NeoX'"
              [symbol]="assetDetails?.symbol"
              [neoXChainId]="neoXNetwork.chainId"
            ></token-logo>
            {{ assetDetails?.symbol }}
          </div>
        </div>
        <div
          class="authorization-value"
          *ngIf="!canEditApproveAmount && !isNftAuthorization"
        >
          <span *ngIf="authorization?.unlimited">
            {{ "unlimited" | translate | async }}
          </span>
          <span *ngIf="!authorization?.unlimited">
            {{ authorizationAmountDisplay }}
          </span>
          <div class="asset-logo">
            <token-logo
              customClass="list edit-amount"
              [assetId]="txParams.to"
              [chainType]="'NeoX'"
              [symbol]="assetDetails?.symbol"
              [neoXChainId]="neoXNetwork.chainId"
            ></token-logo>
            {{ assetDetails?.symbol }}
          </div>
        </div>
        <copy
          *ngIf="!canEditApproveAmount && isNftAuthorization"
          [value]="authorization?.tokenAddress || txParams.to"
        >
          <span class="authorization-value">
            <ng-container *ngIf="isNftApprove">#{{ authorization?.tokenId }}</ng-container>
            <ng-container *ngIf="isSetApprovalForAll && !isRevokeApprovalForAll">
              {{ "all" | translate | async }}
            </ng-container>
            {{ assetDisplayName | longStr : 10 }}
          </span>
        </copy>
      </div>
      <div class="authorization-row" *ngIf="isRevokeApprovalForAll">
        <span class="label">{{ "permissionFrom" | translate | async }}</span>
        <copy [value]="authorization?.spender">
          <span class="authorization-value">
            {{ authorization?.spender | longStr : 10 }}
          </span>
        </copy>
      </div>
    </div>

    <evm-estimate-error *ngIf="estimateGasError"></evm-estimate-error>

    <div class="request-info" *ngIf="showSpenderInfo">
      <evm-authorization-details
        [authorizations]="authorizations"
        [labelKey]="spenderInfoLabelKey"
      ></evm-authorization-details>
    </div>

    <div class="request-info">
      <div class="request-info-item">
        <span class="label">{{ "Network" | translate | async }}</span>
        <span>{{ neoXNetwork.name }}</span>
      </div>
      <div class="request-info-item">
        <div class="label">
          {{ "RequestFrom" | translate | async }}
          <tooltip
            placement="topLeft"
            [tip]="'requestFromTip' | translate | async"
          >
            <img src="assets/images/common/tooltip.svg" alt="" />
          </tooltip>
        </div>
        <span>{{ locationOrigin }}</span>
      </div>
      <div *ngIf="txParams?.to" class="request-info-item">
        <div class="label">
          {{ "InteractingWith" | translate | async }}
          <tooltip
            placement="topLeft"
            [tip]="'interactionWithTip' | translate | async"
          >
            <img src="assets/images/common/tooltip.svg" alt="" />
          </tooltip>
        </div>
        <div class="to-address">
          <copy [value]="txParams?.to">
            {{ txParams?.to | longStr : 6 }}
          </copy>
          <tooltip
            *ngIf="goPlusSupported"
            placement="topRight"
            [tip]="'detectContractSecurity' | translate | async"
          >
            <span class="goplus-icon" (click)="detectContractSecurity()"></span>
          </tooltip>
        </div>
      </div>
      <div class="request-info-item">
        <div class="label">
          {{ "Method" | translate | async }}
          <tooltip placement="topLeft" [tip]="'methodTip' | translate | async">
            <img src="assets/images/common/tooltip.svg" alt="" />
          </tooltip>
        </div>
        <span>{{ methodDisplayName }}</span>
      </div>
    </div>

    <div class="fee-group">
      <evm-fee
        [txParams]="currentTxParams"
        [symbol]="neoXNetwork.symbol"
        [siteNeoXFeeInfo]="siteNeoXFeeInfo"
        [place]="'dapp'"
        (returnFee)="updateEvmFee($event)"
      >
      </evm-fee>
      <p class="value-rate">
        {{ rate.fee | numberFixed : 2 }} {{ rate.rateCurrency }}
      </p>
    </div>
    <evm-custom-nonce
      [default]="nonceInfo?.nonce"
      (changeNonceEvent)="changeNonce($event)"
    ></evm-custom-nonce>

    <evm-gas-error
      *ngIf="insufficientFunds"
      [networkName]="neoXNetwork.name"
      [symbol]="neoXNetwork.symbol"
    ></evm-gas-error>
    <evm-pending-warning
      *ngIf="nonceInfo?.pendingTxs"
      [count]="nonceInfo.pendingTxs"
    ></evm-pending-warning>
  </div>

  <div class="content data" *ngIf="tabType === 'data'">
    <p class="title">
      FUNCTION TYPE:
      <span class="value">{{ tokenData?.name }}</span>
    </p>
    <div class="hex-label">
      HEX DATA: <span class="value">{{ hexDataLength }} BYTES</span>
      <copy [value]="currentTxParams.data">
        <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
      </copy>
    </div>
    <p class="json-box serialize">{{ currentTxParams.data }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: !nonceInfo || insufficientFunds }"
      (click)="confirm()"
    >
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
