.container .content .request-info .request-info-item {
  .edit-amount {
    display: flex;
    align-items: center;
    gap: 4px;
    img.edit {
      cursor: pointer;
    }
    .asset-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4px;
      background: var(--box-color);
      border-radius: 12px;
      padding: 4px 6px;
    }
  }
}
