<div class="asset-item" *ngFor="let asset of nfts" [routerLink]="['/popup/nfts', asset.contract]">
    <div class="avatar-box">
        <img [src]="asset?.info?.image" appErrorSrc alt="">
    </div>
    <div class="item-middle">
        <div class="asset-name">
            <span class="long">{{asset.name}}</span>
            (<span class="short">{{ asset.symbol }}</span>)
        </div>
        <p class="asset-id">{{asset?.contract}}</p>
    </div>
    <div class="balance">{{ asset?.balance || 0 }}</div>
</div>

<p *ngIf="!nfts || nfts?.length===0" class="no-data">
    {{ 'noData' | translate | async }}
</p>
