<div class="loading-box" *ngIf="loading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip" *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</p>
  </div>
</div>

<div class="container">
  <div class="header">
    <div class="invoke-type">· SIGNMESSAGE</div>
    <p class="title">{{ "thSignTitle" | translate | async }}</p>
    <p class="account"><img [avatar]="address" />{{ address | longStr : 10 }}</p>
  </div>
  <div class="content">
    <p class="hex-label">{{ "message" | translate | async }}</p>
    <p class="json-box serialize" *ngIf="jsonMessage">{{ jsonMessage | json }}</p>
    <p class="json-box serialize" *ngIf="!jsonMessage">{{ message }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="cancel()">
      {{ "cancel" | translate | async }}
    </button>
    <button class="confirm" (click)="signature()">
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
