<section class="head">
    <div class="content">
        <img class="avatar" [src]="iconSrc" alt="">
        <p class="request">{{ 'thSignTitle' | translate | async}}</p>
        <div class="account">
            <div class="account-name">
                <p class="name-tip">{{ 'account' | translate | async}}</p>
                <div class="name-detail">
                    <img [avatar]="wallet.accounts[0].address" alt="">&nbsp;<span class="name">{{ wallet.name }}</span>
                </div>
            </div>
            <div class="account-value">
                <p class="value-tip">{{ 'balance' | translate | async}}</p>
                <p class="value-detail">
                    <span class="amount">{{ balance }}</span>&nbsp;<span class="type">NEO</span>
                </p>
            </div>
        </div>
    </div>
</section>

<section class="loading">{{ 'signing' | translate | async}}</section>

<section class="message">
    <div class="item">
        <p class="item-tip">{{ 'message' | translate | async}}</p>
        <p class="item-value">Hi</p>
    </div>
</section>

<section class="submit-group">
    <div class="button-group">
        <button mat-button class="cancel" (click)="cancel()">{{ 'cancel' | translate | async}}</button>
        <button mat-button class="confirm" (click)="signature()">{{ 'signature' | translate | async}}</button>
    </div>
</section>
