@import './light';
@import './dark';

.head {
    width: 100%;
    padding: 57px 15px 35px 15px;

    .content {
        width: 345px;
        height: 147px;
        border-radius: 10px;
        position: relative;
        padding: 20px 22px 12px 22px;

        .avatar {
            border-radius: 6px;
            width: 49px;
            height: 49px;
            position: absolute;
            top: -33px;
            left: 50%;
            margin-left: -24px;
        }

        .request {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            line-height: 50px;
        }

        .account {
            padding: 0 14px;

            .account-name {
                float: left;
                text-align: left;

                .name-detail {
                    height: 24px;
                    display: inline-flex;
                    align-items: center;

                    img {
                        display: inline-block;
                        width: 24px;
                        height: 24px;
                        border-radius: 12px;
                    }
                }
            }

            .name-tip,
            .value-tip {
                width: 55px;
                height: 17px;
                line-height: 17px;
                border-radius: 4px;
                font-size: 12px;
                font-weight: 500;
                text-align: center;
                margin-top: 15px;
                margin-bottom: 10px;
            }

            span.name,
            span.amount {
                font-size: 15px;
                font-weight: bold;
            }

            .account-value {
                float: right;
                text-align: left;

                .value-detail {
                    height: 24px;
                    line-height: 24px;
                }

                .type {
                    font-size: 12px;
                    font-weight: bold;
                }
            }
        }

    }
}

.loading {
    height: 20px;
    line-height: 20px;
    width: 100%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
}

.message {
    padding: 0 15px;

    .item {
        padding: 10px 0;
        margin-bottom: 10px;
        font-weight: bold;

        .item-tip {
            font-size: 15px;
            line-height: 40px;
            padding: 0 10px;
        }

        .item-value {
            font-size: 14px;
            padding: 0 10px;
        }
    }
}

.submit-group {
    height: 40px;
    position: fixed;
    bottom: 30px;
    left: 27px;
    right: 27px;

    .button-group {
        width: 100%;
        position: relative;
    }

    button {
        width: 150px;
        height: 40px;
        border-radius: 4px;
    }

    button.confirm {
        position: absolute;
        right: 0;
    }
}
