<div class="loading-box" *ngIf="loading">
  <div>
    <mat-spinner strokeWidth="10"></mat-spinner>
  </div>
  <h3 *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</h3>
</div>
<div class="transfer-confirm-container">
  <div class="container">
    <div class="mat-toolbar-fixed no-third-party-toolbar">
      <mat-toolbar color="primary">
        <span class="popup-nav-logo">
          <span class="popup-nav-logo-img popup-nav-logo-title-img"></span>
        </span>
        <button mat-stroked-button class="popup-nav-network">
          <span class="network-name">{{ n2Network.name }}</span>
          <span class="popup-nav-network-icon"></span>
        </button>
        <img
          class="close"
          (click)="cancel()"
          src="/assets/images/dialog/close.png"
          alt=""
        />
      </mat-toolbar>
    </div>
    <div class="transfer-confirm-body">
      <mat-toolbar>
        <div>
          <img class="avatar" [avatar]="address" />
          <span>{{ address }}</span>
        </div>
      </mat-toolbar>
      <div class="transfer-detail-container">
        <div class="type-box">
          <span></span>
          <span>SIGNMESSAGE</span>
        </div>
        <div class="asset-info-box">
          {{ "thSignTitle" | translate | async }}
        </div>
        <div class="detail-tab-content">
          <p class="item-tip">{{ "message" | translate | async }}</p>
          <p class="item-value">{{ message }}</p>
        </div>
        <hr />
        <div class="btn-box">
          <button mat-flat-button (click)="cancel()">
            {{ "cancel" | translate | async }}
          </button>
          <button mat-flat-button (click)="signature()" color="primary">
            {{ "yes" | translate | async }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
