<section class="container">
  <div class="tab">
    <span
      [ngClass]="{ active: tabType === 'create' }"
      (click)="tabType = 'create'"
      >{{ "create" | translate | async }}</span
    >
    <span
      [ngClass]="{ active: tabType === 'import' }"
      (click)="tabType = 'import'"
      >{{ "import" | translate | async }}</span
    >
  </div>
  <div class="content">
    <wallet-create
      *ngIf="tabType === 'create'"
      (submit)="updateLocalWallet($event, 0)"
    ></wallet-create>
    <wallet-import
      *ngIf="tabType === 'import'"
      (submit)="updateLocalWallet($event, 1)"
    ></wallet-import>
  </div>
</section>
