<section class="container">
  <div class="tab">
    <span
      [ngClass]="{ active: tabType === 'create' }"
      (click)="tabType = 'create'"
      >{{ "create" | translate | async }}</span
    >
    <span
      [ngClass]="{ active: tabType === 'import' }"
      (click)="tabType = 'import'"
      >{{ "import" | translate | async }}</span
    >
  </div>
  <div class="content">
    <wallet-create
      [hidden]="tabType === 'import'"
      [password]="password"
      (submit)="updateLocalWallet($event, true)"
    ></wallet-create>
    <wallet-import
      [hidden]="tabType === 'create'"
      [password]="password"
      (submit)="updateLocalWallet($event, false)"
      (submitFile)="handleFileWallet($event)"
    ></wallet-import>
  </div>
</section>
