@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.popup-wallet {
    width: 100%;
    min-height: 100%;
    padding-bottom: 30px;
    background: map-get($neo-line-default, 500);

    .triangle {
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 8px solid white;

        &.wallet-create {
            margin-left: calc(25% - 12px);
        }

        &.wallet-import {
            margin-left: calc(75% - 12px);
        }
    }

    .tab-container {
        width: 100%;
        height: 100%;
        background-color: white;
        border-radius: 20px 20px 0px 0px;
        padding-top: 35px;

        .title {
            margin-left: 30px;
            margin-bottom: 12px;
            color: #434543;
        }

        .popup-wallet-input-body {
            width: calc(100% - 40px);
            border-radius: 10px;
            margin-left: 20px;
            margin-right: 20px;
            margin-top: 8px;
            font-size: 15px;
        }

        img {
            margin-right: 20px;
            top: -5px;
            margin-left: 10px;
        }

        button {
            span {
                display: inline-block;
                width: 17px;
                height: 17px;
                margin-top: -3px;
                @include bg($img-show-pwd);
            }

            span.hide-pwd {
                @include bg($img-hide-pwd);
            }
        }
    }
}


@mixin button-common {
    width: calc(100% - 40px);
    height: 50px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 500;
}

.popup-wallet-body-submit {
    margin-top: 60px;
    margin-bottom: 15px;
    @include button-common;
}

.popup-wallet-body-cancel {
    @include button-common;
    background: map-get($neo-line-default, 200);
    color: map-get($neo-line-default, 500);
}


::ng-deep {
    .popup-wallet {
        .mat-form-field-underline {
            display: none;
        }

        .mat-tab-group {
            width: 100%;
            height: 100%;
            position: absolute;

            .mat-tab-header {
                border: none;

                .mat-tab-label {
                    width: 50%;
                    color: white;
                    opacity: 80%;
                    font-size: 18px;

                    .mat-tab-label-active {
                        opacity: 100%;
                    }
                }
            }

            .mat-tab-body-wrapper {
                height: 100%;
                flex-grow: 1;

                .mat-form-field-label {
                    color: #CDD1D9;
                }

                .mat-form-field-prefix {
                    top: -5px;
                }

                .mat-form-field-appearance-fill .mat-form-field-flex {
                    border-radius: 10px;
                    background: #F9F9F9;
                }

                .popup-wallet-input-body {
                    button {
                        top: -8px;
                    }
                }
            }

        }
    }
}
