@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.popup-wallet {
    width: 100%;
    min-height: 100%;
    padding-bottom: 30px;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0);
    background: linear-gradient(0deg, rgba(113,120,221,1), rgba(81,91,227,1));

    .popup-wallet-nav {
        width: 100%;
        height: 74px;
        overflow: hidden;
        .back-btn {
            float: left;
            width: 10px;
            height: 18px;
            @include bg($img-back);
            margin-top: 27px;
            margin-left: 22px;

            &:hover {
                cursor: pointer;
            }
        }
        .popup-wallet-nav-item {
            width: 40px;
            margin-top: 23px;
            overflow: hidden;

            .popup-wallet-nav-item-link {
                width: 100%;
                text-align: center;
                margin-bottom: 6px;
                font-size: 3.1vw;
                color: map-get($neo-line-default, 50);

                span.hibernate {
                    color: map-get($colors, c2c6f5);
                }
            }

            .popup-wallet-nav-item-block {
                height: 4px;
                background-color: map-get($neo-line-default, 50);
            }

        }

        .popup-wallet-nav-item-create {
            float: left;
            margin-left: 100px;
        }

        .popup-wallet-nav-item-import {
            float: right;
            margin-right: 100px;
        }
    }
}

