@import "src/styles/popup-default.scss";

section.container {
  height: 100%;
  .tab {
    background: #e7efef;
    span {
      display: inline-block;
      width: 50%;
      height: 44px;
      line-height: 44px;
      font-family: NeverMind-Medium;
      font-size: 16px;
      color: $sub-title-color;
      text-align: center;
      cursor: pointer;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -8px;
        width: 16px;
        height: 3px;
        border-radius: 2px;
        background: $title-color;
        display: none;
      }
      &.active {
        color: $title-color;
        &::after {
          display: block;
        }
      }
    }
  }
  .content {
    height: calc(100% - 44px);
    overflow: scroll;
  }
}
