.container {
  padding: 0 24px;
  .receive-content {
    width: 194px;
    height: 194px;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 4px;
    padding: 12px;
    background: url("/assets/images/transfer/receive-border.svg") center center
      no-repeat;
  }
  .tip1 {
    text-align: center;
    font-size: 12px;
    font-family: NeverMind-Regular;
    line-height: 16px;
    color: var(--tip-color);
    margin-top: 12px;
    .network {
      color: var(--theme-color);
    }
  }
  .tip2 {
    text-align: center;
    font-size: 13px;
    line-height: 17px;
    color: var(--tip-color);
  }
  .address {
    width: 100%;
    margin-top: 27px;
    padding: 10px;
    word-wrap: break-word;
    text-align: center;
    border-radius: 8px;
    background: var(--message-box-color);
  }
  button {
    width: 100%;
    margin-top: 24px;
  }
}
