

.container {
  padding: 0 24px;
  .receive-content {
    width: 194px;
    height: 194px;
    margin: 0 auto;
    margin-top: 32px;
    border-radius: 4px;
    padding: 12px;
    background: url("/assets/images/transfer/receive-border.svg") center center
      no-repeat;
  }
  .address {
    width: 100%;
    height: 42px;
    margin-top: 32px;
    line-height: 42px;
    text-align: center;
    border-radius: 8px;
    background: var(--box-color);
    font-family: NeverMind-Regular;
  }
  button {
    width: 100%;
    margin-top: 24px;
  }
}
