@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.title {
    font-size: 14px;
    font-weight: 500;
    color: map-get($colors, 333333);
}

.token {
    height: 29px;
    width: 100%;
    display: flex;
    margin: 15px 0;

    .name,
    .value {
        display: inline-block;
        width: 50%;
        display: inline-flex;
        align-items: center;
    }

    .avatar {
        display: inline-block;
        width: 29px;
        height: 29px;
        border-radius: 3px;
        margin-right: 12px;
        // background: rgba(73, 73, 73, 1);
    }

    .name .currency-group {
        width: calc(100% - 41px);
    }

    .name .currency {
        font-size: 13px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        color: map-get($colors, 282828);
    }

    .value {
        font-size: 12px;
        font-weight: 500;
        padding-left: 10px;
        overflow: hidden;
        color: map-get($colors, 333333);

        .amount {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}

.button-group button {
    width: 107px;
    &:first-child {
        margin-right: $space-xl;
    }
}
