<div class="content">
  <div class="my-account">
    {{ "myAccount" | translate | async }}
  </div>
  <button class="search">
    <img class="search" theme src="assets/images/common/search.svg" />
    <input
      [placeholder]="'Search' | translate | async"
      (input)="searchWallet($event)"
      type="text"
    />
  </button>
  <div class="wallet-list">
    <div class="list-item" *ngFor="let list of searchWalletRes">
      <p class="list-title">
        <span>{{ list.title }}</span>
        <span class="dropdown" (click)="list.expand = !list.expand">
          <img
            theme
            [ngClass]="{ expand: list.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </p>
      <ul [hidden]="!list.expand">
        <li
          *ngFor="let item of list.walletArr; index as index"
          (click)="selectAccount(item, list.chain)"
          [ngClass]="{
            active: wallet.accounts[0].address === item.accounts[0].address
          }"
        >
          <span class="select"></span>
          <div
            class="avatar-box"
            [ngClass]="{ ledger: item.accounts[0]?.extra?.ledgerSLIP44 }"
          >
            <img class="avatar" [avatar]="item.accounts[0].address" />
            <img
              *ngIf="item.accounts[0]?.extra?.ledgerSLIP44"
              class="usb"
              src="/assets/images/ledger/ledger-avatar.png"
              alt=""
            />
          </div>
          <div>
            <p class="name">{{ item.name }}</p>
            <p class="balance" *ngIf="chainType === list.chain">
              {{ addressBalances[item.accounts[0].address] }}
              {{ list.chain === "NeoX" ? neoXNetwork.symbol : "NEO" }}
            </p>
          </div>
          <img
            theme
            (click)="openMoreModal($event, item, list.chain)"
            class="more"
            src="/assets/images/common/more.svg"
            alt=""
          />
        </li>
      </ul>
    </div>
  </div>
  <button class="confirm pop-ups add-wallet" (click)="showAddWallet()">
    {{ "AddAccountOrHardwareWallet" | translate | async }}
  </button>
  <section
    class="pop-ups-veil"
    *ngIf="moreModalWallet"
    (click)="$event.stopPropagation(); moreModalWallet = undefined"
  ></section>
  <ul #moreModalDom [hidden]="!moreModalWallet" class="pop-ups-menu">
    <li
      (click)="
        navigate(
          '/popup/account?address=' +
            moreModalWallet.accounts[0].address +
            '&chainType=' +
            moreModalChainType
        )
      "
    >
      <img theme src="assets/images/account/home-account-detail.svg" alt="" />{{
        "accountDetails" | translate | async
      }}
    </li>
    <li
      *ngIf="!moreModalWallet?.accounts?.[0].extra?.ledgerSLIP44"
      (click)="exportWallet()"
    >
      <img theme src="assets/images/avatar-menu/wallet-export.svg" alt="" />{{
        "exportWallet" | translate | async
      }}
    </li>
    <li *ngIf="moreModalCanRemove" (click)="removeAccount()">
      <img
        class="delete"
        src="assets/images/account/home-delete.svg"
        alt=""
      />{{ "removeAccount" | translate | async }}
    </li>
  </ul>
</div>
