@import 'src/styles/popup-default';
@import 'src/styles/theme-default';

.veil {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: transparent;
    z-index: 999999;
}

.nav {
    height: 65px;
    background-color: #06ccab;
    position: relative;
    .content {
        height: 30px;
        padding-top: 5px;
        font-size: 20px;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        align-items: center;

        img {
            height: 30px;
            margin-right: 11px;
            cursor: pointer;
        }
    }
    .divide {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 15px;
        background: #ffffff;
        border-radius: 15px 15px 0px 0px;
    }
}

.sub-nav {
    position: relative;
    .asset-logo-box {
        position: absolute;
        top: -30px;
        left: 50%;
        margin-left: -35px;
        width: 70px;
        height: 70px;
        border: 0.5px solid #efefef;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        .asset-logo {
            height: 35px;
            max-width: 40px;
        }
    }
    img.nav-img {
        position: absolute;
        height: 20px;
        right: 25px;
        top: 5px;
        cursor: pointer;
    }
    .sub-menu {
        position: absolute;
        right: 10px;
        top: 38px;
        width: 220px;
        background: #ffffff;
        box-shadow: 1px 4px 9px 1px rgba(0, 0, 0, 0.14);
        border-radius: 10px;
        padding: 10px 0;
        z-index: 999999;
        li {
            padding: 15px 30px;
            font-size: 16px;
            color: #444644;
            list-style: none;
            cursor: pointer;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
            &:hover {
                color: #07ccab;
            }
        }
    }
}

.container {
    height: calc(100% - 120px);
    margin-top: 55px;
    overflow: scroll;
    .asset-balance {
        font-size: 30px;
        color: #444644;
        text-align: center;
        width: 100%;
        padding: 0px 20px;
        line-height: 30px;
        overflow-wrap: break-word;
    }
    .asset-money {
        font-size: 16px;
        color: #a0a8be;
        text-align: center;
        width: 100%;
        padding: 0px 20px;
        margin-top: 14px;
        overflow-wrap: break-word;
    }

    .transaction-btn-container {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        button {
            width: 120px;
            height: 45px;
            border-radius: 22px;
            img {
                height: 18px;
                width: 18px;
                margin-right: 10px;
            }
            &:nth-child(1) {
                border-color: map-get($neo-line-default, 500);
            }
            &:nth-child(2) {
                margin-left: 20px;
            }
        }
    }
    .tx-title {
        font-size: 15px;
        font-weight: 500;
        color: #444644;
        margin-top: 25px;
        padding-bottom: 15px;
        padding-left: 20px;
        background: #fff;
        z-index: 99999;
        text-align: left;
        position: sticky;
        top: 0px;
        border-bottom: 1px solid #f2f2f2;
    }
}
