<div class="container">
  <p class="title">
    {{
      chainType === "Neo2" ? "Neo Legacy address list" : "Neo N3 address list"
    }}
  </p>
  <ul>
    <li
      *ngFor="let item of walletArr; let i = index"
      [ngClass]="{
        active: selectedWallet.address === item.accounts[0].address
      }"
      (click)="handleSelectWallet(item)"
    >
      <span class="selected"></span>
      <img class="avatar" [avatar]="item.accounts[0].address" />
      <div class="account-detail">
        <p class="label">
          {{ item.name }}
        </p>
        <p class="address">
          {{ item.accounts[0].address | longStr : 10 }}
        </p>
      </div>
    </li>
  </ul>
  <div *ngIf="!walletArr.length" class="no-wallet">
    <div class="detail">{{ "NoWallet" | translate | async }}</div>
    <button class="cancel" (click)="to('create')">
      {{ "createWallet" | translate | async }}
    </button>
    <button class="confirm" (click)="to('import')">
      {{ "importWallet" | translate | async }}
    </button>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="refuse()">
      {{ "refuse" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{
        disabled: !selectedWallet.address || walletArr.length === 0
      }"
      (click)="confirm()"
    >
      {{ "done" | translate | async }}
    </button>
  </div>
</div>
