

.container {
  padding-top: 24px;
  .title {
    font-family: NeverMind-DemiBold;
    font-size: 18px;
    padding: 0 24px;
  }
  ul {
    height: 400px;
    overflow-y: scroll;
    padding-top: 10px;
    &::-webkit-scrollbar {
      display: block;
    }
    li {
      display: flex;
      align-items: center;
      padding: 15px 24px;
      cursor: pointer;
      &:hover {
        background: var(--hover-color);
      }
      &:first-child {
        margin-top: 0;
      }
      &.active .selected {
        border: none;
        background: url("assets/images/common/selected-account.svg") center
          center no-repeat;
      }
      .selected {
        display: inline-block;
        width: 18px;
        height: 18px;
        border-radius: 4px;
        border: 1px solid var(--tip-color);
      }
      .avatar {
        width: 40px;
        height: 40px;
        margin-left: 16px;
        margin-right: 12px;
      }
      .label {
        font-size: 16px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .address {
        font-family: NeverMind-Regular;
        color: var(--sub-title-color);
        margin-top: 8px;
      }
    }
  }
  .no-wallet {
    height: 400px;
    padding: 30px 24px;
    text-align: center;
    .detail {
      color: var(--tip-color);
    }
    button {
      width: 100%;
      margin-top: 16px;
      &.cancel {
        margin-top: 24px;
      }
    }
  }
  .btn-group {
    padding: 0 24px;
    padding-top: 16px;
    button {
      width: calc(50% - 12px);
      &.cancel {
        margin-right: 24px;
      }
    }
  }
}
