<div class="loading" *ngIf="isLoading">{{ "loading" | translate | async }}</div>
<div
  class="asset-item"
  *ngFor="let asset of myAssets"
  [routerLink]="['/popup/asset', asset.asset_id]"
>
  <div class="asset-logo">
    <img [assetId]="asset?.asset_id" appErrorSrc alt="" />
  </div>
  <div class="item-middle">{{ asset?.symbol }}</div>
  <div class="item-right">
    <p class="balance">{{ asset?.balance || "0" }}</p>
    <p class="rate" *ngIf="asset?.rateBalance && asset?.rateBalance != 0">
      {{ asset?.rateBalance | numberFixed : 2 }}&nbsp;{{ rateCurrency }}
    </p>
  </div>
</div>
