@import "src/styles/popup-default";

.loading {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  color: #b0b6be;
}
.asset-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $title-color;
  padding: 16px 24px;
  cursor: pointer;
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    background: $line-color;
  }
  &:hover {
    background: $hover-color;
  }
  .avatar-box {
    width: 34px;
    height: 34px;
    padding: 6px;
    border: 0.5px solid $background-color;
    border-radius: 50%;
    img {
      height: 22px;
      width: 22px;
    }
  }
  .name {
    font-family: NeverMind-Medium;
    font-size: 14px;
    color: $title-color;
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left: 12px;
  }
  .right {
    max-width: 150px;
    padding-left: 10px;
    text-align: right;
    .amount,
    .rate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .amount {
      font-family: NeverMind-Medium;
      font-size: 16px;
      color: $title-color;
    }
    .rate {
      margin-top: 6px;
      font-family: NeverMind-Regular;
      font-size: 12px;
      color: $tip-color;
    }
  }
}
