@import 'src/styles/theme-default';
@import 'src/styles/popup-default';


.loading-box {
    background: rgba(0, 0, 0, 0.1);
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    padding-top: 30%;
    text-align: center;

    div {
        display: inline-block;
        margin: auto;
    }

    mat-spinner {
        margin: 0 auto；
    }

    h3 {
        margin-top: 15px;
    }

}

.invoke-body {
    padding: 15px;

}

p {
    word-wrap:break-word;
    font-size: 14px;
}

.content {
    padding: 12px;
    font-size: 12px;
}
