<div class="loading-box" *ngIf="loading">
    <div>
        <mat-spinner strokeWidth="10"></mat-spinner>
    </div>
    <h3>{{ loadingMsg }}</h3>
</div>
<div class="invoke-body">
    <div class="script-hash-box">
        <p>invokeArgs: </p>
        <p class="content">{{ invokeArgs | json }}</p>
    </div>
    <div class="args-box">
        <p>fee: </p>
        <p class="content">{{ fee }}</p>
    </div>
    <div class="args-box">
        <p>broadcastOverride: </p>
        <p class="content">{{ broadcastOverride }}</p>
    </div>
    <div class="args-box">
        <p>assetIntentOverrides: </p>
        <p class="content">{{ assetIntentOverrides | json }}</p>
    </div>
</div>
