<div class="body">
    <div class="nav">
        <span routerLink="/wallet/create" routerLinkActive="active">{{ 'create' | translate | async}}</span>
        <div class="import-box" routerLink="/wallet/import" routerLinkActive="active">
            <span>{{ 'import' | translate | async}}</span>
            <button mat-button class="import-type" (click)="$event.stopPropagation()" [matMenuTriggerFor]="menu">
                {{ importType }}
                <img src="/assets/images/net_dropdown_black.png" alt="">
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="importTypeChoose('PrivateKey')">Private Key</button>
                <button mat-menu-item (click)="importTypeChoose('EncryptedKey')">Encrypted Key</button>
                <button mat-menu-item (click)="importTypeChoose('NEP2File')">NEP2 File</button>
            </mat-menu>

        </div>
    </div>
    <router-outlet></router-outlet>
</div>
