<div class="container">
  <div class="header transfer">
    <div class="invoke-type">· TRANSACTION REQUEST</div>
    <div class="address-group contract-interaction">
      <copy [value]="txParams?.from">
        <div class="item">
          <img class="avatar" [avatar]="txParams?.from" />
          <div class="name-group">
            <p class="name">{{ fromWalletName }}</p>
            <p>{{ txParams?.from | longStr : 10 }}</p>
          </div>
        </div>
      </copy>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <div class="content details" *ngIf="tabType === 'details'">
    <evm-estimate-error *ngIf="estimateGasError"></evm-estimate-error>

    <div class="request-info">
      <div class="request-info-item">
        <span class="label">{{ "Network" | translate | async }}</span>
        <span>{{ neoXNetwork.name }}</span>
      </div>
      <div class="request-info-item">
        <span class="label">{{ "RequestFrom" | translate | async }}</span>
        <span>{{ locationOrigin }}</span>
      </div>
      <div *ngIf="txParams?.to" class="request-info-item">
        <span class="label">{{ "InteractingWith" | translate | async }}</span>
        <copy [value]="txParams?.to">
          <span class="to-address">
            {{ txParams?.to | longStr : 6 }}
            <img theme src="assets/images/common/copy.svg" />
          </span>
        </copy>
      </div>
      <div class="request-info-item" *ngIf="contractMethodData?.name">
        <span class="label">{{ "Method" | translate | async }}</span>
        <span>{{ contractMethodData?.name }}</span>
      </div>
      <div class="request-info-item" *ngIf="getShowAmount()">
        <span class="label">{{ "Amount" | translate | async }}</span>
        <div>
          <p>{{ getShowAmount() }} {{ neoXNetwork?.symbol }}</p>
          <p class="rate">
            {{ rate.amount | numberFixed : 2 }} {{ rate.rateCurrency }}
          </p>
        </div>
      </div>
    </div>

    <div class="fee-group">
      <evm-fee
        [txParams]="txParams"
        [symbol]="neoXNetwork.symbol"
        [siteNeoXFeeInfo]="siteNeoXFeeInfo"
        [place]="'dapp'"
        (returnFee)="updateEvmFee($event)"
      >
      </evm-fee>
      <p class="value-rate">
        {{ rate.fee | numberFixed : 2 }} {{ rate.rateCurrency }}
      </p>
    </div>

    <div class="total-fee" *ngIf="amount">
      <p class="label">{{ "TOTAL" | translate | async }}</p>
      <p class="label bold">
        {{ "amount" | translate | async }} + {{ "GASFEE" | translate | async }}
      </p>
      <p class="value">{{ getEvmTotalData() }} {{ neoXNetwork?.symbol }}</p>
      <p class="value-rate">
        {{ rate.total | numberFixed : 2 }} {{ rate.rateCurrency }}
      </p>
    </div>

    <evm-custom-nonce
      [default]="nonceInfo?.nonce"
      (changeNonceEvent)="changeNonce($event)"
    ></evm-custom-nonce>

    <evm-gas-error
      *ngIf="insufficientFunds"
      [networkName]="neoXNetwork.name"
      [symbol]="neoXNetwork.symbol"
    ></evm-gas-error>
    <evm-pending-warning
      *ngIf="nonceInfo?.pendingTxs"
      [count]="nonceInfo.pendingTxs"
    ></evm-pending-warning>
  </div>
  <div class="content data" *ngIf="tabType === 'data'">
    <p class="title">
      FUNCTION TYPE:
      <span class="value">{{
        contractMethodData
          ? contractMethodData?.fourByteSig
          : ("contractInteraction" | translate | async)
      }}</span>
    </p>
    <pre class="json-box serialize" *ngIf="contractMethodData?.params">{{
      contractMethodData?.params | json
    }}</pre>
    <div class="hex-label">
      HEX DATA: <span class="value">{{ hexDataLength }} BYTES</span>
      <copy [value]="txParams.data">
        <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
      </copy>
    </div>
    <p class="json-box serialize">{{ txParams.data }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: !nonceInfo || insufficientFunds }"
      (click)="confirm()"
    >
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
