<div class="container">
  <div class="header transfer">
    <p class="origin">{{ locationOrigin }}</p>
    <div class="type">
      <span class="address">{{ txParams?.to | longStr : 5 }}</span
      >:
      {{
        contractMethodData
          ? contractMethodData?.name
          : ("contractInteraction" | translate | async)
      }}
    </div>
    <div class="asset">
      <token-logo
        customClass="small"
        [assetId]="ETH_SOURCE_ASSET_HASH"
        chainType="NeoX"
        [symbol]="neoXNetwork?.symbol"
        [neoXChainId]="neoXNetwork?.chainId"
      ></token-logo>
      <p class="amount" *ngIf="getShowAmount()">
        {{ getShowAmount() }} {{ neoXNetwork?.symbol }}
      </p>
    </div>
    <div class="address-group">
      <copy [value]="txParams?.from">
        <div class="item">
          <img class="avatar" [avatar]="txParams?.from" />
          <span>{{ txParams?.from | longStr : 4 }}</span>
        </div>
      </copy>
      <img theme src="assets/images/third-party/transfer-arrow.svg" alt="" />
      <copy [value]="txParams?.to">
        <div class="item">
          <span class="contract-avatar">?</span>
          <span>{{ txParams?.to | longStr : 4 }}</span>
        </div>
      </copy>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <div class="content details" *ngIf="tabType === 'details'">
    <evm-estimate-error *ngIf="estimateGasError"></evm-estimate-error>

    <evm-fee
      *ngIf="neoXFeeInfo"
      [transferToAddress]="toAddress"
      [fromAddress]="fromAddress"
      [transferAmount]="amount"
      [symbol]="neoXNetwork.symbol"
      [customNeoXFeeInfo]="neoXFeeInfo"
      [place]="'dapp'"
      (returnFee)="updateEvmFee($event)"
    >
    </evm-fee>

    <div class="row evm" *ngIf="amount">
      <div class="label">
        <p>{{ "TOTAL" | translate | async }}</p>
        <p class="label tip">
          {{ "amount" | translate | async }} +
          {{ "GASFEE" | translate | async }}
        </p>
      </div>
      <p class="value">{{ getEvmTotalData() }} {{ neoXNetwork?.symbol }}</p>
    </div>
    <div class="nonce">
      {{ "customNonce" | translate | async }}:
      <input
        type="text"
        [placeholder]="nonceInfo?.nonce ?? ''"
        [(ngModel)]="customNonce"
        oninput="value=value.replace(/[^\d]/g,'')"
      />
    </div>

    <evm-gas-error
      *ngIf="insufficientFunds"
      [networkName]="neoXNetwork.name"
      [symbol]="neoXNetwork.symbol"
    ></evm-gas-error>
    <evm-pending-warning
      *ngIf="nonceInfo?.pendingTxs"
      [count]="nonceInfo.pendingTxs"
    ></evm-pending-warning>
  </div>
  <div class="content data" *ngIf="tabType === 'data'">
    <p class="title">
      FUNCTION TYPE:
      <span class="value">{{
        contractMethodData
          ? contractMethodData?.fourByteSig
          : ("contractInteraction" | translate | async)
      }}</span>
    </p>
    <pre class="json-box serialize" *ngIf="contractMethodData?.params">{{
      contractMethodData?.params | json
    }}</pre>
    <p class="hex-label">HEX DATA: {{ hexDataLength }} BYTES</p>
    <p class="json-box serialize">{{ txParams.data }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: insufficientFunds }"
      (click)="confirm()"
    >
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
