<div class="container">
  <div class="header transfer">
    <p class="origin">{{ locationOrigin }}</p>
    <div class="type">
      <span class="address">{{ txParams?.to | longStr : 5 }}</span
      >: {{ contractMethodData?.name }}
    </div>
    <div class="asset">
      <div class="asset-logo-box small">
        <img
          [assetId]="ETH_SOURCE_ASSET_HASH"
          chain="NeoX"
          appErrorSrc
          alt=""
        />
      </div>
      <p class="amount" *ngIf="getShowAmount()">
        {{ getShowAmount() }} {{ neoXNetwork?.symbol }}
      </p>
    </div>
    <div class="address-group">
      <div class="item">
        <img class="avatar" [avatar]="txParams?.from" />
        <span>{{ txParams?.from | longStr : 4 }}</span>
      </div>
      <img theme src="assets/images/third-party/transfer-arrow.svg" alt="" />
      <div class="item">
        <span class="contract-avatar">?</span>
        <span>{{ txParams?.to | longStr : 4 }}</span>
      </div>
    </div>
  </div>
  <div class="tabs-container">
    <span
      [class]="{ selected: tabType === 'details' }"
      (click)="tabType = 'details'"
    >
      {{ "details" | translate | async }}
    </span>
    <span [class]="{ selected: tabType === 'data' }" (click)="tabType = 'data'">
      {{ "data" | translate | async }}
    </span>
  </div>
  <div class="content details" *ngIf="tabType === 'details'">
    <div class="warning-tip top" *ngIf="estimateGasError">
      <img src="assets/images/common/warning-red.svg" alt="" />
      {{ "EstimatedFeeError" | translate | async }}
    </div>
    <evm-fee
      *ngIf="neoXFeeInfo"
      [transferToAddress]="toAddress"
      [fromAddress]="fromAddress"
      [transferAmount]="amount"
      [symbol]="neoXNetwork.symbol"
      [customNeoXFeeInfo]="neoXFeeInfo"
      [place]="'dapp'"
      (returnFee)="updateEvmFee($event)"
    >
    </evm-fee>

    <li *ngIf="amount">
      <div class="row evm">
        <div class="label">
          <p>{{ "TOTAL" | translate | async }}</p>
          <p class="label tip">
            {{ "amount" | translate | async }}+{{
              "GASFEE" | translate | async
            }}
          </p>
        </div>
        <p class="value">{{ getEvmTotalData() }} {{ neoXNetwork?.symbol }}</p>
      </div>
    </li>

    <div class="warning-tip bottom" *ngIf="insufficientFunds">
      <img src="assets/images/common/warning-red.svg" alt="" />
      {{ getTranslate() }}
    </div>
  </div>
  <div class="content data" *ngIf="tabType === 'data'">
    <p class="title">
      FUNCTION TYPE:
      <span class="value">{{ contractMethodData?.fourByteSig }}</span>
    </p>
    <pre class="json-box serialize" *ngIf="contractMethodData?.params">{{
      contractMethodData?.params | json
    }}</pre>
    <p class="hex-label">HEX DATA: {{ hexDataLength }} BYTES</p>
    <p class="json-box serialize">{{ txParams.data }}</p>
  </div>
  <div class="btn-group">
    <button class="cancel" (click)="exit()">
      {{ "cancel" | translate | async }}
    </button>
    <button
      class="confirm"
      [ngClass]="{ disabled: insufficientFunds }"
      (click)="confirm()"
    >
      {{ "yes" | translate | async }}
    </button>
  </div>
</div>
