@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 30px;
    color: map-get($colors, 333333);
}

.button-group button {
    width: 107px;
    &:first-child {
        margin-right: $space-xl;
    }
}
