.title {
    min-height: 100px;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    text-align: center;
    margin: 0 10px;
}

.choose-group {
    margin: 0 10px;
    border-top: 1px solid #efefef;
    .item {
        display: inline-block;
        padding: 22px 0;
        width: 50%;
        text-align: center;
        font-size: 17px;
        font-weight: 500;
        cursor: pointer;
        &:first-child {
            border-right: 1px solid #efefef;
        }
        &.cancel {
            color: #afb6be;
        }
        &.ok {
            color: #06ccab;
        }
    }
}
