.title {
  font-size: 14px;
  line-height: 18px;
  padding: 32px 24px;
  color: var(--title-color);
}

.choose-group {
  padding: 0 24px 24px;
  button {
    width: calc(50% - 12px);
    &.cancel {
      margin-right: 24px;
    }
  }
}
