<div class="balance flex-y">
    <div class="manage flex" routerLink="/asset/manage">
        <span class="flex-1">{{ 'myTokens' | translate | async}}</span>
        <button mat-raised-button>
            <img src="/assets/images/manage_asset.png" alt="" />
        </button>
    </div>
    <div class="balance-list flex-1">
        <balance *ngFor="let item of displayAssets;let i = index"
            [asset]="item"
            [index]='i'
            [rateCurrency]='rateCurrency'
            routerLinkActive="active"
            (delAssetOutput)="delAsset(i)">
        </balance>
    </div>
</div>
<div class="detail flex-1">
    <router-outlet></router-outlet>
</div>
