@import 'src/styles/theme-default';

:host {
    display: flex;
    height: 100%;
}
.balance {
    height: 100%;
    width: 320px;
    margin-right: $space;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        height: 140px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    }
    .manage {
        align-items: center;
        font-size: 20px;
        font-weight: 500;
        color: rgba(48, 52, 51, 1);
        margin-bottom: $space-lg;
        button {
            width: 100px;
            img {
                width: 14px;
                height: 14px;
                vertical-align: middle;
            }
        }
    }
    .balance-list {
        background-color: #fff;
        overflow-y: auto;
        border-radius: 10px;
    }
}
.detail {
    background-color: #fff;
    border-radius: 10px;
}

@media screen and (max-width: 1200px) {
    .balance {
        width: 240px;
    }
}
