<div class="container">
  <p class="title">{{ "YourSecretRecoveryPhrase" | translate | async }}</p>
  <p class="tip">
    {{
      (isConfirmMnemonic
        ? "ConfirmTheSecretRecoveryPhrasesInOrder"
        : "backupSecretRecoveryPhrase"
      )
        | translate
        | async
    }}
  </p>

  <ul *ngIf="!isConfirmMnemonic">
    <li *ngFor="let word of wordList; index as index">
      <span class="order">{{ index + 1 }}</span>
      <p class="value">{{ hideMnemonic ? "***" : word }}</p>
    </li>
  </ul>

  <ul *ngIf="isConfirmMnemonic">
    <li
      *ngFor="let word of confirmWordList; index as index; trackBy: trackByFn"
    >
      <span class="order">{{ index + 1 }}</span>
      <input
        class="value"
        type="text"
        [ngClass]="{ error: confirmListStatus[index] === false }"
        [(ngModel)]="confirmWordList[index]"
        (paste)="onPaste($event, index)"
      />
    </li>
  </ul>

  <div class="operate" *ngIf="!isConfirmMnemonic">
    <p class="item" (click)="hideMnemonic = !hideMnemonic">
      <img
        theme
        [src]="
          hideMnemonic
            ? 'assets/images/login/eye-view.svg'
            : 'assets/images/login/eye-hide.svg'
        "
      />
      {{
        (hideMnemonic ? "showSecretRecoveryPhrase" : "hideSecretRecoveryPhrase")
          | translate
          | async
      }}
    </p>
    <copy [value]="mnemonic">
      <p class="item">
        <img src="assets/images/common/copy-mnemonic.svg" />
        {{ "CopyToClipboard" | translate | async }}
      </p>
    </copy>
  </div>

  <div class="confirm-tip" *ngIf="isConfirmMnemonic">
    {{ 'confirmMnemonicTip' | translate | async }}
  </div>

  <div class="btn-group">
    <button
      *ngIf="!isConfirmMnemonic"
      class="confirm"
      (click)="isConfirmMnemonic = true"
    >
      {{ "notedItDown" | translate | async }}
    </button>
    <button *ngIf="isConfirmMnemonic" (click)="checkMnemonic()" class="confirm">
      {{ "Confirm" | translate | async }}
    </button>
  </div>
</div>
