<div class="loading-box" *ngIf="loading">
    <div>
        <mat-spinner strokeWidth="10"></mat-spinner>
    </div>
    <h3>{{ loadingMsg }}</h3>
</div>
<div class="transfer-confirm-container">
    <div class="container">
        <div class="mat-toolbar-fixed no-third-party-toolbar" >
            <mat-toolbar color="primary">
                <span class="popup-nav-logo">
                    <span class="popup-nav-logo-img popup-nav-logo-title-img"></span>
                </span>
                <button mat-stroked-button class="popup-nav-network" [matMenuTriggerFor]="menu">
                    {{ (net == 'MainNet' ? 'mainNet' : 'testNet') | translate | async }}
                    <span class="popup-nav-network-icon"></span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>{{ (net == 'MainNet' ? 'mainNet' : 'testNet') | translate | async }}</button>
                </mat-menu>
                <img class="close" (click)="exit()" src="/assets/images/dialog/close.png" alt="">
            </mat-toolbar>
        </div>
        <div class="transfer-confirm-body">
            <div class="transfer-detail-container">
                <div class="type-box">
                    <span></span>
                    <span>INVOKE-MULTI</span>
                </div>
                <div class="invoke-title">NEO3 {{ net }} {{ 'ChainSmartContractDeploy' | translate | async }}</div>
                <div class="detail-tab-content">
                    <mat-tab-group mat-align-tabs="center" >
                        <mat-tab [label]="'details' | translate | async">
                            <div class="fee-box detail-item short-detail-item">
                                <p class="label">{{ 'GASFEE' | translate | async }}</p>
                                <div class="fee-info">
                                    <p class="edit" (click)="editFee()" *ngIf="showFeeEdit">{{ 'edit' | translate | async }}</p>
                                    <p class="fee">{{ (showFeeEdit ? fee : 0) | numberFixed }} GAS</p>
                                </div>
                            </div>
                            <hr>
                            <div class="fee-box detail-item short-detail-item">
                                <p class="label">{{ 'SYSTEMFEE' | translate | async }}</p>
                                <div class="fee-info">
                                    <p class="fee">{{ systemFee | numberFixed }} GAS</p>
                                </div>
                            </div>
                            <hr>
                            <div class="fee-box detail-item short-detail-item">
                                <p class="label">{{ 'NETWORKFEE' | translate | async }}</p>
                                <div class="fee-info">
                                    <p class="fee">{{ networkFee | numberFixed }} GAS</p>
                                </div>
                            </div>
                            <hr>
                            <div class="fee-box detail-item short-detail-item">
                                <p class="label">{{ 'TOTAL' | translate | async }}</p>
                                <div class="total-info">
                                    <p class="fee">{{ totalFee | numberFixed }} GAS</p>
                                    <p class="fee-money">{{ totalMoney | numberFixed:2 }} {{ rateCurrency }}</p>
                                </div>
                            </div>
                        </mat-tab>
                        <mat-tab [label]="'data' | translate | async">
                            <div class="data-detail-box">
                                <div class="invoke-details">
                                    <div class="row">
                                        <p class="name">{{ 'YourSigningAddress' | translate | async }}</p>
                                        <p class="value">{{ signAddress }}</p>
                                    </div>
                                    <div *ngFor="let invokeItem of dataJson.invokeArgs">
                                        <div class="row">
                                            <p class="name">{{ 'ContractScriptHash' | translate | async }}</p>
                                            <p class="value">{{ invokeItem.scriptHash }}</p>
                                        </div>
                                        <div class="row">
                                            <p class="name">{{ 'Operation' | translate | async }}</p>
                                            <p class="value">{{ invokeItem.operation }}</p>
                                        </div>
                                        <div class="row">
                                            <p class="name">{{ 'InvocationArguments' | translate | async }}</p>
                                            <div class="value" *ngFor="let item of invokeItem.args">
                                                <p>{{ item.type }} - {{ item.value }}</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" *ngIf="dataJson?.fee!==undefined">
                                        <p class="name">{{ 'Fee' | translate | async }}</p>
                                        <p class="value">{{ dataJson?.fee }}</p>
                                    </div>
                                    <div class="row" *ngIf="dataJson?.broadcastOverride!==undefined">
                                        <p class="name">{{ 'broadcastOverride' | translate | async }}</p>
                                        <p class="value">{{ dataJson.broadcastOverride ? ('Yes' | translate | async) : ('No' | translate | async) }}</p>
                                    </div>
                                    <div class="row">
                                        <p class="name">{{ 'signers' | translate | async }}</p>
                                        <div class="value" *ngFor="let item of dataJson.signers">
                                            <p>account - {{ item.account }}</p>
                                            <p>scopes - {{ item.scopes }}</p>
                                            <p *ngIf="item?.allowedContracts">
                                                allowedContracts - <span *ngFor="let contract of item?.allowedContracts">{{ contract }}, </span>
                                            </p>
                                            <p *ngIf="item?.allowedGroups">
                                                allowedGroups - <span *ngFor="let publicKey of item?.allowedGroups">{{ publicKey }}, </span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <p class="hex-label">HEX</p>
                                <p class="json-box serialize">
                                    {{ txSerialize }}
                                </p>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </div>
                <hr>
                <div class="btn-box">
                    <button mat-flat-button (click)="exit()">{{ 'cancel' | translate | async}}</button>
                    <button mat-flat-button [disabled]="!canSend" (click)="confirm()"  color="primary">{{ 'yes' | translate | async}}</button>
                </div>
            </div>
        </div>
    </div>
</div>
