.title {
  padding: 30px 26px 0;
  font-size: 16px;
  color: #303434;
}

.input-name {
  width: 100%;
  padding: 20px 25px 25px 25px;
  input {
    width: 100%;
    height: 50px;
    background: #fafafa;
    border-radius: 5px;
    font-size: 15px;
    padding: 0 16px;
    border: none;
    &::-webkit-input-placeholder {
      color: #ced2da;
    }
  }
}

.choose-group {
  margin: 0 10px;
  border-top: 1px solid #efefef;
  .item {
    display: inline-block;
    margin: 22px 0;
    width: 50%;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
    &:first-child {
      border-right: 1px solid #efefef;
    }
    &.cancel {
      color: #afb6be;
    }
    &.ok {
      color: #06ccab;
    }
  }
}
