@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.title {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
    color: map-get($colors, 333333);
}

.tip {
    width: 100%;
    input {
        width: 100%;
        padding: 0 12px;
        font-size: 12px;
    }
}

.button-group {
    min-width: 300px;
    button {
        width: 107px;
    }
    button:not(:first-of-type) {
        margin-left: $space-xl;
    }
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    padding: 0 12px;
    font-size: 14px;
    color: map-get($colors, 999999);
}

:host ::ng-deep .mat-form-field-label-wrapper {
    top: -1em;
}
