@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.title {
    color: map-get($colors, 333333);
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 8px;
}

.tip {
    width: 100%;
    input {
        width: 100%;
        padding: 0 12px;
        font-size: 12px;
    }
}

.button-group {
    button {
        width: 107px;
        height: 35px;
        border-radius: 4px;
    }

    button.cancel {
        box-shadow: 0px 4px 8px 0px rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 500);
        margin-right: 32px;
    }

    button.confirm {
        background: linear-gradient(0deg, rgba(81, 91, 227, 1), rgba(113, 120, 221, 1));
        box-shadow: 0px 4px 8px 0px rgba(87, 83, 245, 0.4);
        color: map-get($neo-line-default, 50);
    }
}
:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: map-get($colors, 999999);
    padding: 0 12px;
    font-size: 14px;
}
