.popup-home-tx {
    border-bottom: 1px solid #e5e5e5;

    .head {
        .time {
            color: #999999;
        }
    }

    .content {

        .status-box {
            .tx-type {
                color: #333333;
            }

            .status {
                background: #F2F9F2;
                color: #6AD982;

                &.wait {
                    background: #F9F6F2;
                    color: #F79165
                }

                &.fail {
                    background: #F7F7F7;
                    color: #999999
                }
            }
        }

        .amount-box {

            .asset-amount {
                color: #333333;

                &.activity {
                    color: #7178DD
                }
            }

            .money-amount {
                color: #9FA8BD;
            }
        }
    }

    .info-more-box {
        .more-item {
            background: #F4F7FC;
            .title {
                color: #666666;
            }

            .info {
                color: #333333;
            }
        }
    }


    &:hover {
        background: lightgray;
    }
}
