<div class="popup-home-tx" (click)="$event.stopPropagation();txDetail(txid)">
    <div class="head">
        <span class="time">{{ time * 1000 | date:'yyyy-MM-dd HH:mm' }}</span>
        <img class="more-info-btn" src="/assets/images/down_arrow.png" alt=""
            (click)="$event.stopPropagation();show = !show" [ngClass]="{'active': show}">
    </div>
    <div class="content">
        <img class="tx-type-icon" [src]="value > 0 ? '/assets/images/icon_income.png': '/assets/images/icon_pay.png' "
            alt="">
        <div class="status-box">
            <p class="tx-type">
                {{ value < 0 ? 'Sent' : 'Received' }}
            </p>
            <p class="status" [ngClass]="{'wait': id === -1}">
                {{ id === -1 ? '确认中': '已确认' }}
            </p>
        </div>
        <div class="amount-box">
            <p class="asset-amount">{{ value }} {{ symbol }}</p>
            <p class="money-amount"></p>
        </div>
    </div>
    <div class="info-more-box" [hidden]="!show">
        <div class="id-box more-item">
            <span class="title">交易ID</span>
            <button class="copy-btn" copy="tx-id-copy-{{txid}}" (onCopy)="copied()" (click)="$event.stopPropagation();"
                alt="">
                <img src="/assets/images/tx_copy.png" alt="">
            </button>
            <img src="/assets/images/tx_web.png" (click)="$event.stopPropagation();txDetail(txid)" alt="">
            <textarea class="info" type="text" id="tx-id-copy-{{txid}}" [value]="txid" readonly></textarea>
            <span class="info">{{ txid | limitStr: 20 }}</span>
        </div>
        <!-- <div class="type-box more-item">
            <span class="title">类型</span>
            <span class="info">123123123</span>
        </div>
        <div class="size-box more-item">
            <span class="title">大小</span>
            <span class="info">123123123</span>
        </div> -->
    </div>
    <!-- <div [title]="txid">{{ txid.slice(0, 8) }}...</div>
    <div>{{ value }}</div>
    <div>-</div>
    <div>-</div> -->
</div>
