<div class="title" *ngIf="data.type === 'lang'">{{ 'language' | translate | async }}</div>
<div class="title" *ngIf="data.type === 'currency'">{{ 'currencyUnit' | translate | async }}</div>
<div class="container">
    <div class="item" *ngFor="let item of data.optionGroup" (click)="select(item)" >
        <span *ngIf="data.type === 'lang'">{{item | languageName}}</span>
        <span *ngIf="data.type === 'currency'">{{item}}</span>
        <img src="/assets/images/dialog/selected.png" *ngIf="targetOption === item" alt="">
    </div>
</div>
