@import "src/styles/mat";

section {
  height: calc(100% + 74px);
  margin-top: -74px;
  background: linear-gradient(180deg, #06ccab -12%, #ece5fd 118%);
  .welcome {
    height: 239px;
    padding-top: 94px;
    position: relative;
    img {
      width: 107px;
      position: absolute;
      top: 82px;
      left: 50%;
      transform: translateX(-50%);
    }
    .title {
      font-family: NeverMind-DemiBold;
      font-size: 36px;
      line-height: 44px;
      text-align: center;
      color: #fcfdff;
      :host-context([data-theme-style="dark-theme"]) & {
        color: #303334;
      }
    }
  }
  .bg {
    position: absolute;
    left: -10px;
    top: 221px;
    width: 100%;
    height: 100px;
    transform: rotate(-7deg);
    border-radius: 40px;
    opacity: 0.48;
    background: #fff;
  }
  .wallet-list {
    height: calc(100% - 239px);
    background: var(--body-background-color);
    padding: 24px;
    position: relative;
    .title {
      font-family: NeverMind-Medium;
      font-size: 16px;
      color: var(--title-color);
    }
    .wallet {
      height: 70px;
      border-radius: 4px;
      background: var(--message-box-color);
      margin-top: 20px;
      padding: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border: 1.5px solid var(--message-box-color);
      cursor: pointer;
      overflow: hidden;
      &:hover {
        border-color: var(--theme-color);
        img.arrow {
          transform: rotate(270deg) translate(-1000px);
        }
      }
      img.avatar {
        width: 30px;
        margin-right: 12px;
      }
      .account {
        flex: 1;
        .name {
          max-width: 240px;
          font-size: 16px;
          color: var(--theme-color);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        .address {
          font-family: NeverMind-Regular;
          font-size: 12px;
          color: var(--title-color);
          margin-top: 8px;
        }
      }
      img.arrow {
        filter: drop-shadow(1000px 0 0 var(--theme-color));
        transform: rotate(90deg) translate(-1000px);
        transition: all 0.3s;
      }
    }
    .popup-login-input {
      width: 100%;
      margin-top: 16px;
    }
    .reset {
      font-family: NeverMind-Regular;
      font-size: 14px;
      color: var(--theme-color);
      margin-top: 24px;
      text-align: right;
      span {
        cursor: pointer;
      }
    }
    button.confirm {
      position: absolute;
      bottom: 24px;
      left: 24px;
      right: 24px;
    }
  }
}
