@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.popup-login-logo {
    width: 100%;
    overflow: visible;
    border-top: 1px solid map-get($neo-line-default, 500);
    .popup-login-welcome {
        height: 159px;
        padding: 36px 42px;
        background: map-get($neo-line-default, 500);
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        position: relative;
        img.bg-logo {
            position: absolute;
            bottom: -38px;
            right: 27px;
            width: 110px;
            z-index: 9999;
        }
    }
    .popup-login-tip {
        background: map-get($neo-line-default, 500);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 60%;
            width: 100%;
            bottom: 0;
            border-radius: 20px 20px 0 0;
            background-color: #fff;
        }
        img.bg {
            width: 100%;
        }
        .tip-content {
            position: absolute;
            bottom: 6px;
            left: 42px;
            font-size: 14px;
            color: #434543;
            font-weight: 400;
        }
    }
}

.popup-login-input {
    width: 291px;
    margin-top: 50px;
    margin-left: 42px;
    font-size: 15px;

    img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        margin-bottom: -2px;
    }

    button {
        span {
            display: inline-block;
            width: 17px;
            height: 14px;
            margin-top: -3px;
            @include bg($img-show-pwd);
        }
        span.hide-pwd {
            @include bg($img-hide-pwd);
        }
    }
}

.popup-login {
    width: 291px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
    // color: map-get($neo-line-default, 50);
    // background: map-get($neo-line-default, 500);
    border-radius: 40px;
    display: block;
    box-shadow: 0 2px 4px 0 map-get($neo-line-default, 200);
}
.popup-login-or {
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 15px 0;
    color: #999999;
}
.popup-login-or-link {
    font-size: 13px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    cursor: pointer;
    color: #7a87a9;
}
