@import 'src/styles/theme-default';
@import 'src/styles/popup-default';

.popup-login-logo {
    width: 100%;
    overflow: visible;
    border-top: 1px solid map-get($neo-line-default, 500);
    .popup-login-welcome {
        height: 159px;
        padding: 36px 42px;
        background: map-get($neo-line-default, 500);
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        position: relative;
        img.bg-logo {
            position: absolute;
            bottom: -38px;
            right: 27px;
            width: 110px;
            z-index: 9999;
        }
    }
    .popup-login-tip {
        background: map-get($neo-line-default, 500);
        position: relative;
        &::before {
            content: '';
            position: absolute;
            height: 60%;
            width: 100%;
            bottom: 0;
            border-radius: 20px 20px 0 0;
            background-color: #fff;
        }
        img.bg {
            width: 100%;
        }
        .tip-content {
            position: absolute;
            bottom: 6px;
            left: 42px;
            font-size: 14px;
            color: #434543;
            font-weight: 400;
        }
    }
}

.popup-login-input {
    width: calc(100% - 40px);
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;

    img {
        margin-right: 20px;
        top: -5px;
        margin-left: 10px;
    }

    button {
        span {
            display: inline-block;
            width: 17px;
            height: 17px;
            margin-top: -3px;
            @include bg($img-show-pwd);
        }
        span.hide-pwd {
            @include bg($img-hide-pwd);
        }
    }
}

.popup-login {
    width: calc(100% - 40px);
    height: 50px;
    border-radius: 20px;
    margin-left: 20px;
    margin-right: 25px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 40px;
}

.popup-login-reset {
    float: right;
    margin-top: 0px;
    margin-right: 15px;
}

::ng-deep {
    .mat-form-field-label {
        color: #CDD1D9;
    }
    .mat-form-field-underline {
        display: none;
    }
    .mat-form-field-prefix {
        top: -5px;
    }
    .popup-login-logo .mat-form-field-appearance-fill .mat-form-field-flex {
        border-radius: 10px;
        background: #F9F9F9;
    }
    .popup-login-input {
        button {
            top: -8px;
        }
    }
}
