@import 'src/styles/theme-default';
@import 'src/styles/popup-default';


.popup-login-logo {
    width: 100%;
    @include bg($img-login-bg);
    background-position-y: top;
    border-top: 1px solid map-get($neo-line-default, 500);
    overflow: visible;

    .pupup-login-logo-small {
        width: 129.5px;
        height: 92px;
        margin: 35px auto 50px auto;
        @include bg($img-popup-logo);
    }
}

.popup-login-welcome {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: -25px;
}

.popup-login-tip {
    font-size: 14px;
    font-weight: 500;
    margin-left: 52px;
    margin-top: 30.5px;
}

.popup-login-input {
    width: 291.5px;
    margin-top: 50px;
    margin-left: 42.5px;
    font-size: 15px;

    img {
        width: 15px;
        height: 15px;
        margin-right: 5px;
        margin-bottom: -2px;
    }

    button {
        span {
            display: inline-block;
            width: 17px;
            height: 14px;
            @include bg($img-show-pwd);
            margin-top: -3px;
        }
        span.hide-pwd {
            @include bg($img-hide-pwd);
        }
    }
}

.popup-login {
    width: 291px;
    height: 40px;
    margin: auto;
    margin-top: 50px;
    font-size: 15px;
    font-weight: 500;
    // color: map-get($neo-line-default, 50);
    // background: map-get($neo-line-default, 500);
    box-shadow: 0 2px 4px 0 rgba(87,83,245,0.4);
    border-radius: 40px;
    display: block;
}
.popup-login-or {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}
.popup-login-or-link {
    font-size: 13px;
    font-weight: 500;
    color: #7a87a9;
    display: flex;
    justify-content: center;
    cursor: pointer;
}