<section class="login">
  <div class="welcome">
    <img class="neo-logo" src="assets/images/login/neo-bg.png" alt="" />
    <p class="title">WELCOME TO</p>
    <p class="title">NeoLine!</p>
  </div>
  <div class="wallet-list">
    <p class="title">{{ "loginTip" | translate | async }}:</p>
    <div class="wallet">
      <img class="avatar" [avatar]="accountWallet.accounts[0].address" alt="" />
      <div class="account">
        <p class="name">{{ accountWallet.name }}</p>
        <p class="address">
          {{ accountWallet.accounts[0].address | longStr: 14 }}
        </p>
      </div>
      <img class="arrow" src="assets/images/common/arrow.svg" alt="" />
    </div>
    <form #loginForm="ngForm">
      <mat-form-field class="popup-login-input" appearance="fill">
        <img class="prefix" matPrefix src="/assets/images/login/lock.svg" />
        <mat-label>{{ "pwdInput" | translate | async }}</mat-label>
        <input
          matInput
          name="password"
          #password="ngModel"
          required
          [(ngModel)]="wallet.password"
          [type]="hidePwd ? 'password' : 'text'"
          (keyup.enter)="
            !isInit && !loginForm.invalid && !loading ? login() : null
          "
        />
        <img
          class="suffix"
          (click)="hidePwd = !hidePwd"
          matSuffix
          [src]="
            hidePwd
              ? 'assets/images/login/eye-hide.svg'
              : 'assets/images/login/eye-view.svg'
          "
        />
        <mat-error *ngIf="password.errors?.required">
          {{ "passwordRequired" | translate | async }}
        </mat-error>
      </mat-form-field>
    </form>
    <p class="reset">
      <span (click)="resetWallet()">
        {{ "resetWallet" | translate | async }}
      </span>
    </p>
    <button class="confirm" (click)="login()">
      {{ (loading ? "logining" : "login") | translate | async }}
    </button>
  </div>
</section>
