@import "src/styles/popup-default";
@import '../common';

.asset-item button {
  width: 44px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  &.unadd {
    background: #daf8f3;
    &:hover {
      box-shadow: 0px 5px 15px -5px rgba(6, 204, 171, 0.5);
    }
  }
  &.added {
    background: $line-color;
    img {
      width: 10px;
    }
  }
}
