<section class="pop-ups-veil" (click)="close()"></section>
<div class="content">
  <div class="my-account">
    <span>{{ "myAccount" | translate | async }}</span>
    <span class="right">
      <img theme src="assets/images/avatar-menu/guide.svg" alt="" />
      <img
        (click)="lock()"
        theme
        src="assets/images/avatar-menu/lock.svg"
        alt=""
      />
      <img
        (click)="navigate('/popup/setting')"
        theme
        src="assets/images/avatar-menu/setting.svg"
      />
      <img
        (click)="navigate('/popup/about')"
        theme
        src="assets/images/avatar-menu/about-us.svg"
      />
    </span>
  </div>
  <button class="search">
    <img class="search" theme src="assets/images/common/search.svg" />
    <input
      [placeholder]="'Search' | translate | async"
      (input)="searchWallet($event)"
      type="text"
    />
  </button>
  <div class="wallet-list">
    <div class="list-item" *ngFor="let list of searchWalletRes">
      <p class="list-title">
        <span>{{ list.title }}</span>
        <span class="dropdown" (click)="list.expand = !list.expand">
          <img
            theme
            [ngClass]="{ expand: list.expand }"
            src="/assets/images/common/arrow.svg"
            alt=""
          />
        </span>
      </p>
      <ul [hidden]="!list.expand">
        <li
          *ngFor="let item of list.walletArr; index as index"
          (click)="selectAccount(item, list.chain)"
          [ngClass]="{
            active: wallet.accounts[0].address === item.accounts[0].address
          }"
        >
          <span class="select"></span>
          <div
            class="avatar-box"
            [ngClass]="{ ledger: item.accounts[0]?.extra?.ledgerSLIP44 }"
          >
            <img class="avatar" [avatar]="item.accounts[0].address" />
            <img
              *ngIf="item.accounts[0]?.extra?.ledgerSLIP44"
              class="usb"
              src="/assets/images/ledger/ledger-avatar.png"
              alt=""
            />
          </div>
          <div>
            <p class="name">{{ item.name }}</p>
            <p class="balance" *ngIf="chainType === list.chain">
              {{ addressBalances[item.accounts[0].address] }}
              {{ list.chain === "NeoX" ? neoXNetwork.symbol : "NEO" }}
            </p>
          </div>
          <img
            theme
            (click)="
              $event.stopPropagation(); list.walletShowMoreArr[index] = true
            "
            class="more"
            src="/assets/images/common/more.svg"
            alt=""
          />
          <section
            class="pop-ups-veil"
            *ngIf="list.walletShowMoreArr[index]"
            (click)="
              $event.stopPropagation(); list.walletShowMoreArr[index] = false
            "
          ></section>
          <ul class="pop-ups-menu" *ngIf="list.walletShowMoreArr[index]">
            <li
              (click)="
                navigate(
                  '/popup/account?address=' +
                    item.accounts[0].address +
                    '&chainType=' +
                    list.chain
                )
              "
            >
              <img
                theme
                src="assets/images/account/home-account-detail.svg"
                alt=""
              />{{ "accountDetails" | translate | async }}
            </li>
            <li
              *ngIf="checkShowRemove(item)"
              (click)="removeAccount(item, list.chain)"
            >
              <img theme src="assets/images/account/home-delete.svg" alt="" />{{
                "removeAccount" | translate | async
              }}
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <button class="confirm pop-ups add-wallet" (click)="showAddWallet()">
    {{ "AddAccountOrHardwareWallet" | translate | async }}
  </button>
</div>
