@import "src/styles/pop-ups-menu.scss";
@import "src/styles/home-top.scss";

:host ::ng-deep app-header header {
  background: var(--background-color);
  border-bottom: none;
}

section.container {
  height: calc(100% - 74px);
  overflow-y: scroll;
  .asset-detail {
    background: var(--background-color);
    padding-bottom: 24px;
    .top {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      padding: 5px 24px;
      margin-bottom: 25px;
      position: relative;
      img.back {
        cursor: pointer;
      }
      .more {
        cursor: pointer;
        span {
          display: block;
          width: 4px;
          height: 4px;
          background: var(--title-color);
          border-radius: 50%;
          margin: 2px;
        }
      }
      .pop-ups-menu {
        width: 234px;
        position: absolute;
        right: 16px;
        top: 32px;
      }
    }
  }
}
