<section class="container">
  <nav title="OnePasswordPattern"></nav>
  <div class="content">
    <form [formGroup]="pwdForm">
      <ng-container *ngFor="let hidePwd of hideWalletsPwd; index as index">
        <p class="wallet-name">
          <span class="dot"></span>
          {{ allWalletArr[index].name }}
          <span class="address">
            {{ allWalletArr[index].accounts[0].address | longStr : 8 }}
          </span>
        </p>
        <mat-form-field class="form-field" appearance="fill" focused="true">
          <img matPrefix src="/assets/images/login/lock.svg" alt="" />
          <mat-label>{{ "enterPassword" | translate | async }}</mat-label>
          <input
            matInput
            required
            [formControlName]="'password' + index"
            [type]="hidePwd ? 'password' : 'text'"
          />
          <img
            class="suffix"
            (click)="hideWalletsPwd[index] = !hideWalletsPwd[index]"
            matSuffix
            [src]="
              hidePwd
                ? 'assets/images/login/eye-hide.svg'
                : 'assets/images/login/eye-view.svg'
            "
          />
          <mat-error *ngIf="pwdForm.get('password' + index).errors?.required">
            {{ "passwordRequired" | translate | async }}
          </mat-error>
          <mat-error *ngIf="pwdForm.get('password' + index).errors?.pattern">
            {{ "lengthLimit" | translate | async }}:
            {{ limit?.passwordLimitation[0] }}-{{
              limit?.passwordLimitation[1]
            }}
          </mat-error>
          <mat-error *ngIf="pwdForm.get('password' + index).errors?.wrong">
            {{ "wrongPassword" | translate | async }}
          </mat-error>
        </mat-form-field>
      </ng-container>
      <mat-form-field class="form-field" appearance="fill" focused="true">
        <img matPrefix src="/assets/images/login/lock.svg" alt="" />
        <mat-label>{{ "enterNewPassword" | translate | async }}</mat-label>
        <input
          matInput
          required
          formControlName="password"
          [type]="hideNewPwd ? 'password' : 'text'"
        />
        <img
          class="suffix"
          (click)="hideNewPwd = !hideNewPwd"
          matSuffix
          [src]="
            hideNewPwd
              ? 'assets/images/login/eye-hide.svg'
              : 'assets/images/login/eye-view.svg'
          "
        />
        <mat-error *ngIf="pwdForm.get('password').errors?.required">
          {{ "passwordRequired" | translate | async }}
        </mat-error>
        <mat-error *ngIf="pwdForm.get('password').errors?.pattern">
          {{ "lengthLimit" | translate | async }}:
          {{ limit?.passwordLimitation[0] }}-{{ limit?.passwordLimitation[1] }}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="form-field" appearance="fill" focused="true">
        <img matPrefix src="/assets/images/login/lock.svg" />
        <mat-label>
          {{ "enterConfirmNewPassword" | translate | async }}
        </mat-label>
        <input
          matInput
          required
          [errorStateMatcher]="matcher"
          formControlName="confirmPassword"
          [type]="hideConfirmNewPwd ? 'password' : 'text'"
          (keyup.enter)="!pwdForm.invalid && !loading ? submit() : null"
        />
        <img
          class="suffix"
          (click)="hideConfirmNewPwd = !hideConfirmNewPwd"
          matSuffix
          [src]="
            hideConfirmNewPwd
              ? 'assets/images/login/eye-hide.svg'
              : 'assets/images/login/eye-view.svg'
          "
        />
        <mat-error *ngIf="pwdForm.hasError('notSame')">
          {{ "confirmError" | translate | async }}
        </mat-error>
      </mat-form-field>
    </form>
    <button
      class="confirm"
      (click)="submit()"
      [ngClass]="{
        disabled: pwdForm.invalid || loading
      }"
    >
      {{ (loading ? "confirming" : "Confirm") | translate | async }}
    </button>
  </div>
</section>
