@import "src/styles/mat.scss";

.container {
  height: 100%;
  .content {
    height: calc(100% - var(--nav-height));
    padding: 16px 24px 24px;
    overflow-y: scroll;
    .tip {
      background: rgba(255, 129, 66, 0.1);
      border: 1px solid var(--warn-color);
      color: var(--sub-title-color);
      border-radius: 4px;
      margin-bottom: 16px;
      padding: 10px 16px;
      font-size: 12px;
      line-height: 18px;
      font-family: NeverMind-Regular;
    }
    .wallet-name {
      margin-bottom: 12px;
      .dot {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: var(--theme-color);
        margin-bottom: 2px;
      }
      .address {
        font-family: NeverMind-Regular;
        font-size: 12px;
        color: var(--sub-title-color);
      }
    }
    .pass-checked {
      height: 52px;
      display: flex;
      align-items: center;
      padding: 0 16px;
      margin-bottom: 20px;
      font-family: NeverMind-Regular;
      border-radius: 4px;
      color: var(--theme-color);
      background: var(--hover-color);
      img {
        margin-right: 12px;
      }
    }
    .form-field {
      width: 100%;
      margin-bottom: 20px;
    }
    button {
      width: 100%;
    }
  }
}
