@import "src/styles/popup-default.scss";
@import "src/styles/mat.scss";

.container {
  height: 100%;
  .content {
    height: calc(100% - 44px);
    padding: 32px 24px 24px;
    overflow-y: scroll;
    .wallet-name {
      margin-bottom: 12px;
      .dot {
        display: inline-block;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background: $theme-color;
        margin-bottom: 2px;
      }
      .address {
        font-family: NeverMind-Regular;
        font-size: 12px;
        color: $sub-title-color;
      }
    }
    .form-field {
      width: 100%;
      margin-bottom: 20px;
    }
    button {
      width: 100%;
    }
  }
}
