@import 'src/styles/theme-default';
@import 'src/styles/popup-default';
@import './dark';
@import './light';

.nav {
    height: 240px;
    position: relative;
}
.nav .nav-account {
    position: absolute;
    bottom: -$space;
    left: 60px;
    display: inline-flex;
    align-items: center;
}
.nav .avatar {
    width: 118px;
    height: 118px;
    border-radius: 118px;
}
.nav .name {
    margin-left: 22px;
    font-size: 20px;
}
.nav .modify-name {
    width: 23px;
    height: 23px;
    margin-left: 17px;
    cursor: pointer;
}
.welcome {
    position: relative;
    margin: 60px;
    border-radius: 8px;
}
.welcome img {
    width: 209px;
    height: 136px;
    position: absolute;
    bottom: 0;
    right: $space*2;
}
.welcome .info {
    padding: $space*2 230px $space*2 $space*2;
}
.welcome .info p.title {
    font-size: 24px;
}
.welcome .info p.content {
    font-size: 14px;
    margin-top: $space;
}

.body {
    align-items: center;
}
.address {
    padding: 0 60px;
}
.address .title {
    font-size: 18px;
}
#account-address {
    padding: $space;
    border-radius: 4px;
    margin: $space*2 0;
    font-size: 14px;
    display: block;
    width: 100%;
    resize: none;
}
.address button {
    border-radius: 50px;
}
.address button:not(:first-of-type) {
    margin-left: $space;
}
.qrcode .title {
    font-size: 18px;
}
#qrcode {
    display: block;
    margin: $space auto;
    width: 178px;
    height: 178px;
}

@media screen and (max-width: 1200px) {
    .nav {
        height: 150px;
    }
    .nav .avatar {
        width: 78px;
        height: 78px;
        border-radius: 78px;
        left: 40px;
    }
    .nav .name {
        left: 133px;
    }
    .welcome {
        margin: 40px;
    }
    .address {
        padding: 0 40px;
    }
}
