@import 'src/styles/theme-default';
@import 'src/styles/popup-default';


.nav {
    background: mat-color(mat-palette($neo-line-default, A400));
}
.nav .avatar {
    background: #E4E7EC;
}
.nav .name {
    color: #FFFFFF;
}
.nav .modify-name {
    @include bg($img-edit);
}
.welcome {
    background: #F4F7FC;
}
.welcome .info p.title {
    color: #484E6D;
}
.welcome .info p.content {
    color: #9FA8BD;
}

.address .title {
    color: #333333;
}
#account-address {
    border: 1px solid #E5E5E5;
    color: #484E6D;
}
.qrcode .title {
    color: #333333;
}
#qrcode {
    background: #E4E7EC;
}
