.content {
  font-weight: bold;
  text-align: center;
  width: 100%;
  .header {
    background: var(--background-color);
    .title {
      font-family: NeverMind;
      font-size: 18px;
      font-weight: 500;
      line-height: 16px;
      color: var(--title-color);
      text-align: center;
    }
    .avatar {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      padding-top: 24px;
      padding-bottom: 20px;
      .item {
        width: 150px;
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      .dapp-avatar {
        width: 52px;
        height: 52px;
        border-radius: 32px;
        background: rgba(73, 73, 73, 1);
        display: inline-flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        img {
          width: 30px;
          height: 30px;
        }
      }
      img.address {
        width: 52px;
        height: 52px;
      }
      .name {
        margin-top: 12px;
        font-size: 14px;
        line-height: 16px;
      }
      .hostname {
        font-size: 12px;
        margin-top: 4px;
        color: var(--sub-title-color);
        font-family: NeverMind-Regular;
      }
      .name,
      .hostname {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      img.middle {
        height: 30px;
        margin-top: 11px;
      }
    }
  }

  .separation {
    height: 36px;
    background: var(--background-color);
    overflow: hidden;
    position: relative;
    img.bg {
      width: 100%;
    }
    img.arrow-bg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .connect-body {
    padding: 0 24px 20px 24px;
    background: var(--body-background-color);
    .detail-en {
      font-size: 18px;
      line-height: 22px;
      padding: 0 30px;
      color: var(--title-color);
      font-family: NeverMind-DemiBold;
    }
    .detail-cn {
      font-family: NeverMind-Regular;
      margin-top: 8px;
      line-height: 20px;
      color: var(--sub-title-color);
    }
    .choose-auth-rule {
      margin-top: 24px;
      font-family: NeverMind-Regular;
      font-size: 12px;
      color: var(--sub-title-color);
      .select-radio {
        height: 14px;
        width: 14px;
        display: inline-block;
        border-radius: 50%;
        vertical-align: middle;
        background: url("/assets/images/third-party/auth-selected.svg") center
          center no-repeat;
        opacity: 0.3;
        cursor: pointer;
        &.selected {
          opacity: 1;
        }
      }
      .rule-select {
        display: inline-block;
        margin-left: 12px;
        position: relative;
        .rule-value {
          width: 285px;
          height: 28px;
          display: inline-flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 8px;
          border-radius: 4px;
          border: 0.5px solid var(--tip-color);
        }
        img {
          width: 6px;
        }
        .rule-option {
          position: absolute;
          left: 0;
          right: 0;
          top: 28px;
          height: 28px;
          line-height: 28px;
          padding-left: 8px;
          text-align: left;
          border-radius: 4px;
          background: var(--line-color);
        }
      }
      .auth-rule-select {
        padding: 8px;
        font-size: 12px;
        margin-left: 12px;
        border: 1px solid var(--tip-color);
        font-family: NeverMind-Regular;
        color: var(--sub-title-color);
        border-radius: 4px;
      }
    }
    .submit-group {
      min-height: 40px;
      margin-top: 50px;
      button {
        width: calc(50% - 12px);
        &.cancel {
          margin-right: 24px;
        }
      }
    }

    .secure {
      width: 100%;
      margin-top: 36px;
    }
  }
}
