<section class="content">
  <!-- <p class="title">{{ 'thAuthTitle' | translate | async}}</p> -->
  <div class="avatar">
    <div class="dashed-hori-line"></div>
    <div class="dashed-vert-line"></div>
    <div class="avatar-group">
      <img class="left avatar" [src]="iconSrc" appErrorSrc alt="" />
      <img
        class="middle"
        theme
        src="/assets/images/common/selected-account.svg"
        alt=""
      />
      <img class="right" [avatar]="address" alt="" />
    </div>
    <div class="name-group">
      <span class="left">{{ title }}</span>
      <span class="right">{{ wallet.name }}</span>
    </div>
    <p class="address">{{ hostname }}</p>
    <span class="dot"></span>
  </div>
  <p class="detail-en">{{ title }} {{ "thAuthTip" | translate | async }}</p>
  <p class="detail-cn">{{ "thAuthDetail" | translate | async }}</p>
  <!-- <a class="more" href="">{{ 'thAuthMore' | translate | async}}></a> -->
  <div class="choose-auth-rule">
    <span
      class="select-radio"
      [ngClass]="{ selected: ruleCheck }"
      (click)="ruleCheck = !ruleCheck"
    ></span>
    <div class="rule-select">
      <span class="rule-value" (click)="showRuleOptions = !showRuleOptions">
        {{
          (ruleSelected === "true"
            ? "connectChooseAllow"
            : "connectChooseNotAllow"
          )
            | translate
            | async
        }}<img theme src="/assets/images/common/triangle-fill.svg" alt="" />
      </span>
      <div *ngIf="showRuleOptions" class="rule-option" (click)="changeRule()">
        {{
          (ruleSelected === "true"
            ? "connectChooseNotAllow"
            : "connectChooseAllow"
          )
            | translate
            | async
        }}
      </div>
    </div>
  </div>
  <div class="secure">
    <img theme src="/assets/images/third-party/auth-secure.svg" alt="" />
  </div>
</section>

<section class="submit-group">
  <button
    class="cancel"
    [ngClass]="{ disabled: ruleCheck && ruleSelected == 'true' }"
    (click)="refuse()"
  >
    {{ "refuse" | translate | async }}
  </button>
  <button
    class="confirm"
    [ngClass]="{ disabled: ruleCheck && ruleSelected == 'false' }"
    (click)="connect()"
  >
    {{ "connect" | translate | async }}
  </button>
</section>
