<section class="content">
  <div class="header">
    <p class="title">{{ "thAuthTitle" | translate | async }}</p>
    <img [src]="iconSrc" [appErrorSrc]="'unknown'" alt="" />
    <p class="hostname">{{ hostname }}</p>
    <p class="authTip">{{ "thAuthTip" | translate | async }}</p>
  </div>

  <div class="separation">
    <img class="bg" theme src="/assets/images/third-party/auth-bg.svg" alt="" />
    <img
      class="arrow-bg"
      theme
      src="/assets/images/third-party/auth-arrow.svg"
      alt=""
    />
  </div>

  <div class="connect-body">
    <p class="list-title">
      <span>{{ "thAuthAccounts" | translate | async }}</span>
      <span (click)="edit()" class="edit">
        {{ "edit" | translate | async }}
      </span>
    </p>
    <ul class="account-list">
      <li *ngFor="let item of selectAccounts">
        <img class="avatar" [avatar]="item.accounts[0].address" />
        <div class="name">
          <p class="label">{{ item.name }}</p>
          <p class="address">
            {{ item.accounts[0].address | longStr : 6 }}
          </p>
        </div>
        <p class="balance">
          <span class="balance-value">
            {{ addressBalances[item.accounts[0].address] | number : "1.0-8" }}
          </span>
          {{ currentChainType === "NeoX" ? currentNetwork.symbol : "NEO" }}
        </p>
      </li>
    </ul>

    <div class="submit-group">
      <button class="cancel" (click)="refuse()">
        {{ "refuse" | translate | async }}
      </button>
      <button
        [ngClass]="{ disabled: selectAccounts.length <= 0 }"
        class="confirm"
        (click)="connect()"
      >
        {{ "connect" | translate | async }}
      </button>
    </div>
  </div>
</section>
