.content {
  width: 100%;
  .header {
    background: var(--background-color);
    padding-inline: 24px;
    padding-bottom: 16px;
    text-align: center;
    .title {
      font-family: NeverMind;
      font-size: 18px;
      font-weight: 500;
      color: var(--title-color);
      text-align: center;
    }
    img {
      margin-top: 16px;
      width: 48px;
      height: 48px;
      border-radius: 50%;
    }
    .hostname {
      font-size: 18px;
      margin-top: 8px;
      color: var(--title-color);
      font-family: NeverMind-DemiBold;
    }
    .authTip {
      margin-top: 8px;
      line-height: 20px;
      color: var(--sub-title-color);
      font-family: NeverMind-Regular;
    }
  }

  .separation {
    height: 36px;
    background: var(--background-color);
    overflow: hidden;
    position: relative;
    img.bg {
      width: 100%;
    }
    img.arrow-bg {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .connect-body {
    padding: 0 24px 20px 24px;
    background: var(--body-background-color);
    .list-title {
      display: flex;
      justify-content: space-between;
      .edit {
        color: var(--theme-color);
        cursor: pointer;
      }
    }

    ul.account-list {
      min-height: 234px;
      padding: 12px 0;
      li {
        height: 52px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        .avatar {
          width: 32px;
          height: 32px;
        }
        .name {
          flex: 1;
          .label {
            font-size: 16px;
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .address {
            font-family: NeverMind-Regular;
            color: var(--sub-title-color);
            margin-top: 8px;
            font-size: 12px;
          }
        }
        .balance {
          display: inline-flex;
          gap: 3px;
          .balance-value {
            max-width: 120px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }
      }
    }

    .submit-group {
      min-height: 40px;
      button {
        width: calc(50% - 12px);
        &.cancel {
          margin-right: 24px;
        }
      }
    }
  }
}
