section.main {
  max-width: 696px;
  padding: 40px 24px;
  margin: 0 auto;
  text-align: center;
  .title {
    color: var(--sub-title-color);
    font-size: 18px;
    line-height: 24px;
  }
  ul.device-list {
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    text-align: left;
    li {
      width: 375px;
      height: 56px;
      padding: 0 20px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 10px;
      background: var(--message-box-color);
      border: 1px solid var(--message-box-color);
      font-size: 15px;
      font-family: NeverMind-Regular;
      cursor: pointer;
      .name {
        flex: 1;
      }
      .select {
        display: none;
      }
      &.active {
        color: var(--theme-color);
        border: 1px solid var(--theme-color);
        .select {
          display: inline-block;
          width: 18px;
          height: 18px;
          border-radius: 4px;
          background: url("/assets/images/common/selected-account.svg") center
            center no-repeat;
        }
      }
    }
  }
  .qr-tip {
    margin-top: 24px;
    font-size: 14px;
    line-height: 18px;
    color: var(--sub-title-color);
    font-family: NeverMind-Regular;
  }
  .confirm-content {
    width: 100%;
    margin-top: 70px;
    text-align: center;
    button {
      width: 327px;
    }
  }
}
