<div class="popup-home-tx-page">
  <div
    class="tx-item"
    *ngFor="let item of txData; let i = index"
    (click)="showDetail(item, assetId === '' ? item.symbol : symbol)"
  >
    <div class="head">
      <span class="time">
        {{ item.block_time * 1000 | date : "yyyy-MM-dd HH:mm" }}
      </span>
      <span class="status" *ngIf="item.id && item.id !== -1">
        {{ "confirmed" | translate | async }}
      </span>
      <span class="status wait" *ngIf="item.id === -1 || item.id === undefined">
        {{ "confirming" | translate | async }}
      </span>
      <img
        class="more-info-btn"
        theme
        src="/assets/images/common/arrow.svg"
        alt=""
      />
    </div>
    <div class="content">
      <img
        *ngIf="item.type !== 'received'"
        src="/assets/images/txs/send.svg"
        alt=""
      />
      <img
        *ngIf="item.type === 'received'"
        theme
        src="/assets/images/txs/receive.svg"
        alt=""
      />
      <p class="txid">{{ item.txid | longStr }}</p>
      <div class="amount-box">
        <p class="asset-amount" [class]="{ send: item.type !== 'received' }">
          {{ item.value }} {{ assetId === "" ? item.symbol : symbol }}
        </p>
        <!-- <p class="money-amount"></p> -->
      </div>
    </div>
    <hr />
  </div>
  <div class="loading" *ngIf="loading">{{ "loading" | translate | async }}</div>
  <p *ngIf="!loading" class="no-data">
    {{ "oneMonthTxs" | translate | async }}
  </p>
</div>
