<div class="popup-home-tx-page">
  <div
    class="tx-item"
    *ngFor="let item of txData; let i = index"
    (click)="showDetail(item, assetId === '' ? item.symbol : symbol)"
  >
    <div class="head">
      <span class="time">
        {{ item.block_time * 1000 | date : "yyyy-MM-dd HH:mm" }}
      </span>
      <ng-container *ngIf="chainType !== 'NeoX'">
        <span class="status" *ngIf="item.id && item.id !== -1">
          {{ "confirmed" | translate | async }}
        </span>
        <span
          class="status wait"
          *ngIf="item.id === -1 || item.id === undefined"
        >
          {{ "confirming" | translate | async }}
        </span>
      </ng-container>
      <ng-container *ngIf="chainType === 'NeoX'">
        <span class="status failed" *ngIf="item?.status === 0">
          {{ "failed" | translate | async }}
        </span>
        <span class="status" *ngIf="item?.status === 1">
          {{ "confirmed" | translate | async }}
        </span>
        <span class="status failed" *ngIf="item?.status === 2">
          {{ "dropped" | translate | async }}
        </span>
        <span class="status failed" *ngIf="item?.status === 3">
          {{ "cancelled" | translate | async }}
        </span>
        <span class="status failed" *ngIf="item?.status === 4">
          {{ "canceling" | translate | async }}
        </span>
        <span class="status wait" *ngIf="item?.status === undefined">
          {{ "confirming" | translate | async }}
        </span>
      </ng-container>
      <img
        class="more-info-btn"
        theme
        src="/assets/images/common/arrow.svg"
        alt=""
      />
    </div>
    <div class="content">
      <img
        *ngIf="item.type !== 'received'"
        src="/assets/images/txs/send.svg"
        alt=""
      />
      <img
        *ngIf="item.type === 'received'"
        theme
        src="/assets/images/txs/receive.svg"
        alt=""
      />
      <p class="txid">{{ item.txid | longStr }}</p>
      <div class="amount-box">
        <p class="asset-amount" [class]="{ send: item.type !== 'received' }">
          {{ item.value }} {{ assetId === "" ? item.symbol : symbol }}
        </p>
      </div>
    </div>
    <ng-container *ngIf="chainType === 'NeoX'">
      <div
        class="btn-group"
        (click)="$event.stopPropagation()"
        *ngIf="item?.status === undefined"
      >
        <button class="cancel" (click)="speedUpTx(item, false)">
          {{ "cancelTransaction" | translate | async }}
        </button>
        <button
          class="confirm"
          [ngClass]="{ disabled }"
          (click)="speedUpTx(item, true)"
        >
          {{ "speedUp" | translate | async }}
        </button>
      </div>
      <div
        class="btn-group"
        (click)="$event.stopPropagation()"
        *ngIf="item?.status === TransactionStatus.Canceling"
      >
        <button class="cancel" (click)="speedUpTx(item, false)">
          {{ "SpeedUpCancellation" | translate | async }}
        </button>
      </div>
    </ng-container>

    <hr />
  </div>
  <div class="loading" *ngIf="loading">{{ "loading" | translate | async }}</div>
  <p *ngIf="!loading && chainType !== 'NeoX'" class="no-data">
    {{ "oneMonthTxs" | translate | async }}
  </p>
  <p
    *ngIf="!loading && chainType === 'NeoX' && !txData?.length"
    class="no-data"
  >
    {{ "youHaveNoTransactions" | translate | async }}
  </p>
</div>
