.asset-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #444644;
  padding: 25px 20px;
  cursor: pointer;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;
    height: 1px;
    background: #efefef;
  }
  &:hover {
    background: lightgray;
  }
  .avatar-box {
    width: 40px;
    height: 40px;
    border: 0.5px solid #efefef;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      height: 25px;
      max-width: 25px;
    }
  }
  .name {
    flex: 1;
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .right {
    max-width: 150px;
    margin-right: 5px;
    padding-left: 10px;
    text-align: right;
    .amount,
    .rate {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .rate {
      font-size: 15px;
      color: #808a94;
    }
  }
}

.no-data {
  margin-top: 40px;
  text-align: center;
  font-size: 15px;
  color: #b0b6be;
  margin-bottom: 40px;
}
