@import "src/styles/popup-default";
@import "src/styles/asset-item";
@import "../../home/common.scss";

.asset-item {
  .item-middle span {
    display: inline-block;
    max-width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 16px;
    font-family: NeverMind-Regular;
  }
  .item-right .balance {
    font-size: 14px;
    font-family: NeverMind-Regular;
    color: $sub-title-color;
  }
}
