@import 'src/styles/theme-default';

:host {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-flow: column;
    height: 100%;
}
.info {
    align-items: center;
    padding: $space*2;
}
.info .avatar {
    width: 68px;
    height: 68px;
    display: inline-block;
    margin-right: 30px;
}
.info .balance {
    font-size: 26px;
    color: #333333;
    font-weight: bold;
}
.rate-balance {
    font-size: 18px;
    font-weight: bold;
    color: #9fa8bd;
}
.info button {
    border-radius: 50px;
}
.info button:not(:first-of-type) {
    margin-left: $space;
}

.title {
    padding: $space $space*2;
}
.title span:first {
    font-size: 18px;
}

.tx {
    overflow-y: auto;
}

pager {
    float: right;
    margin: $space*2;
}

.nomore {
    color: #999999;
    font-size: 12px;
    border-top: 1px solid #F4F7FC;
    padding: $space;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .info .balance {
        font-size: 20px;
    }
    .info .avatar {
        width: 58px;
        height: 58px;
    }
}