.create-amount-fee {
  .label {
    font-family: NeverMind-Regular;
    color: var(--sub-title-color);
    margin-top: 24px;
  }
  .value {
    height: 52px;
    padding: 0 16px;
    border-radius: 4px;
    background: var(--box-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;
    cursor: pointer;
    .fee-desc {
      font-family: NeverMind-Regular;
      font-size: 12px;
      margin-bottom: 5px;
    }
    .fee {
      color: var(--sub-title-color);
      &.animate {
        animation: showFeeAnimation 1.5s ease-in-out alternate;
      }
    }
  }
}

.create-confirm-fee {
  .label {
    font-size: 13px;
    font-weight: normal;
    line-height: 17px;
    color: var(--sub-title-color);
    img.edit {
      margin-left: 12px;
    }
  }
  .fee {
    margin-top: 8px;
    font-family: NeverMind;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;
    color: var(--second-color);
    &.animate {
      animation: showFeeAnimation 1.5s ease-in-out alternate;
    }
  }
}

@keyframes showFeeAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
