
@import "src/styles/asset-item";

.asset-item {
  padding: 0 24px;
  cursor: pointer;
  position: relative;
  border-bottom: none;
  &::after {
    content: "";
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 0;
    height: 1px;
    background: var(--line-color);
  }
  &:hover {
    background: var(--hover-color);
    :host-context([data-theme-style="dark-theme"]) & {
      background: #43464d;
    }
  }
}

.loading,
.no-data {
  margin: 40px 0;
  text-align: center;
  color: var(--tip-color);
}
