<div class="loading-box" *ngIf="ledgerSignLoading">
  <div class="content">
    <mat-spinner diameter="72" strokeWidth="10"></mat-spinner>
    <p class="tip" *ngIf="loadingMsg">{{ loadingMsg | translate | async }}</p>
    <button class="cancel pop-ups" (click)="cancelLedgerSign()">
      {{ "cancel" | translate | async }}
    </button>
  </div>
</div>
<div class="popup-home">
  <div class="header">
    <home-dapp-auth
      [currentWallet]="currentWallet"
      [allWallet]="allWallet"
    ></home-dapp-auth>
    <div class="wallet-info">
      <p class="name">{{ currentWallet?.name || "" }}</p>
      <copy [value]="address">
        <p class="address">
          <img
            class="usb"
            *ngIf="currentWallet.accounts[0]?.extra?.ledgerSLIP44"
            src="/assets/images/ledger/usb.svg"
            alt=""
          />
          <span>{{ address | longStr }}</span>
          <img class="copy" theme src="assets/images/common/copy.svg" alt="" />
        </p>
      </copy>
    </div>
    <img
      class="menu"
      theme
      src="/assets/images/common/menu.svg"
      (click)="showMenu = !showMenu"
      alt=""
    />
    <section
      class="pop-ups-veil"
      *ngIf="showMenu"
      (click)="showMenu = false"
    ></section>
    <ul class="pop-ups-menu" *ngIf="showMenu">
      <li routerLink="/popup/account">
        <img
          theme
          src="assets/images/account/home-account-detail.svg"
          alt=""
        />{{ "accountDetails" | translate | async }}
      </li>
      <li (click)="toWeb()">
        <img theme src="assets/images/account/home-explorer.svg" alt="" />{{
          "ViewOnExplorer" | translate | async
        }}
      </li>
      <li *ngIf="showRemove" (click)="removeAccount()">
        <img
          class="delete"
          src="assets/images/account/home-delete.svg"
          alt=""
        />{{ "removeAccount" | translate | async }}
      </li>
    </ul>
  </div>
  <div class="popup-home-body">
    <div class="token-logo">
      <token-logo
        [assetId]="balance?.asset_id"
        [chainType]="chainType"
        [symbol]="balance?.symbol"
        [neoXChainId]="neoXNetwork.chainId"
      ></token-logo>
    </div>
    <p class="asset-balance">
      {{ balance?.balance || 0 | numberFixed : 8 }} {{ balance?.symbol }}
    </p>
    <p class="asset-money">
      {{ balance?.rateBalance | numberFixed : 2 }} {{ rateCurrency }}
    </p>
    <div
      class="transaction-btn-container"
      [ngClass]="{
        bridge:
          (chainType === 'NeoX' && neoXNetwork.chainId === 12227331) ||
          (chainType === 'Neo3' && n3Network.chainId === 6)
      }"
    >
      <div class="item receive" [routerLink]="['/popup/transfer/receive']">
        <img theme src="assets/images/transfer/receive.svg" alt="" />
        {{ "receive" | translate | async }}
      </div>
      <div class="item transfer" [routerLink]="['/popup/transfer/create']">
        <img theme src="assets/images/transfer/transfer.svg" alt="" />
        {{ "transfer" | translate | async }}
      </div>
      <div
        *ngIf="
          (chainType === 'NeoX' && neoXNetwork.chainId === 12227331) ||
          (chainType === 'Neo3' && n3Network.chainId === 6)
        "
        class="item receive"
        [routerLink]="['/popup/bridge']"
      >
        <img theme src="assets/images/bridge/bridge.svg" alt="" />
        {{ "Bridge" | translate | async }}
      </div>
    </div>

    <div class="claim-container" *ngIf="showClaim">
      <token-logo
        customClass="claim"
        [assetId]="claimAssetId"
        [chainType]="chainType"
      ></token-logo>
      <div class="claim-status-box">
        <p class="number">{{ claimNumber | numberFixed }} GAS</p>
        <p class="status">{{ claimStatus | translate | async }}</p>
      </div>
      <button
        class="claim-btn"
        mat-flat-button
        (click)="claim()"
        [disabled]="loading || !init || !showClaim"
      >
        <ng-container *ngIf="!loading && claimStatus !== 'success'">
          {{
            claimStatus !== "confirmed"
              ? ("syncNow" | translate | async)
              : ("claim" | translate | async)
          }}
        </ng-container>
        <ng-container *ngIf="claimStatus === 'success' && !loading"
          ><img theme src="/assets/images/common/selected.svg" alt=""
        /></ng-container>
        <mat-spinner
          *ngIf="loading"
          strokeWidth="2"
          diameter="20"
        ></mat-spinner>
      </button>
    </div>
    <hr class="claim-line" />
    <div class="tabs-container">
      <span
        [class]="{ selected: selectedIndex === 0 }"
        (click)="selectedIndex = 0"
      >
        {{ "assets" | translate | async }}
      </span>
      <span
        [class]="{ selected: selectedIndex === 1 }"
        (click)="selectedIndex = 1"
      >
        {{
          chainType === "Neo3"
            ? "NEP11"
            : chainType === "NeoX"
            ? "NFT"
            : ("transaction" | translate | async)
        }}
      </span>
      <img
        (click)="toAdd()"
        class="asset-add"
        theme
        src="/assets/images/asset/add.svg"
        routerLink="/popup/add-asset"
        alt=""
      />
    </div>
    <div [hidden]="selectedIndex === 1">
      <app-assets (backAsset)="initNeo($event)"></app-assets>
    </div>
    <div [hidden]="selectedIndex === 0">
      <app-nfts *ngIf="chainType === 'Neo3'"></app-nfts>
      <app-evm-nfts *ngIf="chainType === 'NeoX'"></app-evm-nfts>
      <app-asset-tx-page
        *ngIf="chainType === 'Neo2'"
        [symbol]="balance?.symbol"
      >
      </app-asset-tx-page>
    </div>
  </div>
</div>

<app-home-backup [currentWallet]="currentWallet"></app-home-backup>
