@import "src/styles/pop-ups-menu.scss";
@import "src/styles/home-top.scss";
@import "src/styles/tab-container.scss";

.popup-home {
  height: 100%;
  .header {
    height: 67px;
    text-align: center;
    position: relative;
    border-bottom: 1px solid var(--line-color);
    home-dapp-auth {
      position: absolute;
      left: 20px;
      top: 22px;
    }
    .wallet-info {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .name {
        font-family: NeverMind-Medium;
        font-size: 18px;
        line-height: 20px;
        color: var(--important-title-color);
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .address {
        display: inline-flex;
        align-items: center;
        height: 30px;
        padding: 0 16px;
        border-radius: 14px;
        font-family: NeverMind-Regular;
        font-size: 12px;
        color: var(--title-color);
        cursor: pointer;
        &:hover {
          background: var(--hover-color);
        }
        img.usb {
          width: 15px;
        }
        span {
          margin: 0 8px;
        }
      }
    }
    .menu {
      position: absolute;
      right: 16px;
      bottom: 20px;
      cursor: pointer;
    }
    .pop-ups-menu {
      width: 234px;
      position: absolute;
      right: 16px;
      top: 64px;
    }
  }
  .popup-home-body {
    height: calc(100% - 67px);
    position: relative;
    overflow: auto;
    .token-logo {
      margin-block: 16px;
      text-align: center;
    }

    .transaction-btn-container.bridge {
      padding: 0 26px;
    }

    .claim-container {
      height: 48px;
      margin: 24px;
      padding: 0 6px;
      border-radius: 24px;
      background: var(--message-box-color);
      display: flex;
      align-items: center;
      .claim-status-box {
        margin-left: 12px;
        flex: 1 1 auto;
        .number {
          font-size: 12px;
          line-height: 12px;
          font-family: NeverMind-Medium;
          color: var(--title-color);
        }
        .status {
          font-size: 10px;
          line-height: 12px;
          font-family: NeverMind-Regular;
          color: var(--tip-color);
          margin-top: 2px;
        }
      }
      button.claim-btn {
        width: 67px;
        height: 36px;
        border-radius: 18px;
        background: var(--body-background-color);
        font-family: NeverMind-Regular;
        font-size: 14px;
        color: var(--theme-color);
        cursor: pointer;
        mat-spinner {
          margin: auto;
        }
        img {
          width: 15px;
          height: 15px;
          margin: auto;
          filter: drop-shadow(1000px 0 0 var(--theme-color));
          transform: translate(-1000px);
        }
      }
    }
    .claim-line {
      margin-top: 24px;
      border: none;
      border-top: 4px solid var(--line-color);
    }
    .tabs-container {
      img.asset-add {
        position: absolute;
        right: 24px;
        cursor: pointer;
        border-radius: 50%;
        background: var(--theme-color);
        &:hover {
          box-shadow: var(--asset-add-box-shadow);
        }
      }
    }
  }
}

.get-help {
  margin-top: 58px;
  padding-bottom: 24px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  text-align: center;
  cursor: pointer;
  color: var(--theme-color);
  &:hover {
    text-decoration: underline;
  }
}
