<app-header></app-header>
<div class="popup-home">
  <div class="account-container">
    <div class="account-content">
      <div class="account-name">
        <img class="avatar" [avatar]="address" alt="" />
        <div class="right">
          <p class="name" (click)="showAccountList()">
            <span>{{ currentWallet?.name || "" }}</span>
            <img theme src="assets/images/common/triangle-fill.svg" alt="" />
          </p>
          <p class="address-warp">
            <img
              class="usb"
              *ngIf="currentWallet.accounts[0]?.extra?.ledgerSLIP44"
              src="/assets/images/ledger/usb.svg"
              alt=""
            />
            <span class="address">{{ address | longStr }}</span>
            <copy [value]="address">
              <img
                class="copy"
                theme
                src="assets/images/common/copy.svg"
                alt=""
              />
            </copy>
            <home-dapp-auth
              *ngIf="showDappAuth"
              [currentWallet]="currentWallet"
              [allWallet]="allWallet"
              [chainType]="chainType"
            ></home-dapp-auth>
          </p>
        </div>
      </div>
      <div class="account-value">
        <span *ngIf="!hideValue"
          >{{ rateCurrency === "USD" ? "$" : "¥" }}
          {{ totalValue | number }}</span
        >
        <ul *ngIf="hideValue">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
        </ul>
        <img
          (click)="hideValue = !hideValue"
          theme
          *ngIf="hideValue"
          src="assets/images/login/eye-hide.svg"
        />
        <img
          (click)="hideValue = !hideValue"
          theme
          *ngIf="!hideValue"
          src="assets/images/login/eye-view.svg"
        />
      </div>
    </div>
  </div>
  <div class="popup-home-body">
    <div class="transaction-btn-container" [ngClass]="{ bridge: showBridge() }">
      <div class="item receive" [routerLink]="['/popup/transfer/receive']">
        <img theme src="assets/images/transfer/receive.svg" alt="" />
        {{ "receive" | translate | async }}
      </div>
      <div class="item transfer" [routerLink]="['/popup/transfer/create']">
        <img theme src="assets/images/transfer/transfer.svg" alt="" />
        {{ "transfer" | translate | async }}
      </div>
      <div
        *ngIf="showBridge()"
        class="item receive"
        [routerLink]="['/popup/bridge']"
      >
        <img theme src="assets/images/bridge/bridge.svg" alt="" />
        {{ "Bridge" | translate | async }}
      </div>
    </div>
    <app-claim-gas></app-claim-gas>
    <hr class="claim-line" />
    <div class="tabs-container">
      <div class="content">
        <span
          [class]="{ selected: selectedIndex === 0 }"
          (click)="selectedIndex = 0"
        >
          {{ "assets" | translate | async }}
        </span>
        <span
          [class]="{ selected: selectedIndex === 1 }"
          (click)="selectedIndex = 1"
        >
          {{
            chainType === "Neo3"
              ? "NEP11"
              : chainType === "NeoX"
              ? "NFT"
              : ("transaction" | translate | async)
          }}
        </span>
        <span
          *ngIf="chainType === 'NeoX'"
          [class]="{ selected: selectedIndex === 2 }"
          (click)="selectedIndex = 2"
        >
          {{ "Activity" | translate | async }}
        </span>
      </div>
      <img
        (click)="toAdd()"
        class="asset-add"
        theme
        src="/assets/images/asset/add.svg"
        routerLink="/popup/add-asset"
        alt=""
      />
    </div>
    <div *ngIf="selectedIndex === 0">
      <app-assets (backAsset)="getTotalValue($event)"></app-assets>
      <p class="get-help" (click)="getSupport()">
        {{ "GetSupport" | translate | async }}{{ " " }}
        <img src="assets/images/common/support-arrow.svg" alt="" />
      </p>
    </div>
    <div *ngIf="selectedIndex === 1">
      <ng-container *ngIf="chainType !== 'Neo2'">
        <app-nfts *ngIf="chainType === 'Neo3'"></app-nfts>
        <app-evm-nfts *ngIf="chainType === 'NeoX'"></app-evm-nfts>
        <p class="get-help" (click)="getSupport()">
          {{ "GetSupport" | translate | async }}{{ " " }}
          <img src="assets/images/common/support-arrow.svg" alt="" />
        </p>
      </ng-container>

      <app-asset-tx-page
        *ngIf="chainType === 'Neo2'"
        [symbol]="balance?.symbol"
      ></app-asset-tx-page>
    </div>
    <div *ngIf="selectedIndex === 2">
      <app-asset-tx-page></app-asset-tx-page>
      <p class="get-help" (click)="getSupport('txs')">
        {{ "GetSupport" | translate | async }}{{ " " }}
        <img src="assets/images/common/support-arrow.svg" alt="" />
      </p>
    </div>
  </div>
</div>

<app-home-backup [currentWallet]="currentWallet"></app-home-backup>
